.node-type-self-manage-dasa .date-no-float .form-type-date-timezone,
.node-type-self-manage-dasa #edit-actions,
.node-type-self-manage-dasa .tabs--primary,
.node-type-self-manage-dasa .field-name-title-field,
.node-type-self-manage-dasa .form-item-workbench-access,
.node-type-self-manage-dasa h1.page-header em {
    display:none;
}

.node-type-self-manage-dasa .field-name-field-dasa-workshop-limit,
.node-type-self-manage-dasa .field-name-field-dasa-current-count {
    width:40%;
    float:left; 
}.node-type-self-manage-dasa .field-name-field-dasa-current-count {
    margin-left:20%;
}

.node-type-self-manage-dasa .field-name-field-dasa-section-a,
.node-type-self-manage-dasa .field-name-field-dasa-section-b {
    width:50%;
    float:left;
    clear:none;
}
.node-type-self-manage-dasa .field-name-field-dasa-section-a {
    padding-right: 4px;
}
.node-type-self-manage-dasa .field-name-field-dasa-section-b {
    padding-left: 4px;
}
.node-type-self-manage-dasa .field-name-field-dasa-section-a table thead,
.node-type-self-manage-dasa .field-name-field-dasa-section-b table thead {
    background-color:#002b55;
}
.node-type-self-manage-dasa .field-name-field-dasa-section-a table thead label,
.node-type-self-manage-dasa .field-name-field-dasa-section-b table thead label {
    text-align: center;
    font-size:20px;
    display:block;
    color:#fff;
}
.node-type-self-manage-dasa .table-striped>tbody>tr:nth-child(even)>td {
    background-color:#e0f0e9;;
}

ul.dasa-ul {
    position: fixed;
    margin-top: -116px;
    left:5px;
    list-style: none;
    padding:12px;
    background:#fff;
    border-radius: 5px;

}
ul.dasa-ul li a.dasa-grey {
    background-color: #3E4542;

}
ul.dasa-ul li a.dasa-green,
ul.dasa-ul li button {
    background-color: #5cb85c;
    border:none;
}
ul.dasa-ul li a:hover,
.dasa-app {
    position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz';
    font-size: 10px;
    font-weight: bold;
    display: block;
    padding: 4px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 9px 0px rgba(0,43,85,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(0,43,85,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(0,43,85,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 20px auto;
    width: 50px;
    height:50px;
    text-align: center;
    
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}
ul.dasa-ul span {
    font-size:30px;
}
span.glyphicon {
    display:block;
}
.dasa-app:focus,
.dasa-app:active {
    -webkit-box-shadow: 0px 3px 0px rgba(0,43,85,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(0,43,85,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(0,43,85,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}