#dropdown-house {
	position:absolute;
	width:100%;
	left:0px;
}

#about-mercy-dropdown,
#admissions-and-aid-dropdown,
#academics-dropdown,
#student-affairs-dropdown,
#visit-dropdown,
#athletics-dropdown {
	position: relative;
	z-index: 1001;
	height:300px;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.92;
	filter: alpha(opacity=90);
	display: none;
}

.dropdowns-styler {
	margin:10px 0 20px auto;
	height:auto;
	width:auto;
	position: relative;
	float:right;
}
.dropdowns-styler ul {
	float:left;
	clear:none;
	width:170px;
	list-style: none;
	color:#FFF;
	line-height: 1em;
	padding: 2px;
	margin:0 15px auto 10px;
}

.dropdowns-styler li {
	padding-top: 1em;
}

.dropdowns-styler a {
	color:#fff;
}
.dropdowns-styler a.active {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 4px;
}

li.header {
	text-transform: uppercase;
	font-weight: bold;
	height:60px;
	border-bottom: 2px #bbb solid;
	position: relative;
	margin-bottom: 10px;
}
span.section-title {
	position:absolute;
	bottom:0;
}


@media screen and (max-width: 1200px){

	#about-mercy-dropdown,
	#admissions-and-aid-dropdown,
	#academics-dropdown,
	#student-affairs-dropdown,
	#visit-dropdown {
		max-height:500px;
		height:auto;
	}

	.dropdowns-styler ul {
	margin:0 15px auto 0px;
	}
}
