#quicktabs-social_feed .view-instagram-feed .views-field-thumbnail {
  float: left;
  margin-right: 10px;
}

#quicktabs-social_feed .view-instagram-feed .views-field-instagram-user a {
  color: #032a53;
}
