@font-face {
    font-family: 'FranklinGothic';
    src: url('fonts/framd-webfont.eot');
    src: url('fonts/framd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/framd-webfont.woff') format('woff'),
         url('fonts/framd-webfont.ttf') format('truetype'),
         url('fonts/framd-webfont.svg#franklin_gothic_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.slider_full{
 width:100%; 
 position: relative;
 display: block;
 overflow:hidden;
 background-image:url("/sites/default/files/front_slider_bg.jpg");  background-position:center center; 
}
.slider_full .container{max-width:1920px !important; width:auto;}
.fullslider{
 width:100%; 
 height:500px; 
 position: relative;
 display: block;
 overflow:hidden; max-width:100%;
}

.fullslider:after {
    content: '';
    padding-top:0; 
    display: block;
}

.fullslider ul.slides{ margin:0; padding:0; list-style-type:none;}
.fullslider ul.slides li
{
   display: none;
}
.fullslider ul.slides li > img{
    width: auto; max-width:100%; left:6%; position:relative;
	height:auto;
	border:0; max-height:100%;
}

.fullslider ul.slide-navs {
    bottom: 20px;
    left: 50%;
    position: absolute;
	list-style-type: none;
    margin: 0;
    padding: 0;
}


.fullslider ul.slide-navs li {
    float: left;
	background: url("/sites/default/files/default_images/newslider/slide-bg.png") no-repeat scroll 0 0 transparent;
	height:12px;
	width:12px;
	margin-right:4px;
	cursor:pointer;
}
.fullslider ul.slide-navs li.current-slide {
  background: url("/sites/default/files/default_images/newslider/slide-bg-active.png") no-repeat scroll 0 0 transparent;
}

.fullslider .slide-desc {
    left: 42%;
    padding: 0 15px 0 15px;
    position: absolute;
    top: 27%;
    max-width: 40%;
	display:inline-block;
}
.fullslider .slide-desc > h2 {
    color: #fff;
    font-family: 'FranklinGothic';
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: none; position:relative; text-shadow:rgba(0,0,0,1) 3px 3px 6px;
}
.fullslider .slide-desc > h2:before{content:"“"; position:absolute; left:-15px; top:0; color: #fff;  font-family: 'FranklinGothic';  font-size: 25px;}
.fullslider .slide-desc > p {
    color: #FFFFFF;
    font-family: 'FranklinGothic';
    font-size: 1.4em;
    line-height: 18px; float:left;
    margin-top: 5px;
	text-shadow:rgba(0,0,0,1) 2px 2px 4px;display:inline-block; position:relative;
}
.fullslider .slide-desc > p a.more {
    color:#990000;
	font-size:20px;
	text-decoration:none;
}
.fullslider .slide-desc > p a.more:hover {
text-decoration:underline;
}

.fullslider a.prev{
    background: url("/sites/default/files/default_images/newslider/left.png") no-repeat scroll 0 0 transparent;
	width:30px;
	height:30px;
	display:none !important;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:0%;
	margin-top:-17px;
}

.fullslider a.next{
    background: url("/sites/default/files/default_images/newslider/right.png") no-repeat scroll 0 0 transparent;
	width:30px;
	height:30px;
	display:none !important;
	cursor:pointer;
	position:absolute;
	top:50%;
	right:0%;
	margin-top:-17px;
}
.fullslider a.prev:hover{
  
}
.fullslider a.next:hover{
  
}

.fullslider a.play{
    background: url("/sites/default/files/default_images/newslider/play.png") no-repeat scroll center center transparent;
	width:57px;
	height:57px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:60%;
	left:42%;
	margin-top:-17px;
}
.fullslider .ply_button{position:relative; display:inline-block; margin:10px 0px 0 30px; float:left; height:57px; width:57px; cursor:pointer;}
.fullslider a.pause{
    background: url("/sites/default/files/default_images/newslider/right.png") no-repeat scroll center center transparent;
	width:30px;
	height:30px;
	
	cursor:pointer;
	margin-top:0;
}
/*Some Responsive CSS */

@media screen and (min-width:1400px) {
.slider_full{
	background-position:center -140px;
	background-size: cover;
}

.fullslider .slide-desc {
left: 46%;
max-width:35%;
}
}
@media screen and (min-width:1700px) {
.slider_full{background-position:center -220px;}

.fullslider .slide-desc {
    left: 40%;
    top: 25%;
    max-width: 40%;
}
}
@media screen and (max-width:1400px) {
.fullslider {
	background-size: initial;
}
.fullslider .slide-desc {
    left: 49%;
    top: 25%;
    max-width: 40%;
}
.slider_full{background-position:center -50px;}
}
@media screen and (max-width:1024px) {
.fullslider .slide-desc {
    left: 55%;
    top: 1%;
    max-width: 40%;
}
.slider_full{background-position:center -50px;}
}
@media screen and (max-width:767px) {
	.fullslider{
		height:500px;
	}
.fullslider ul.slides li > img {
		left:1%;
	}

	.fullslider .slide-desc > h2 {
		font-size: 20px;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	
	.fullslider .slide-desc > p {
		font-size: 14px;
		line-height: 15px;
		margin-top: 5px;
	}
	.fullslider .slide-desc > p a.more {
		font-size:14px;
	}
		.fullslider .slide-desc {
    display: inline-block;
    left: 55%;
    max-width: 52%;
    padding: 0 15px;
    position: absolute;
    top: 10%;
}
.slider_full{background-position:center -100px;}
.fullslider .slide-desc p{}
}
@media screen and (max-width:582px) {
.fullslider .slide-desc{top:0; left:0; width:100%; padding:10px; text-align:left; max-width:100%;}
.fullslider .slide-desc > h2{font-size:14px; text-align:left;}
.fullslider{
		height:350px;
	}
	.fullslider .ply_button{margin:10px auto; float:left; display:block;  width:100%; left:0;}
	.fullslider ul.slides li > img{position:absolute; bottom:0;}
}




@media screen and (min-width: 1400px){
.fullslider ul.slides li > img{
	left: 19%;
}
}

@media screen and (max-width: 700px) {
	.slider_full {
		visibility: hidden;
		height: 0px;
	}
}
@media screen and (max-width: 582px){
.fullslider ul.slides li > img {
		left:37%;
	}
}


