body.node-type-landing-page #panelizer-save-default,
body.node-type-landing-page #panelizer-ipe-revert {
	display:none;
}
body,
html {
    width: 100%;
    height: 100%;
}
body{font-family: 'Lato', sans-serif; font-size:16px; color:#292929; font-weight:400; line-height:26px!important;}

a{color:#003666;}
h4{font-size:19px; margin-top:0;}
h2{margin-top:0;}
.text-white{color:#fff;}
.text-blue{color:#31637f;}

img{max-width:100%;}
.navbar-default {
    background-color: #ebf0f5; padding:10px 0;
    border: medium none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); border-bottom:#cdd2d7 solid 1px;
}
.logo{float:left; position:relative; width:100%;}
.logo img,.logo a{max-width:100%; height:auto;}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    height: auto;
    padding:0px; margin-left:0;
}
.navbar-nav.navbar-right:last-child{margin-right:0;}
.header-social {
    float: right;
    padding: 15px 0 0;
}

.header-social img {
	height:34px;
	width:auto;
}

.header-social a{display:inline-block; padding-left:15px; color:#5998ba;}
.header-social a:hover{color:#008fc3;}
.navbar .navbar-collapse{ float:left; width:100%; padding-top:26px;}

.navbar-default .navbar-nav > li{margin-left:1px;}
.navbar-default .navbar-nav > li > a{
	font-family: 'Ubuntu', sans-serif; font-weight: 700; color:#002b55; padding:10px 20px;
}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li.current_page_item > a{ background:#008fc3; color:#fff;}

.navbar-default .header-social a:hover,
.navbar-default .logo a:hover {
	background-color: transparent!important;
}
@media (min-width: 1198px) {
	div.landing-slider {
		width:65%;
		float:left;
	}
}
.landing-page-form .pane-content {
	width: 100%;
	position: relative;
	float: left;
	color: #fff;
	border: #225580 solid 1px;
	padding: 15px;
	background-color: #0c2c47;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0c2c47), to(#0b4271));
	background-image: -webkit-linear-gradient(top, #0c2c47, #0b4271);
	background-image: -moz-linear-gradient(top, #0c2c47, #0b4271);
	background-image: -ms-linear-gradient(top, #0c2c47, #0b4271);
	background-image: -o-linear-gradient(top, #0c2c47, #0b4271);
	background-image: linear-gradient(to bottom, #0c2c47, #0b4271);
}

/*
Slider info
*/
.landing-page-header-image {
	background: #fff;
	padding: 10px;
	text-align: center;
	height: auto;
}

.landing-page-header-description {
	bottom: 10px;
	color: #fff;
	left: 10px;
	padding: 15px;
	position: absolute;
	right: auto;
	text-align: center;
	text-shadow: none;
	z-index: 10;
	background: rgba(0,0,0,.5);
	width: 50%;
}
.landing-page-header-description p {
	font-size: 18px;
	text-align: center;
}

.node-type-landing-page .slider ul {
	overflow: visible;
	max-height: 767px;
	margin-bottom: 0;
}

.view-landing-page-slider {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 0;
}

/* form */

.landing-page-form {
	float:left;
	width:35%;
}

.landing-page-form h3 {
	font-size: 17px;
	text-align: center;
	margin:5px;
}
.landing-page-form p {
	text-align: center;
	font-weight: normal;
}

.landing-page-form hr{ width:100%; margin:10px auto; padding:0; height:1px; border:none; background:url(/sites/default/files/default_images/hr.png) no-repeat center top; display:block; line-height:1px;}
.landing-page-form input::-moz-placeholder,
.landing-page-form::-moz-placeholder{
    color: #f7f7f7 ;
    opacity: 1;
}
.landing-page-form  input:-ms-input-placeholder,
.landing-page-form  :-ms-input-placeholder{
 color: #f7f7f7 ;
    opacity: 1;	
}
.landing-page-form  input::-moz-placeholder,
.landing-page-form  ::-moz-placeholder
{
 color: #f7f7f7;
    opacity: 1;	
}
.landing-page-form input:-moz-placeholder,
.landing-page-form  :-moz-placeholder{
	 color: #f7f7f7 ;
    opacity: 1;
}
.landing-page-form input::-webkit-input-placeholder,
.landing-page-form ::-webkit-input-placeholder
{
	 color: #f7f7f7;
    opacity: 1;
}
.landing-page-form {
	float:left; padding:5px;; border:#0d406f solid 1px;
    background-color: #011e39;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#011e39), to(#003768)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #011e39, #003768); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #011e39, #003768); /* FF3.6+ */
	background-image:     -ms-linear-gradient(top, #011e39, #003768); /* IE10 */
	background-image:      -o-linear-gradient(top, #011e39, #003768); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #011e39, #003768);
}

body.node-type-landing-page .radio, 
body.node-type-landing-page .checkbox,
body.node-type-landing-page .webform-component-radios label {
	margin-bottom: 0;
	margin-top: 0;
}
.landing-page-form .form-all-fields,
.landing-page-form .webform-component > input.email, 
.landing-page-form .webform-component > input.form-number,
.landing-page-form .form-select {
	width: 100%;
	background: #75abc9;
	border-color: #6e9eb8;
	border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	color: #fff;
	height:30px;
}

.block-panels-mini-mini-panel-landing-page-top {
	padding-top: 30px; margin-top:85px;
    padding-bottom: 35px;
    text-align: left;
    color: #fff;
    background-color: #008fc3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#008fc3), to(#003768)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #008fc3, #003768); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #008fc3, #003768); /* FF3.6+ */
	background-image:     -ms-linear-gradient(top, #008fc3, #003768); /* IE10 */
	background-image:      -o-linear-gradient(top, #008fc3, #003768); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #008fc3, #003768);

}

/* Footer */

.landing-footer {
	padding:55px 0; 
background: #d1e8f5; /* Old browsers */
background: -moz-linear-gradient(top,  #d1e8f5 0%, #a1d0ed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1e8f5), color-stop(100%,#a1d0ed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d1e8f5 0%,#a0d0ed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d1e8f5 0%,#a1d0ed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d1e8f5 0%,#a1d0ed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d1e8f5 0%,#a1d0ed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1e8f5', endColorstr='#a1d0ed',GradientType=0 ); /* IE6-9 */

}
.table-row {padding:5px 25px; background:#b1d9fc; border-top:#fff solid 1px; margin:0 -10px}
.table-row.even{background:#e7e4e4;}
.table-row.final{background:#6791b7; padding:10px 25px; color:#fff;}
.img-icon{ height:45px; width:50px; float:left; border-bottom:#2d6888 solid 5px; background:#1fabe3; margin-right:20px;}
.college-list{list-style:none; margin:0; padding:0;}
.college-list li{position:relative; width:100%; padding:10px 0; line-height:20px; min-height:55px;}

.tab-content{width:100%; padding:15px 15px 5px; background:#fff; margin-top:10px; font-size:14px; line-height:20px; margin-bottom:15px;}
.price{float:right; }
.fade.active.in{opacity:1;}

.landing-nav-tabs > li > a{
background: #badbf8; /* Old browsers */
background: -moz-linear-gradient(top,  #badbf8 0%, #6a94b7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#badbf8), color-stop(100%,#6a94b7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #badbf8 0%,#a0d0ed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #badbf8 0%,#6a94b7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #badbf8 0%,#6a94b7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #badbf8 0%,#6a94b7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#badbf8', endColorstr='#6a94b7',GradientType=0 ); /* IE6-9 */	
border:none; border-radius:0; color:#333;
}
.landing-nav-tabs > li.active > a, .landing-nav-tabs > li.active > a:hover, .landing-nav-tabs > li.active > a:focus,.landing-nav-tabs > li > a:hover{
	background: #489eeb; /* Old browsers */
background: -moz-linear-gradient(top,  #489eeb 0%, #216fb4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#489eeb), color-stop(100%,#216fb4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #489eeb 0%,#a0d0ed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #489eeb 0%,#216fb4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #489eeb 0%,#216fb4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #489eeb 0%,#216fb4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#489eeb', endColorstr='#216fb4',GradientType=0 ); /* IE6-9 */
color:#fff;border:none; border-radius:0;
}
.landing-nav-tabs {border:none;}
.landing-nav-tabs>li {
float: left
}

.landing-nav-tabs>li>a {
	margin-right:2px;
}

.landing-footer h2 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	color: #011b32;
	text-transform: uppercase;
}
.landing-footer {
font-family: 'Lato', sans-serif;
font-size: 16px;
color: #292929;
font-weight: 400;
line-height: 26px;
}

/* Templates */

.field-landing-page-section {
    padding: 50px 0;
}
.field-landing-page-section h2,
.field-landing-page-section .field-lp-section-title .field-item {
    margin-bottom: 20px;
	margin-top:0;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif!important;
	font-weight: 700;
	font-size: 30px;
	color: #011b32;
	text-align: center;
}

.node-landing-page .fieldable-panels-pane > h2 {
	margin: 0;
}

.field-lp-section-second-body {
	font-size: 16px;
	line-height: 26px!important;

}

.field-lp-section-body {
	font-size: 16px;
	padding-right: 15px;
	line-height: 26px!important;
}
.group-lp-section-image ul,
.group-section-image-class-ii ul,
.field-lp-section-images,
.field-lp-section-images-ii {
	padding-left: 0;
	list-style: none;
}
h4.field-lp-section-sub-title,
.field-landing-page-section .field-lp-section-sub-title {
	font-size: 19px;
	margin-top: 0;
	font-family: 'Ubuntu', sans-serif!important;
	font-weight: 700;
	text-align: center;
	font-size: 19px;
}

/* White mosaic */

.white-mosaic .field-lp-section-body {
	width:55%;
	float:left;
}
.white-mosaic .group-lp-section-image ul,
.white-mosaic .group-lp-section-image .field-lp-section-images {
	width:45%;
	float:left;
}
.white-mosaic .group-lp-section-image li,
.white-mosaic .group-lp-section-image .field-item {
	width:30%;
	float:left;
	margin-bottom:15px;
	margin-left: 15px;
}

/* Frames in ocre */
.frames-in-ocre {
	background:#efcf6b; color:#2a2b2b;
}

.frames-in-ocre .group-section-image-class-ii ul,
.frames-in-ocre .group-section-image-class-ii .field-lp-section-images-ii {
	width:35%;
	float:left;
}

.frames-in-ocre .group-section-image-class-ii li,
.frames-in-ocre .group-section-image-class-ii .field-item{
	width:50%;
	float:left;
	padding-right:15px;
	padding-bottom: 15px;
}
.frames-in-ocre .field-lp-section-body {
	width:30%;
	float:left;
}

.group-lp-section-image ul,
.field-lp-section-images {
	width:35%;
	float:left;
}

.frames-in-ocre .group-lp-section-image li:nth-child(1),
.frames-in-ocre .group-lp-section-image li:nth-child(2),
.frames-in-ocre .group-lp-section-image .field-item:nth-child(1),
.frames-in-ocre .group-lp-section-image .field-item:nth-child(2) {
	width:50%;
	float:left;
	padding-left:15px;
	padding-bottom: 15px;
}
.frames-in-ocre .group-lp-section-image li:not(:nth-child(1)),
.frames-in-ocre .group-lp-section-image li:not(:nth-child(2)),
.frames-in-ocre .group-lp-section-image .field-item:not(:nth-child(1)),
.frames-in-ocre .group-lp-section-image .field-item:not(:nth-child(2)) {
	padding-left:15px;
	padding-bottom: 15px;
}

/* Upfront Blue */
.upfront-blue {
	background: #008fc3;
	color: #fff;
}

.upfront-blue h4 {
	text-transform:uppercase;
}
.upfront-blue {
	text-align: center;
}

.upfront-blue .group-lp-section-second-body {
	width: 70%;
	margin: 20px 0 0;
	background: #f6f6f6;
	border: #c8cfd2 solid 1px;
	color: #424040;
	display: inline-block;
	text-align: left;
}
.upfront-blue .group-lp-section-second-body .field-lp-section-second-body {
	width:60%;
	float:left;
	line-height: 24px;
	padding: 25px 0 2px 25px;
	line-height: 26px!important;
}
.upfront-blue .group-lp-section-second-body .field-lp-section-second-body li {
	list-style: none;
	padding: 2px 0 2px 25px;
	background: url(/sites/default/files/default_images/bullet.png) no-repeat left 6px;
}
.upfront-blue .group-lp-section-second-body .field-lp-section-second-body ul {
	padding-left:0;
}
.sophisticated-grey .field-lp-section-body strong,
.sophisticated-grey .group-lp-section-second-body .field-lp-section-second-body strong,
.upfront-blue .group-lp-section-second-body .field-lp-section-second-body strong {
	color: #31637f;
	font-size: 19px
}

.upfront-blue .group-lp-section-second-body .field-lp-section-image {
	width:33%;
	float:right;
}

/* Sophisticated Grey */

.sophisticated-grey {
	background: #ebebea;
	color: #2a2b2b;
}

.sophisticated-grey h4 {
	color:#31637f;
}

.sophisticated-grey .group-lp-section-second-body,
.sophisticated-grey .field-lp-section-body {
	background: #fff;
	border: #cac3c3 solid 1px;
	padding: 25px 25px 25px;
	float: left;
	position: relative;
	margin: 15px 0 0;
	line-height: 26px!important;
}
.sophisticated-grey .field-lp-section-body {
	width:60%;
	margin-right: 2%;
}
.sophisticated-grey .group-lp-section-second-body {
	width:38%;
}
/* Action Background */
.action-background {
	position: relative;
	overflow: hidden;
}
.action-background .field-lp-background-image {
	position: absolute;
	position: absolute;
	top: 0;
	width: 100%;
}
.action-background .field-lp-section-image,
.action-background .field-lp-section-body,
.action-background .field-lp-section-title {
	position: relative;
	z-index: 999;
}
.action-background .field-lp-section-image {
	float:left;
	width:40%;
	border:#fff solid 10px;
}
.action-background .field-lp-section-body {
	width:60%;
	float:left;
}
.improve-readability .field-lp-background-image {
	opacity: 0.2;
    filter: alpha(opacity=20);
}
.action-background .field-lp-section-body {
	color:#000;
}
/* Responsive landing */
@media (max-width: 1198px) {
	.landing-slider,
	.landing-page-form {
		clear:both;
		width: 100%;
	}
	.landing-slider {
		margin-top: 40px;
	}

	.view-landing-page-slider {
		padding-right: 0;
	}
	.action-background .field-lp-background-image img {
		height:100%;
		width:auto;
	}
}
@media (max-width: 991px) {
	.field-lp-section-body,
	.group-lp-section-second-body,
	.group-section-image-class-ii ul,
	.group-lp-section-image ul,
	.field-lp-section-images,
	.field-lp-section-images-ii{
		width:100%!important;
		clear:both!important;
	}
	
	.landing-container img,
	.slider-container img {
		width:100%!important;
		height:auto!important;
		overflow: hidden;
	}
	.field-lp-background-image {
		display:none;
	}
}
.webform-client-form-18135 p a {
	color: #428bca!important;
	text-decoration: none!important;
}