@font-face {
  font-family: 'Garamond Bold';
  src: url("../fonts/AGaramondPro-Bold.woff") format("woff"), url("../fonts/AGaramondPro-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Franklin Gothic Book';
  src: url("../fonts/ITCFranklinGothicStd-Book.woff") format("woff"), url("../fonts/ITCFranklinGothicStd-Book.ttf") format("truetype"); }

@font-face {
  font-family: 'Franklin Gothic Demi';
  src: url("../fonts/ITCFranklinGothicStd-Demi.woff") format("woff"), url("../fonts/ITCFranklinGothicStd-Demi.ttf") format("truetype"); }

@font-face {
  font-family: 'Gnuolane Reg';
  src: url("../fonts/Gnuolane-Rg.woff") format("woff"), url("../fonts/Gnuolane-Rg.ttf") format("truetype"); }

.form-group {
  margin-bottom: 0;
}
.form-group label {
  clear: both;
}
<<<<<<< HEAD


.webform-component-date {

=======
.webform-component-date {
>>>>>>> e9746706687b527c98ea62511a876c7b893a0f31
  clear: both;
}
.webform-component-fieldset {
  margin-bottom: 20px !important;
}

.l-center {
  margin: 0 auto;
  width: 100%;
  max-width: 62em; }
  .l-center:after {
    content: '';
    display: table;
    clear: both; }

/**
 * @file
 * Accessibility features.
 */
/**
 * element-invisible as defined by
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.element-invisible,
.element-focusable {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.element-focusable:active, .element-focusable:focus {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto; }

/**
 * The skip-link link will be completely hidden until a user tabs to the link.
 */
#skip-link {
  margin: 0; }
  #skip-link a,
  #skip-link a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px;
    text-align: center;
    background-color: #666;
    color: #fff; }

/**
 * @file
 * Utility classes.
 */
/**
 * Inline items.
 */
.container-inline div,
.container-inline label {
  display: inline; }

/* Fieldset contents always need to be rendered as block. */
.container-inline .fieldset-wrapper {
  display: block; }

/**
 * Prevent text wrapping.
 */
.nowrap {
  white-space: nowrap; }

/**
 * For anything you want to hide on page load when JS is enabled, so
 * that you can use the JS to control visibility and avoid flicker.
 */
html.js .js-hide {
  display: none; }

/**
 * Use the clearfix from our mixin.
 */
.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.main-logo,
.main_logo {
  max-width: 100%; }
  @media (min-width: 600px) {
    .main-logo,
    .main_logo {
      max-width: 200px; } }

.bg-mercy-blue .slider__slide-cta a {
  background-color: #2098c3; }

.bg-mercy-blue .slider__slide-label {
  color: #2098c3; }

.bg-mercy-blue-dk .slider__slide-cta a {
  background-color: #002b55; }

.bg-mercy-blue-dk .slider__slide-label {
  color: #002b55; }

.bg-mercy-green .slider__slide-cta a {
  background-color: #6da748; }

.bg-mercy-green .slider__slide-label {
  color: #6da748; }

.bg-mercy-orange .slider__slide-cta a {
  background-color: #eb8c2e; }

.bg-mercy-orange .slider__slide-label {
  color: #eb8c2e; }

.bg-mercy-purple .slider__slide-cta a {
  background-color: #542c85; }

.bg-mercy-purple .slider__slide-label {
  color: #542c85; }

.bg-mercy-red .slider__slide-cta a {
  background-color: #cb2d2d; }

.bg-mercy-red .slider__slide-label {
  color: #cb2d2d; }

.pane-main-page-top-slider + .panel-separator {
  height: auto; }

.slider--thumbnail-nav {
  position: relative; }
  .slider--thumbnail-nav .flex-viewport {
    height: auto !important; }
  .slider--thumbnail-nav .flex-control-nav {
    bottom: auto;
    float: none;
    margin: 0;
    right: auto;
    top: 0; }
  .slider--thumbnail-nav .flex-direction-nav {
    margin: 0; }
  .slider--thumbnail-nav .flexslider .slides {
    margin: 0 !important;
    max-height: 600px !important; }

.slider__slide-wrapper {
  background-color: white;
  position: relative; }

.slider__slide-image {
  overflow: hidden;
  position: relative; }
  @media (min-width: 48em) {
    .slider__slide-image {
      position: absolute;
      left: 0;
      top: 0;
      min-height: 600px;
      width: 100%; } }
  .slider__slide-image:after {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 25%, transparent 70%);
    content: '';
    display: block;
    height: 110%;
    left: -5%;
    position: absolute;
    top: -5%;
    width: 110%; }
  .flexslider .slides .slider__slide-image img {
    display: block;
    margin: 0 0 0 -10%;
    max-width: 120%;
    width: auto; }
    @media (min-width: 42em) {
      .flexslider .slides .slider__slide-image img {
        margin-left: -5%;
        max-width: 110%; } }
    @media (min-width: 48em) {
      .flexslider .slides .slider__slide-image img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        margin: 0 auto;
        max-width: 1200px; } }
    @media (min-width: 75em) {
      .flexslider .slides .slider__slide-image img {
        max-width: 1560px; } }
    @media (min-width: 98em) {
      .flexslider .slides .slider__slide-image img {
        max-width: 100%;
        width: 100%; } }

.slider__slide-text {
  background-color: white;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  z-index: 10; }
  @media (min-width: 48em) {
    .slider__slide-text {
      background-color: transparent;
      padding: 45px 0 0;
      position: relative;
      max-width: 670px;
      min-height: 450px; } }
  @media (min-width: 62em) {
    .slider__slide-text {
      max-width: 900px; } }
  @media (min-width: 75em) {
    .slider__slide-text {
      max-width: 1080px;
      min-height: 500px; } }
  @media (min-width: 98em) {
    .slider__slide-text {
      min-height: 560px;
      padding: 80px 0 0; } }

.slider__slide-label {
  font-family: "Gnuolane Reg", "Arial", "Helvetica", sans-serif;
  font-size: 2.5rem;
  line-height: 1;
  padding: 15px 0;
  position: absolute;
  top: 0; }
  @media (min-width: 42em) {
    .slider__slide-label {
      font-size: 4rem;
      padding: 40px 20px; } }
  @media (min-width: 48em) {
    .slider__slide-label {
      font-size: 5rem;
      line-height: 0.8;
      padding: 0;
      position: relative;
      top: auto; } }
  @media (min-width: 75em) {
    .slider__slide-label {
      font-size: 6.5rem; } }

.slider__slide-title {
  color: black;
  font-family: "Franklin Gothic Demi", "Arial", "Helvetica", sans-serif !important;
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 0 0 16px; }
  @media (min-width: 48em) {
    .slider__slide-title {
      color: white;
      margin: 16px 0 0; } }

.slider__slide-description {
  color: black;
  font-family: "Franklin Gothic Book", "Arial", "Helvetica", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0 0 24px; }
  @media (min-width: 48em) {
    .slider__slide-description {
      color: white;
      margin: 0 0 24px; } }

.slider__slide-video-link {
  float: right;
  margin-left: 35px; }
  @media (min-width: 48em) {
    .slider__slide-video-link {
      bottom: 10%;
      float: none;
      position: absolute;
      right: 0; } }
  .slider__slide-video-link a {
    background-image: url(str-replace("../assets/dist/icons/icon-playbutton-35x--dk-blue.svg", ".svg", ".png"));
    background-image: url("../assets/dist/icons/icon-playbutton-35x--dk-blue.svg"), none;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    float: none;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 35px 0 0;
    position: static;
    width: 35px; }
    @media (min-width: 48em) {
      .slider__slide-video-link a {
        background-image: url(str-replace("../assets/dist/icons/icon-playbutton-75x--white.svg", ".svg", ".png"));
        background-image: url("../assets/dist/icons/icon-playbutton-75x--white.svg"), none;
        opacity: 0.75;
        padding: 75px 0 0;
        width: 75px; } }

.slider__slide-cta a {
  color: white;
  display: inline-block;
  font-family: "Franklin Gothic Book", "Arial", "Helvetica", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  padding: 15px 20px 10px;
  text-transform: uppercase; }
  @media (min-width: 62em) {
    .slider__slide-cta a {
      font-size: 1.5rem; } }

.slider-controller {
  display: none;
  margin: 0 auto 20px;
  max-width: 670px; }
  @media (min-width: 48em) {
    .slider-controller {
      display: block; } }
  @media (min-width: 62em) {
    .slider-controller {
      max-width: 900px; } }
  @media (min-width: 75em) {
    .slider-controller {
      max-width: 1080px; } }
  .slider-controller .flexslider {
    box-shadow: none; }
  .slider-controller .flex-viewport .slides {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 20px 0;
    overflow: visible;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: start;
    align-content: flex-start; }
    .slider-controller .flex-viewport .slides li {
      -ms-flex: 0 1 auto;
      flex: 0 1 auto; }
  .slider-controller .flex-direction-nav {
    margin: 0 !important; }
  .slider-controller .flex-active-slide {
    background-color: #dadada;
    position: relative; }
    .slider-controller .flex-active-slide:before {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid #dadada;
      display: block;
      content: '';
      height: 20px;
      overflow: hidden;
      top: -20px;
      width: 40px; }
  .slider-controller .flex-direction-nav .flex-prev,
  .slider-controller .flex-direction-nav .flex-next {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 0;
    opacity: 0.8;
    overflow: hidden;
    padding: 40px 0 0 0;
    width: 40px; }
    .slider-controller .flex-direction-nav .flex-prev:before,
    .slider-controller .flex-direction-nav .flex-next:before {
      content: ''; }
  .slider-controller .flex-direction-nav .flex-prev {
    background-image: url(str-replace("../assets/dist/icons/icon-pager-arrow-left-40x--dk-blue.svg", ".svg", ".png"));
    background-image: url("../assets/dist/icons/icon-pager-arrow-left-40x--dk-blue.svg"), none; }
  .slider-controller .flex-direction-nav .flex-prev,
  .slider-controller .flex-direction-nav .flex-prev:hover {
    left: -40px; }
    @media (min-width: 75em) {
      .slider-controller .flex-direction-nav .flex-prev,
      .slider-controller .flex-direction-nav .flex-prev:hover {
        left: -50px; } }
  .slider-controller .flex-direction-nav .flex-next {
    background-image: url(str-replace("../assets/dist/icons/icon-pager-arrow-right-40x--dk-blue.svg", ".svg", ".png"));
    background-image: url("../assets/dist/icons/icon-pager-arrow-right-40x--dk-blue.svg"), none; }
  .slider-controller .flex-direction-nav .flex-next,
  .slider-controller .flex-direction-nav .flex-prev:hover {
    right: -40px; }
    @media (min-width: 75em) {
      .slider-controller .flex-direction-nav .flex-next,
      .slider-controller .flex-direction-nav .flex-prev:hover {
        right: -50px; } }

.slider-controller__slide-wrapper {
  cursor: pointer;
  padding: 10px; }

.slider-controller__slide-text {
  font-family: "Franklin Gothic Demi", "Arial", "Helvetica", sans-serif;
  padding: 10px; }

.slider-controller__slide-label {
  text-transform: uppercase; }
  .slider-controller__slide-label:after {
    content: ':'; }

.bg-mercy-blue .slider-controller__slide-label {
  color: #2098c3; }

.bg-mercy-blue-dk .slider-controller__slide-label {
  color: #002b55; }

.bg-mercy-green .slider-controller__slide-label {
  color: #6da748; }

.bg-mercy-orange .slider-controller__slide-label {
  color: #eb8c2e; }

.bg-mercy-purple .slider-controller__slide-label {
  color: #542c85; }

.bg-mercy-red .slider-controller__slide-label {
  color: #cb2d2d; }

.primary-links {
  display: none; }
  @media (min-width: 62em) {
    .primary-links {
      display: block; } }

.primary-links__admin {
  position: relative; }

/*# sourceMappingURL=maps/mercy.main.css.map */
