
/* newsroom */
/* fix for newsroom dropdown menu width */ 

.contextual-links-region {
position: inherit;
}
.page-newsroom #dropdown-house {
  /* prevent dropdown menu from being displaced by breadcrumbs*/
  margin-top: -76px;
}

.col-md-8  {
  padding-right:0px;
}

.page-newsroom .row {
  margin-right: 0px;
}


.newsmenu {
  color: #FFFFFF;
  background: #0097C4;
  line-height: 2em;
  margin: 0 0 30px;
  padding: 20px;
  padding-bottom: 0px;
}

.newsmenu a {
  color: #B1CEDF;
  line-height: 2em;
  font: bold 16px sans-serif;
  display: block;
  margin: 0 0 28px;
}

.newsmenu a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.newsmenu p {
  margin: 0;
}

.page-newsroom .region-content .pager {
  clear: both;
  width: 132px;
  margin: 0 0 0 622px;
  padding: 0;
}
.pager li,
.view-course-catalog .pager li,
.page-newsroom .region-content .pager li {
  background: none;
  border: none;
}
.pager li a,
.view-course-catalog .pager li a,
.page-newsroom .region-content .pager li a {
  background: none;
  border: 0px solid #FF0000 !important;
  padding: 5px 0px;
  width: 76px;
}
li.pager-next a,
.view-course-catalog li.pager-next a,
.page-newsroom .region-content li.pager-next a {
  background: url(../img/pager-arrows.png) no-repeat 60px 5px;
  border: 1px solid #E6EDD1;
}

li.pager-previous a,
.view-course-catalog li.pager-previous a, {
 /* background: url(../img/pager-arrows.png) no-repeat 0px -23px; */
  border: 1px solid #E6EDD1;
}

.page-newsroom .region-content li.pager-previous a {
  background: url(../img/pager-arrows.png) no-repeat 0px -23px;
  border: 1px solid #E6EDD1;
}

li.pager-current,
.view-course-catalog li.pager-current,
.page-newsroom .region-content li.pager-current {
  color: #A5A5A5;
  padding: 5px 0 0;
}

.page-newsroom aside {
  padding: 0px !important;
}

.page-newsroom aside .well {
  padding: 0;
  border-radius: 0px !important;
  background: none;
  border: 0px !important;
  box-shadow: none;
}

.page-newsroom .news-list {
  list-style-type: none;
  padding: 0 !important;
  margin: 0 !important;
}

.page-newsroom .news-list ul {
  padding: 0 0 0 14px;
}

.page-newsroom .news-list li {
  list-style-type: none;
  margin: 0 !important;
  background: #FFF;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #DFDEDE;
  overflow: auto;
  padding: 0;
  min-height: 112px;
}

.page-newsroom .news-list li img {
  float: right;
}

.page-newsroom .news-text {
  float: left;
  padding: 10px 0 0 20px;
  width: 65%;
}

.page-newsroom .news-text h3 {
  margin: 0;
}

.page-newsroom .news-text h3 a {
  margin: 0;
  color: #002B54;
  font: bold 16px sans-serif;
}

.page-newsroom .news-text .meta {
  font: 14px sans-serif;
  display: block;
  color: #818185;
}

.page-newsroom .news-text .meta .cat {
  color: #0097C4;
}

.page-newsroom .blk-featured-news .featured-news-container {
background: #FFF;
width:59%;
}

.page-newsroom .blk-featured-news .featured-news-container h2 {
  font: bold 16px sans-serif;
  padding: 0;
  margin: 0;
}

.page-newsroom .blk-featured-news .featured-news-container .featured-news-txt {
  padding: 20px;
  background: url(../img/triangle.png) no-repeat 127px 88px;
  max-height: 104px;
}

.page-newsroom .blk-featured-news .featured-news-container .featured-news-txt h2 a {
  color: #002B54;
}

.page-newsroom .blk-featured-news .featured-news-container .spotlight-txt {
  background: #002B54;
  padding: 20px;
  color: #FFF;
  min-height: 203px;
  padding-bottom:1px;

}

.page-newsroom.chrome .blk-featured-news .featured-news-container .spotlight-txt,
.page-newsroom.safari .blk-featured-news .featured-news-container .spotlight-txt {
  min-height: 201px;
  padding-bottom:1px;
}

.page-newsroom .blk-featured-news .featured-news-container .spotlight-txt .quote {
  font: italic 300 24px times-new-roman;
  margin-bottom: 0px;
}

.page-newsroom .blk-featured-news .featured-news-container .spotlight-txt .label {
  font: 14px sans-serif;
  padding: 0;
}

.page-newsroom .blk-featured-news img {
  float: left;
}

.page-newsroom #slider-container {
  
}


/*Menu*/
.newsmenu .view-header a {
  text-transform: uppercase;
}

.newsmenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.newsmenu li a {
  text-transform: uppercase;
}


/*Search Bar*/
.form-search .ajax-progress,
.form-search .ajax-progress-throbber,
.pane-views-exp-local-directory-page-2 .input-group-addon,
.view-degrees-programs .views-widget .input-group-addon,
.view-degrees-programs .views-exposed-form .input-group-addon,
.view-course-catalog .views-exposed-form .input-group-addon,
.view-local-directory .views-widget .input-group-addon,
.page-newsroom .blk-news-search .glyphicon-refresh {
  display: none;
}

.page-newsroom .blk-news-search {
  margin-top: -56px;
  margin-right: 25px;
  padding: 0 !important;
  position: relative;
  left: 0px;
  height: 32px;
}

.page-newsroom .blk-news-search .input-group {
  padding: 0 !important;
  margin: 0 !important;
  display: block;
  width: 100%;
  /*[disabled]position:absolute;*/
  /*[disabled]right:0px;*/
}

.page-newsroom .blk-news-search .input-group span {
  display: none;
  padding: 0 !important;
  margin: 0 !important;
}


.page-newsroom .blk-news-search .glyphicon-search {
  position: absolute;
  z-index: 10;
  font-size: 1.5em;
  font-weight: bold;
  color: #002B54;
  top: 8px;
  right: 20px;
    margin-top: -0.4em;
}

.page-newsroom .blk-news-search .form-text {
  width: 100% !important;
  height: 35px;
  margin: 0 0 54px !important;
  padding: 5px 33px 5px 10px;
  font-size: 16px;
}

.page-newsroom .blk-news-search .views-widget-filter-title {
  width: 30%;
  padding: 0;
  display: block;
  /*[disabled]position:relative;*/
  height: 60px;
  position: absolute;
  
}

.page-newsroom .blk-news-search .dropdown-menu {
  width: 100%;
  position: absolute !important;
  left: 0px !important;
  margin: 35px 0 0 !important;
}


/*News Archives Block*/
.page-newsroom .blk-news-archives {
  margin: 30px 0 0;
  /*[disabled]background:#FFF;*/
  height: auto;
}

.page-newsroom .blk-news-archives h2 {
  margin: 0 0 2px;
  font-size: 25px;
  height: 100%;
  padding: 15px 55px 10px 15px;
  line-height: 1.2em;
  font-family: AGaramondPro-Bold;
  background: #FFF url(../img/corner-top.png) no-repeat bottom right;
  color: #002B55;
}

.page-newsroom .blk-news-archives h3 {
  background: #0097C4 no-repeat;
  border: none;
  margin: 0px;
  padding: 5px!important;
}

.page-newsroom .blk-news-archives h3 a {
  color: #FFF;
  font-size: 16px;
  display: inline-block;
  padding: 0 34px 0 0;
  background: #0097C4 url(../img/dropdown-arrow.png) no-repeat 52px 7px;
}

.page-newsroom .blk-news-archives .view-news-section {
  padding: 25px 20px 10px 10px;
  background: #FFF url(../img/corner-bottom.png) no-repeat top right;
  min-height: 248px;
}

.page-newsroom .blk-news-archives .view-news-section .ui-accordion-content {
  overflow: visible !important;
  padding: 0px;
  height: auto !important;
  border: none;
}

.page-newsroom .blk-news-archives .news-item a {
  font-size: 14px;
  padding: 3px 0 0 3px;
  display: block;
  color: #4197C4;
}

.page-newsroom .blk-news-archives .ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin-top: 2px;
  padding: 0.5px 0.5px 0.5px 0.7px;
  min-height: 0;
  /*support: IE7*/
}

.page-newsroom .blk-news-archives .ui-accordion .ui-accordion-icons {
  padding-left: 2.2px;
}

.page-newsroom .blk-news-archives .ui-accordion .ui-accordion-noicons {
  padding-left: 0.7px;
}

.page-newsroom .blk-news-archives .ui-accordion .ui-accordion-icons .ui-accordion-icons {
  padding-left: 2.2px;
}

.page-newsroom .blk-news-archives .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: 0.5px;
  top: 50%;
  margin-top: -8px;
}

.page-newsroom .blk-news-archives .ui-accordion .ui-accordion-content {
  padding: 7px 5px;
  border-top: 0;
  overflow: auto;
}

.page-newsroom .blk-news-archives .news-item {
  padding-top: 5px;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #999999;
  background: #DADADA repeat-x 50% 50%;
  font-weight: normal;
  color: #212121;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
    color: #212121;
    text-decoration: none;
}

/* disabling as don't know the need and drupal connect didin't specify, currently interferes with the date picker 
.ui-icon,
.ui-widget-content .ui-icon {
    background-image: none;
}
*/
.ui-state-default .ui-icon {
    background-image: url(images/ui-icons_888888_256x240.png);
}

/*hide search bar temporarily */
.page-newsroom section#block-views-exp-news-section-page-1 {
  display: none!important;
}


/* Mobile */

@media screen and (max-width: 480px) {
  .page-newsroom .blk-featured-news .featured-news-container .featured-news-txt {
    max-height: 135px;
  }
}


/*tablet */



@media screen and (min-width:768px) and (max-width:1200px) {
  .page-newsroom .blk-featured-news img {
    margin-right: 10px;
  }

.page-newsroom .blk-featured-news .featured-news-container .featured-news-txt {
  padding: 20px;
  
}

.page-newsroom .blk-featured-news .featured-news-container .spotlight-txt {
  padding: 20px;
}


.page-newsroom .blk-featured-news .featured-news-container .spotlight-txt .quote {
  font: italic 300 24px times-new-roman;
   margin-bottom: 0px;
}
.page-newsroom .blk-featured-news .featured-news-container .h2{
  margin-top:5px
}

}

@media screen and(min-width:768px) and (max-width:1200px) {
  .col-md-8, .col-md-12 {
    padding-left: 0px!important;
    padding-right:0px!important;
  }

  .page-newsroom .blk-featured-news .featured-news-container{
 
  }
}



@media screen and (max-width: 992px){
  .page-newsroom .blk-featured-news {
    padding-left: 0px;
  }

  .page-newsroom .blk-featured-news .featured-news-container .featured-news-txt {
    background: white;
  }

 

  

  .breadcrumb, .breadcrumb-container {
    margin-bottom: 15px;
  }


.page-newsroom .news-list ul {
  padding-left: 0px;
  padding-right: 0px;
}
  .col-md-8, .col-md-12 {
    padding-left: 0px!important;
    padding-right:0px!important;
  }




  .page-newsroom .blk-news-archives {
    display: none;
    visibility: hidden;
  }

   .page-newsroom .view-content p {
    text-align: left;
   }
  .page-newsroom .blk-news-search {
  margin-top: -16px;
  width: 100%;
  padding: auto;
  margin: auto;
  padding: 0 !important;
  position: relative;
 
  height: 40px;
}

  .page-newsroom .blk-news-search .views-widget-filter-title {
    width: 100%;
    margin: auto;
    right: 0;

    
  }

  .page-newsroom .glyphicon-search {
    margin-right: 1%;
    right:0px!important;
  }

  .page-newsroom .blk-featured-news img {
    float: none;
    padding: 0!important;
  }
  .page-newsroom .blk-featured-news .featured-news-container {
 margin-bottom: 30px;
 width: 100%;
}



}

@media screen and (min-width: 992px) and (max-width: 1199px){
  .page-newsroom .blk-featured-news .featured-news-container .spotlight-txt {
    padding-bottom: 0px;
  }
  .page-newsroom .blk-news-search .views-widget-filter-title {
    right:0px;
  }
}
@media screen and (max-width: 1199px){
.page-newsroom #block-views-featured-news-block {
  padding-right: 0px;

}

  .page-newsroom .blk-featured-news {
    padding: 0 0 0 13px;
    margin: 0 0 20px;
  }

 
.page-newsroom .featured-news-container {
width:100%!important;
}

}
@media screen and (max-width: 1199px) { 
   /*force 1column layout on featured news section*/
  .page-newsroom .blk-featured-news img {
   float: none;
   margin-top: 10px;
  }
.page-newsroom .view-id-featured_news {
  background-color: white;
  margin-top: 30px;
  text-align: center;
}

}
/* Large desktop */
@media screen and (min-width: 1200px) { 

  .page-newsroom .blk-featured-news {
  /*[disabled]overflow:auto;*/
  padding: 0 0 0 13px !important;
  margin: 0 0 20px;
}

.page-newsroom .blk-featured-news .featured-news-container {
  width: 430px;
  float: left;
  padding: 0px !important;
  margin: 0 0 20px !important;

}




}



/* individual breakpoints for news article list */

@media screen and (max-width: 703px) {
.page-newsroom .news-text, .node-type-news-sections-articles .news-text {
  max-width: 50%;
}
.page-newsroom .news-list li img {
  max-width:50%;
}
}

@media screen and (max-width: 1199px) and (min-width: 993px) { 
.page-newsroom .news-text, .node-type-news-sections-articles .news-text {
  max-width: 63%;
}
}
 



