.slider_title {
    font-family: 'AGaramondPro-Bold';
    margin: 5px auto 2px auto;
    font-size: 22px;
    color:#542c85;
}
#programs-pages h2 {
    margin:0;
}
#programs-pages .fieldable-panels-pane {
	margin-bottom: 2em;
}
.question {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 18px!important;
}
.question-teaser {
    font-weight: bold;
}
a.more-faqs {
    color:#542c85;   
}
.programs-margin-bottom {
    margin-bottom: 2em;
}
/* tabs */
.curriculum-tab {
}
.overview-tab {
}
.faqs-tab {
}
.faculty-tab {
}
.program-info-tab {
}

.how-to-apply-group,
.program-info-tab,
.faqs-group,
.faculty-group,
.program-info-group,
.courses-group,
.program-outcomes,
.learning-objectives,
body.node-type-programs #panelizer-save-default {
	display:none;
}
/* tabs end */

/*
.program-outcomes,
.learning-objectives {
    max-width: 48%;
    float:left;
}
.program-outcomes {
    margin-right: 1em;
}
.learning-objectives {
    margin-left: 1em;

}
.program-outcomes-wrapper {
    margin-bottom: 2em;
}
*/

.faqs-right,
.faqs-left {
    max-width: 48%;
    float:left;
}
.faqs-left {
    margin-right: 1em;
}
.faqs-right {
    margin-left: 1em;

}
.faqs-wrapper {
    margin-bottom: 2em;
}
a.more-faqs {

}
span.list-credits {
    margin-right: 200px;
}
span.list-credits,
span.min-credits {
    float:right;
}
.total-credits {
    color:#542c85;
}
.total-credits {
    font-weight: bold;
    border-top: 1px solid #ccc;
}
.field-course-group .field-short-description {
    margin-top: 20px;
    font-weight: bold;
}
span.short-group-description {
    font-size: 12px;
    margin-top: 0;
    font-style: italic;
}
p.elective-description {
    color:#542c85;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
}
p.course-list-description {
    font-style: italic;
    color:#002b55;
    font-weight: normal;
}
.field-course-group ul.field-course {
    padding-left: 0;
    list-style-type: none;
}
.top-section-container {
    position:absolute;
    bottom:11%;
    width: 100%;
}
@media (max-width: 991px ) {
    .programs-top-section-content {
        width: 40%;
    }
}

@media (max-width: 480px ) {
.quick-info{
        margin-top:0px!important;
    }
.quick-info div {

padding-left:20px!important;
}
}
@media (max-width: 1199px ) {
    .programs-top-section-content {
        width: 50%;
    }
}

@media (max-width: 1199px ) {
.quick-info {
margin-top: 40px;
}
}
.programs-top-section-content {
    width: 66%;
    min-height: 110px;
    padding: 10px 15px;
    background-color: #FFF;
    opacity: 0.8;
    filter: alpha(opacity=80);
    float:left;
    margin-top: 90px;
}
.programs-top-section-content:after /*arrow added to slider_content DIV*/ {
    content: '';
    display: block;
    margin-top: -83px;
    width: 0;
    height: 0;
    border-color: transparent transparent #FFF transparent; /*border color should be same as div div background color*/
    border-style: solid;
    border-width: 18px;
}
.quick-info-label {
    font-weight: bold;
}
.quick-info {
    opacity: 0.8;
    filter: alpha(opacity=80);
    background-color: #000;
    color:#FFF;
    float:right;
    margin-right: 10px;
}
.quick-info div {
    padding: 10px;
    
    float:left;
    width: 177px;
    height:100px;
}
.quick-info-degree {
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc; 
}
.quick-info-school {
    border-left: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
.quick-info-location {
    clear:left;
    border-right: solid 1px #ccc;
    border-top: solid 1px #ccc;  
}
.quick-info-credits {
    border-left: solid 1px #ccc;
    border-top: solid 1px #ccc;
}
.pane-node-field-courses-note {
    margin-top: -26px;
}
ol.breadcrumb {
    margin-right: 12px;
}
.form-get-more-info {
    font-family: 'AGaramondPro-Bold';
    font-size: 25px;
    padding:15px 15px 0 15px;
    margin-bottom: 1px;
}
.form-get-more-info p {
    margin: 0;
}

#webform-client-form-18135 #webform-component-first-name {
    margin-top: 10px!important;
}

.panel-pane.pane-block.pane-webform-client-block-18135.content-box-purple.programs-margin-bottom.pane-webform {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.info-title {
z-index:-1;
right: 0px;
top: 0px;
width: 100%;
text-align: center;
position: absolute;
}