/* Landscape phones and smaller. */
@media (max-width: 480px) {
  /* Make sure content doesn't touch edges of screen. */
  .content-container {
    padding-left: 5px;
    padding-right: 5px;
      /*remove footer padding */
    padding-bottom: 0;
  }

  /* User Profile Pages. */
  .left {
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
  }

  .inside .margin-bottom-fix {
    left: 0;
    right: 0;
    padding-left: 0;
    padding-right:0;
  }
}

/* Landscape phone to portrait tablet. */
@media (max-width: 767px) {
  .news-slider .flexslider.slides {
    float:right;
  }

  /* Ensure spacing below menus. */
  .panel-panel.unitnav.left {
    margin-bottom: 30px;
  }
}

/* Tablets and smaller. */
@media (max-width: 979px) {
  .content-container {
    padding-left: 5px;
    padding-right: 5px;
      /*remove footer padding */
    padding-bottom: 0;
  }

  /* @todo: Footer is currently not responsive so don't display it on mobile. */
  .region-pre-footer,
  .main-footer {
    display:none;
    visibility:hidden;
  }

  #block-views-featured-news-block {
    padding-right:0;
  }
}

@media screen and (max-width: 768px) {

  .panel-panel {
    width: 100% !important;
  }

  section.col-sm-12 {
    padding-left :15px;
    padding-right :15px;
  }

  .inside {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }


  .panel-header, .footer {
    padding: 0;
  }

  .front .main-container.container {
    padding-left: 0;
  }

  .front .main-container.container {
    padding-left: 0;
    padding-right: 0;
  }

  .front .news-slider .flex-direction-nav {
    margin-bottom:30px !important;
    margin-top:0 !important;
    border-top: 0 !important;
  }

  .top-middle {
    width: 100% !important;
    margin-top: 0;
  }

  #news-slide > ul.flex-direction-nav > li:nth-child(1) > a {
    margin-left: 0;
  }
}

@media screen and (max-width: 1200px) {
  .top-middle {
    width: 100%;
    margin-top: 0;
  }
}


/* Flexslider responsive. */
@media (max-width: 600px) {
  .slider_content {
    padding-left:20px;
    padding-top:20px;
  }

  .main_logo {
    max-width:100%;
    margin-left:0;
  }
}
