
#whole-page-wrapper {
	/*ensure new stack context is created to ensure proper positioning with slideout menus
	- do not set opacity greater than 1 */
	z-index: 1;
}
.request-info-toggle {
	display:none;
}
@media screen and (max-width: 992px) {
	body {
		background-color:white;
	}
	.main-navigation-toggle {
		/*z-index: 400;*/
	}
	.main-navigation-close {
		color: #002b55;
		
		font-size: 30px;
		padding-top:0px!important;
		padding-left:25px;
		margin-top:0px!important;
	}


	.navbar-offcanvas.off-toggle {
	padding-left:25px!important;
}

	.navbar-offcanvas-inner {
		width: 720px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-left:56px;
	}

	.navbar-offcanvas.off-toggle{
	padding-right: 30px;
	

	}

	.info-offcanvas-wrapper {
		display: block;
		height: 100%;
	}
	#moveDivInfoTarget {
		background-color: #dfdede;
		position: relative;
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
	}



	.navbar-toggle.request-info-toggle {
	float:right;
	color:white;
	z-index: 5000;
	}

	/*#whole-page-wrapper, ul.dropdown-menu > li {
	  -webkit-transition: all 1s ease-in-out;
	  -moz-transition: all 1s ease-in-out;
	  -o-transition: all 1s ease-in-out;
	  transition: all 1s ease-in-out;
	}*/
	.navbar-offcanvas, .info-offcanvas-wrapper {
	    left: 0%;
	    z-index:-1;
	    position: absolute;
	    width:100%;
	    background-color: #dfdede;
	    opacity: 0;
	    padding-top: 8px;
	  -webkit-transition: all 1s ease-in-out;
	  -moz-transition: all 1s ease-in-out;
	  -o-transition: all 1s ease-in-out;
	   transition: all 1s ease-in-out;
	}





	.navbar-offcanvas.off-toggle.menu-front {
		z-index: 0;
	}

	.navbar-offcanvas-inner .nav > li {
	padding-top: 9px;

	margin-left: 10px;
	font-size: 1.5em;
	z-index:0;
	text-transform: uppercase;
	 
	}

	.main_nav_container {
		font-size: 0.9em;
		font-weight: bold;
	}
	.second_nav_container {
		font-size:0.7em;
		line-height:0.6em;
	}
	.menu-front {
		z-index: -1;
	}

	button.navbar-toggle {
		float: left;

	}

		.navbar-collapse, section#block-system-navigation {
			display:none;		
		}



	.nav > li > a {
		color: #002b55;
		z-index:0;
	}

	ul.menu.nav.navbar-nav {
		padding-bottom:20px;
		float:none;
		clear: both;

	}


.navbar-default .glyphicon-search, .whole-page-wrapper > .search-container {
	display: none!important;
}

	}
	.navbar-header {
		float: left;
	}
	.search-bar.search {
		float: right;
		clear: none;
	}

	.search-toggle-icon > .glyphicon-search {
		top: 7px;
		right: 5px;
	}
	.offcanvas-search-container.search_bar{
		display:none;
		margin-bottom:10px;
		margin-right:0px;
	}
	section#block-search-form {
		float: none!important;
		width: 100%!important;
		margin-right:0px!important;
		margin-left:8px!important;
		padding:0px;
		max-width:none!important;
		
	}



	

	
	

@media screen and (min-width: 993px) {
	
	button.navbar-toggle.request-info-toggle {
		display:none!important;
	}

.navbar-offcanvas.off-toggle{
		display:none!important;

	}
	.secondary-menu-color { 
		color: #ffcc33!important;

	}

}


/*Hide get more info div from non-program-pages. */
.info-title {
	display:none;
}


@media screen and (min-width: 768px) and (max-width: 992px) {

.offcanvas-search-container.search_bar {
	width: 654px!important;
	margin-left: auto!important;
	margin-right: auto!important;
}
.main-navigation-toggle {
display: block!important;
}

.ul.menu.navbar-nav > li > a {
	padding-left: 0px!important;
	margin-left:0px!important;
}

.navbar-nav > li > a {
		padding-left: 0px!important;
	}
ul.menu.nav.navbar-nav{
	float: none!important;
margin: 0!important;
width:100%;


}

.main-navigation-close {
	padding: 0px 0px!important;
}

.navbar-offcanvas-inner .nav > li{
	width: 100%!important;
	margin-left:0px!important;
}

.navbar-header {
	
	padding-left:20px;
}
}
@media screen and (min-width: 992px) {

.navbar-offcanvas.off-toggle, .info-title {
	display: none;
}
.search-toggle-icon > .glyphicon-search {
		top: 0px;
		right: 5px;
	}
a.menu-blue {
    color: #6f9fbb!important
}
	
}
@media screen and (max-width: 768px) {
	.wrapper-shifted-right {
margin-left:60%!important;
}

.wrapper-shifted-left {
margin-left: -80%;
}



.dropdowns-styler ul {
margin-left:0px!important;
	}

	.navbar-default .navbar-toggle {
		margin-left:30px;
		margin-right:30px;
	}
.navbar-nav .secondary {
	float:none;
}
.navbar-offcanvas-inner {
		padding-left:0px!important;
	}

	
}
@media screen and (max-width: 1199px){
header#navbar .navbar-collapse{
padding-left: 10px;
}
}
