.School-of-Business .panel-panel.unitnav.left {
	margin-bottom: 0px;
}


@media screen and (min-width: 600px) {

.School-of-Business .breadcrumb {
	margin-top:20px;
}

}



@media screen and (max-width: 768px) {
.School-of-Business .unit .inside {
	margin-bottom:0px;
}
.School-of-Business .news-slider .flexslider {
	margin-top:20px;
}

}
