ul.nopadding {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nopadding li {

}

/*Main Events page */

.page-events .title-bevel-corners {
  margin-top: 1px;
}

aside .region-sidebar-first .view-id-events {
  color: #FFFFFF;
  background: #0097C4;
  line-height: 2em;
  margin: 0 0 30px;
  padding: 20px;
}

aside .region-sidebar-first .view-id-events .views-summary a:link,
aside .region-sidebar-first .view-id-events .views-summary a:visited {
  color: #cb2d2d !important;
  text-transform: uppercase;
}

.view-id-events.eventfilter a:hover,
.view-id-events.eventfilter a:active {
  color: white !important;
}

.view-id-events.eventfilter ul {
  margin: 0;
  padding: 0;
}

.view-id-events.eventfilter ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.events-list ul {
  margin: 0;
  padding: 0;
}

.events-list .view-content li {
  list-style-type: none;
  margin: 20px 0 0;
  background: #FFF;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #DFDEDE;
  overflow: auto;
  min-height: 112px;
  padding-bottom: 10px;
}
.events-list li.views-row-last {
  border-bottom: none;
  padding-bottom: none;
}

.events-list ul li h3 a {
  color: #002B54;
  font: bold .825em sans-serif;
}
.events-list ul li h3 {
  margin: 0;
}

.events-list ul li .date {
  font-style: italic;
}
.events-list ul li .location,
.events-list ul li .category {
  font-size: .875em;
}

.page-events .text-center  {
  background: white;
}
.page-events .events-list ul.pagination {
  margin-bottom: 20px;
}
.page-events .events-list ul.pagination li {
  border-bottom: 0;
}
.page-events .events-list ul.pagination li a{
  color: #cb2d2d;
}
.page-events .events-list ul.pagination li.active{

}
.page-events .events-list ul.pagination li.active a{
  background-color: #cb2d2d;
  border-color: #cb2d2d;
  color: white;
}


/* Event Ticker block */

.block-views-c80f44cd81acffae85bd31d70d9cc77b {

}

.view-display-id-event_horizon.container {
  margin-top: 2em;
  padding: 0;
  position: relative;
}

.view-display-id-event_horizon .event-wrapper {
  width: 100%;
  background: #fff;
  margin: 0;
}

.view-display-id-event_horizon ul.events {
  height: 7em;
  margin-left: 0;
  padding-left: 0;
}

.view-display-id-event_horizon li.event {
  height: 7em;
  padding: 1.75em 1em;
  border-left: 2px solid #eee;
  display: block;
  float: left;
  position: relative;
  margin: 0;
  color: rgb(6, 45, 79);
}
.view-display-id-event_horizon li.event a{
  color: rgb(6, 45, 79);
}

.view-display-id-event_horizon li.event.views-row-first {
  border-left: 0;
}


.view-display-id-event_horizon li.event .event-date {
  display: block;
  float: left;
  padding: 0 1em 0 .5em;
  text-align: center;
  line-height: 1;
  height: 100%;
  width: 72px;
}

.view-display-id-event_horizon li.event .event-date .day {
  font-size: 2em;
  font-weight: bolder;
  display: block;

}

.view-display-id-event_horizon .view-footer {
  clear: both;
  display: block;
}

.ticker-overlay {
  background: rgba(109,166,73,.95);
  color: white;
  font-size: 1.5em;
  font-weight: 100;
  height: 98px;
  left: 28px;
  line-height: 4.85em;
  position: absolute;
  text-align: center;
  width: 265px;
  min-width: 180px;
  z-index: 100;
}
/*.ticker-overlay:after { /*Arrow
  position: absolute;
  top: -moz-calc(50% - 13px);
  top: calc(50% - 13px);
  right: 55px;
  display: block;
  width: 17px;
  height: 17px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  content: ' ';
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}*/
.first-visible li.event a:link,
.last-visible li.event a:link,
.first-visible li.event a:visited,
.last-visible li.event a:visited,
.last-visible li.event,
.first-visible li.event {
  color: #ccc !important;
}

.view-display-id-event_horizon .customNavigation a.btn {
  display: inline-block;
  color: white;
  background:white;
  height: 0;
  padding-top: 6.4em;
  position: absolute;
  top: 0;
  z-index: 100;
  margin-top: 0;
  width: 2em;
  overflow: hidden;
  text-indent: -200%;
  border-right: 2px solid #eee;
}
.view-display-id-event_horizon .customNavigation a.btn.next {
  right: 0;
  border-right: none;
  border-left: 2px solid #eee;
}
.view-display-id-event_horizon .customNavigation a.btn.prev:after {
  position: absolute;
  top: -moz-calc(50% - 7px);
  top: calc(50% - 7px);
  right: -1px;
  display: block;
  width: 18px;
  height: 18px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  content: ' ';
  -webkit-transform: rotate(228deg);
  -ms-transform: rotate(228deg);
  transform: rotate(228deg);
}
.view-display-id-event_horizon .customNavigation a.btn.next:after {
  position: absolute;
  top: -moz-calc(50% - 7px);
  top: calc(50% - 7px);
  left: -1px;
  display: block;
  width: 18px;
  height: 18px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  content: ' ';
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.view-display-id-event_horizon .customNavigation a.btn:hover {
  background-color: #efefef;
}


.owl-carousel .owl-item {
  width: 265px !important;
}
.owl-carousel .owl-item:nth-child(2) { /*First event after the "All Campuses" button*/
  margin-left: 25px;
}
.view-display-id-event_horizon li.views-row-2.event {
  color: rgb(109,166,73);
}
.view-display-id-event_horizon li.views-row-2.event a{
  color: rgb(109,166,73);
}

.view-display-id-event_horizon li.event .day {
  font-family: 'AGaramondPro-Bold';
}
.view-display-id-event_horizon li.event .month {
  font-size: 1.15em;
  text-align: center;
  text-transform: uppercase;
}
.panel-footer {
  background: none;
}

/**
 * Events Sidebar Styling
 * Includes event category and event location checkboxes as exposed filters.
 */

/* Views-specific class added to prevent overriding search field in header. */
.page-events .block-views-exp-events-events-page-main .form-control {
  background: #cb2d2d;
  border: none;
  color: white;
  height: auto !important;
  margin-top: -4px;
  padding-top: 45px;
  width: auto !important;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.page-events .views-exposed-form .views-exposed-widget,
.page-events #edit-field-location-value-wrapper {
  width: 100%;
}

.page-events .views-exposed-form .views-exposed-widget {
  padding-top: 0;
}

.page-events #edit-field-location-value-wrapper {
  margin-top: 18px;
}

.page-events .form-control .form-item input[type="radio"],
.page-events .form-control .form-item input[type="checkbox"]{
  display: inline;
}

.page-events .views-exposed-form label {
  margin-bottom: 10px;
  width: 90%;
  font-weight: normal;
}

.page-events .views-exposed-form label[for="edit-category"],
.page-events .views-exposed-form label[for="edit-field-location-value"] {
  color: white;
  font-weight: bold;
  margin-top: 15px;
  padding: 0 12px;
  text-transform: uppercase;
  position: absolute;
}

/* Homepage News Carousel */
.news-slider .flex-direction-nav {
  overflow: hidden !important;
}
.news-slider .flex-direction-nav a:before {
  line-height: 65px;
}
.news-slider .flex-direction-nav a:hover {
  text-decoration: none;

}
.news-slider .flex-control-nav.flex-control-paging {
  display: none;
}

/* Mini Cal */

#block-views-events-mini-calendar-block-1 {
  background: #cb2d2d;
  margin-bottom: 1.3em;
  padding-bottom: 1em;
}
#block-views-events-mini-calendar-block-1 a {
  color: white;
}
#block-views-events-mini-calendar-block-1 table {
  margin: 1em 1em 0;
  width: 94%;
}
#block-views-events-mini-calendar-block-1 td,
#block-views-events-mini-calendar-block-1 th{
  background: #cb2d2d;
  border: none;
  color: white;
  text-align: center;
}
#block-views-events-mini-calendar-block-1 .view-header {
  color: white;
  overflow: hidden;
  padding-bottom: 5px;
}
#block-views-events-mini-calendar-block-1 .view-header .title{
  color: white;
  float: left;
  font-weight: bold;
  margin-top: 15px;
  padding: 0 12px;
  text-transform: uppercase;
}
#block-views-events-mini-calendar-block-1 .view-header .date {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}
#block-views-events-mini-calendar-block-1 .view-header .date > span {
  border: 1px solid white;
  font-weight: bold;
  padding: 5px;
}
#block-views-events-mini-calendar-block-1 .view-header .date .month {
  margin-right: 10px;
}
#block-views-events-mini-calendar-block-1 .view .date-nav-wrapper{
  margin-top: 5px;
}
#block-views-events-mini-calendar-block-1 .view-header .date-nav-wrapper {
  position: absolute;
  top: 0;
}
#block-views-events-mini-calendar-block-1 .view-header ul.pager {
  display: none;
}
#block-views-events-mini-calendar-block-1 .view .date-nav-wrapper .date-heading {
  display: none;
}
#block-views-events-mini-calendar-block-1 .view .view-header .date-nav-wrapper .date-heading {
  display: inline-block;
  text-align: right;
}
#block-views-events-mini-calendar-block-1 .view .date-nav-wrapper .date-heading h3 a{
  border: 1px solid white;
  font-size: .5em;
  margin-right: 36px;
  margin-top: 0;
  padding: 5px;
  text-align: right;
  text-decoration: none;
}
#block-views-events-mini-calendar-block-1 .view .date-nav-wrapper .date-prev,
#block-views-events-mini-calendar-block-1 .view .date-nav-wrapper .date-next,
#block-views-events-mini-calendar-block-1 .view .date-nav-wrapper .date-prev a,
#block-views-events-mini-calendar-block-1 .view .date-nav-wrapper .date-next a{
  background: #cb2d2d;
}
#block-views-events-mini-calendar-block-1 .view .date-nav-wrapper .date-next a {
  text-align: left;
}
#block-views-events-mini-calendar-block-1 .view .date-nav-wrapper .date-nav,
#block-views-events-mini-calendar-block-1 .view .date-nav-wrapper .date-nav ul.pager {
  margin: 0 !important;
  padding-bottom: 0;
}
#block-views-events-mini-calendar-block-1 .view .date-nav-wrapper .date-nav ul.pager li a{
  width: auto;
}
#block-views-events-mini-calendar-block-1 .today .mini-day-off{
  background-color: white;
  color: #cb2d2d;
  margin: 0 .85em;
}

@media screen and (min-width:992px) {
  #block-views-events-mini-calendar-block-1 {
    margin: 0 1em 1.3em 0;
  }
}
@media screen and (min-width: 768px) {
  .page-events .col-md-4,
  .page-events .col-md-8,
  .page-events .col-md-12 {
   padding: 0;
  }
}
@media screen and (max-width: 992px) {
  .page-events .col-md-8 .col-md-12,
  .page-events .views-exposed-form .views-exposed-widget {
   padding: 0;
  }
  .view-events.col-md-12.events-list {
    margin-top: 15px;
  }
}
@media (max-width: 500px) {
  .ticker-overlay {
    display: none;
  }
}

/**
 * Calendar Day View styling.
 */

/* Reset margin/padding for views list wrapper. */
.view-display-id-view_events_day .view-content {
  background-color: #fff;
  padding-bottom: 15px;
}

/* Reset margin/padding for views list wrapper. */
.view-display-id-view_events_day .item-list {
  margin-top: 0;
  padding: 1px 15px;
}

/* Override the upper right 'dogear' added via .content-bevel-corners class. */
.view-display-id-view_events_day .item-list:after {
  border: none;
}

/* Styling for the <h3> used for the header of grouped results. */
.view-display-id-view_events_day .item-list > h3 {
  border-bottom: 2px solid #DFDEDE;
  /* !important added to override !important used in default header styling. */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 20px 0;
  padding: 15px 0;
}

/* Styling for the "no results found" element. */
.view-display-id-view_events_day .view-empty {
  background-color: #fff;
  padding: 20px;
}

/* Add lower border and padding for last item in events lists. */
.view-display-id-view_events_day .item-list .views-row-last {
  border-bottom: 1px solid #DFDEDE;
  padding-bottom: 15px;
}

/**
 * Stying for the day pager at the top of the events day view list.
 * (i.e., < Prev |  Day, Month Date, Year  | Next >).
 */
.region-content .date-nav-wrapper {
  background: #36322F;
  color: white;
  font-family: "AGaramondPro-Bold";
  height: 75px;
  margin-top: 0;
  overflow: hidden;
}

.region-content .date-nav-wrapper .date-nav {
  min-height: 0;
  margin: 0;
  padding: 0;
}

.region-content .date-nav-wrapper .date-heading h3 {
  font-size: 1.2em;
  padding-top: 28px;
}

.region-content .date-nav-wrapper .date-prev,
.region-content .date-nav-wrapper .date-next {
  background: none;
  margin: 0;
  min-height: 0;
  padding: 0;
  text-align: left;
}

.region-content .date-nav-wrapper a:hover {
  background: none;
}

.region-content .date-nav-wrapper .date-prev {
  left: 0;
  right: auto;
}

.region-content .date-nav-wrapper .date-prev a,
.region-content .date-nav-wrapper .date-next a {
  border-radius: 0;
  display: block;
  height: 0;
  color: transparent;
  margin: 0;
  overflow: hidden;
  padding: 75px 0 0;
  width: 40px;
}

.region-content .date-nav-wrapper .date-prev a {
  /* !important needed for overriding default newsroom styling. */
  border-right: 1px solid white !important;
}

.region-content .date-nav-wrapper .date-next a {
  /* !important needed for overriding default newsroom styling. */
  border-left: 1px solid white !important;
}

.region-content .date-nav-wrapper .date-prev a:after,
.region-content .date-nav-wrapper .date-next a:after {
  position: absolute;
  top: -moz-calc(50% - 7px);
  top: calc(50% - 7px);
  display: block;
  width: 18px;
  height: 18px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  content: ' ';
}

.region-content .date-nav-wrapper .date-prev a:after {
  left: 14px;
  -webkit-transform: rotate(228deg);
  -ms-transform: rotate(228deg);
  transform: rotate(228deg);
}

.region-content .view .date-nav-wrapper .date-next a:after {
  right: 14px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/**
 * Day pager breakpoint change: @ tablet & up.
 */
@media screen and (min-width: 768px) {
  .region-content .date-nav-wrapper .date-heading h3 {
    font-size: 1.5em;
    padding-top: 28px;
  }

  .region-content .date-nav-wrapper .date-prev a,
  .region-content .date-nav-wrapper .date-next a {
    width: 52px;
  }

  .region-content .date-nav-wrapper .date-prev a:after {
    left: 20px;
  }

  .region-content .view .date-nav-wrapper .date-next a:after {
    right: 20px;
  }
}

/**
 * Day pager breakpoint change: @ sm desktop & up.
 */
@media screen and (min-width: 992px) {
  .region-content .date-nav-wrapper .date-heading h3 {
    font-size: 1.7em;
    padding-top: 24px;
  }
}

/**
 * Left-side mini-calendar styling.
 */

.view-events-mini-calendar .calendar-calendar #multi-day-container,
.view-events-mini-calendar .calendar-calendar .header-body-divider{
  display: none;
}

.view-events-mini-calendar .calendar-calendar .day-view .full div.single-day div.dayview {
  background-color: #cb2d2d;
  border-color: white;
  border-radius: 0;
  color: #fff;
  font-size: 1.5em;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.view-events-mini-calendar .calendar-calendar .day-view .full div.single-day div.dayview .views-field-title{
  font-size: 1.125em;
  line-height: 2em;
}

.view-events-mini-calendar .calendar-calendar .day-view .full div.single-day div.dayview .date-display-single{
  font-style: italic;
}

.view-events-mini-calendar .calendar-calendar .day-view .full div.single-day div.dayview .date-display-single,
.view-events-mini-calendar .calendar-calendar .day-view .full div.single-day div.dayview .field-category {
  font-size: .875em;
}

.view-display-id-view_calendar_day h3 .date-display-single {
  font: bold 1.125em sans-serif;
}

.view-display-id-view_calendar_day h3 .date-display-single:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #DDDDDD;
}

.view-display-id-view_calendar_day .views-row:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #DDDDDD;
}

.calendar-calendar td span.date-display-single,
.calendar-calendar td span.date-display-start,
.calendar-calendar td span.date-display-end,
.calendar-calendar td span.date-display-separator,
.view-events-mini-calendar .calendar-calendar .day-view .full div.single-day div.dayview a{
  font-weight: normal !important;
}
.view-events-mini-calendar .calendar-calendar .day-view .full div.single-day div.dayview a{
  color: white;
  text-decoration: underline;
}

/*Homepage newsticker*/

.news-slider .flexslider.slides {
  border: none;
}
.news-slider .flexslider {
  background: white;
}
.news-slider .flex-direction-nav {
  border-top: 2px solid #dfdfdf;
  z-index: 10;
}