.form-all-fields {
    width:49%!important;
    float:left;
    margin-left:1%;
}

.form-all-fields-left {
    width:49%!important;
    float:left;
    margin-left:0;
}

.form-all-fields-right{
    width:49%!important;
    float:right;

}

.form-date-picker,
.form-three-fields {
    width:32%!important;
    float:left;
    margin-left:1%;
}

.form-three-fields-left {
    width:32%!important;
    float:left;
    margin-left:0;
    margin-right:1%;
}

.form-three-fields-right {
    width:32%!important;
    float:right;
    margin-left:1%;
    margin-right:0;
}

.form-all-fields {
    margin-bottom: 10px!important;
    display: table-cell;
}
form.webform-client-form-18135 button.webform-submit,
form.webform-client-form-18135 button.webform-next,
button#edit-webform-ajax-submit-18135 {
    background-color: #fccb44;
    background-image: none;
    color:#000;
    margin-left:1%;
}
.form-alone {
    margin-left:10px;
    width: 99.2%!important;
    clear:both;
}
.form-alone-ii {
    margin-left:10px;
    width: 98.2%!important;
    clear:both;
}
.form-inline-block-radios .radio {
    display:inline-block;
    width: 40%;
    clear:both;
}
.form-get-more-info,
body.node-type-programs .pane-webform-client-block-18135 {
    color: #542c85!important;
    background-color: #b9a9d1!important;
}

.form-text {
    display:table-cell;
}

.form-checkbox input[type="checkbox"] {
    margin: 4px 8px 0 0;
}

.form-checkbox .form-type-checkbox {
        padding-bottom: 20px;
        padding-left: 10px;
}

.webform-component-radios label {
    margin-top:10px;
    margin-bottom: 0px;
}

.webform-component-radios {
    margin-bottom: 10px;
}

.form-date-picker {
    width: 33%;
    float: left;
}

.error {
   color: #b94a48!important;
   border-color: #b94a48!important;

}

.btn-primary {
    background-color: #2098c3;
    border-color: #2098c3;
}
.input-group-btn:last-child>.btn {
    margin-left: 0;
}

form.webform-client-form .form-managed-file span.file img {
    display:none!important;
}

.webform-progressbar-number {
    font-size: 25px;

}

.short-form .form-control {
    margin-left: 3px!important;
    width:99%!important;

}
@media (min-width: 1200px) {
     .node-type-landing-page form.webform-client-form-18135 {
        height:551px;
    }
}

h4.rfi-description {
    text-align:center;
    position:relative;
    z-index:2;
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 20px;
}
span.line-center {
    margin:0;
    padding:0 10px;
    display:inline-block;
}
h4.rfi-description:after,
h4.rfi-description:before {
    content:"";
    position:absolute;
    top:50%;
    left:0;
    width:10%;
    border-top:solid 1px  rgba(0, 0, 0, 0.1);
    border-bottom:solid 1px  rgba(0, 0, 0, 0.3);
    z-index:-1;
}

h4.rfi-description:after {
   right: 0;
   left: auto;
}

.pane-webform-client-block-18135 select.form-select,
.pane-webform-client-block-18135 .form-all-fields {
    margin-bottom: 20px!important;

}

.node-type-landing-page .pane-webform-client-block-18135 select.form-select,
.node-type-landing-page .pane-webform-client-block-18135 .form-all-fields {
    margin-bottom: 10px!important;
}

/*blackboard couse copy form*/

.blackboard-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-right-width: 2px;
  border-bottom-width: 2px;
}

 .blackboard-autocomplete .ui-menu-item {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
}

.blackboard-autocomplete .ui-menu-item:hover {

    text-decoration: none;
    background-color: #f1f1f1;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}


.ui-helper-hidden-accessible {
    display:none;
}

.add-button {
  clear: both;
  margin-left: 15px;
}

ul.course-info-list {
  padding:0;
}

ul.course-info-list span,
ul.course-info-list li {
  display: inline-block;
  margin: 3px auto;
  width: 47%;
  padding:2%;
}
ul.course-info-list span.odd,
ul.course-info-list li.odd {
  margin-right:.5%;

}
ul.course-info-list span.even,
ul.course-info-list li.even {
  margin-left:.5%;
}

.page-node-done div.links a {
    display:none;
}

.hidden-mercy-upload-button .input-group-btn {
  display: none;
}
