/* CSS file for 34/33/33/66 stacked layout. */

.panel-header,
.footer {
  width: 100%;
  padding: 0 1em 0 0;
}

.left {
  width: 34%;
}

.right {
  width: 66%;
}


.bottom-middle, .bottom-right, .top-middle {
  width: 50%;
}

.top-right {
  width: 50%;
}

.programs-clear-left {
  clear:left;
}

/* Margins taken from the Panels module plugins */
.lastUnit .inside {
  margin: 0 0 1em 1em;
}
.firstUnit .inside {
  margin: 0 1em 1em 0;
}
.unit .inside {
  margin: 0 1em 2em 1em;
}

.unitnav .inside {
  margin: 0 1em 2em 0;
}

@media screen and (max-width: 319px) {
.unit {
    float: none !important; 
    width: auto !important;
  }
}

.line:after, .lastUnit:after {
  clear: both;
  display: block;
  visibility: hidden; 
  overflow:hidden;
  height:0 !important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}

.unitnav,
.unit {
  float: left;
}
.program-clear {
  clear:left;
}
.lastUnit {
  display: table-cell;
  float: none;

}
.panel-separator {
  height:2em;
}

.twocol-34-66-two-in-cols-flipped .well,
.twocol-34-66-two-in-cols-flipped .panel {
  margin-bottom: 0;
}
 

.title-box-purple .menu.nav {
  font-size: 1.2em;
  padding:0;
  margin:0;
}

.title-box-purple .menu.nav > li, .content-box-purple .menu.nav > li  {
  font-size:1em;
  padding:0;
  margin:0;
}
@media screen and (max-width: 992px) {z-in



.panel-pane.pane-block.pane-webform-client-block-18135.content-box-purple.programs-margin-bottom.pane-webform {
  height: 0px;
  padding:0;
  margin-bottom:0px;
  background-color: #dfdede;
}

.panel-pane.pane-custom.pane-1.form-get-more-info {
  padding:0;
  text-align:center;
  background-color: green!important;
}


.panel-panel.unit.top-middle.overview-tab.firstUnit {
  margin-top: 30px;
}

.panel-panel.unitnav.left {
  width: 100%;
}
.unit .inside, .lastUnit .inside {
  margin:0;
}
  /*slider */
  .slider ul {
    overflow:visibile;
  }

  
  .unitnav .inside {
  margin: 0;
}

.lastUnit .inside {
  margin: 0 0 1em 1em;
}
.firstUnit .inside {
  margin: 0 1em 1em 0;
}

.top-middle {
  width: 100%;
}
}
@media screen and (max-width: 768px) {
.programs-top-section-content{
  width:100%!important;
  max-width:100%!important;
}

}
@media screen and (max-width: 420px) {
  .quick-info {
  width:100%!important;
    margin-right: 0px!important;
}
  .quick-info-degree, .quick-info div {
    width:auto!important;
    float:none!important;
    height:auto!important;
  }


  .quick-info div {
    margin-left: -1px!important;
  }

  ol.breadcrumb {
    margin-top:30px!important;
    width:100%!important;
  }
}


/*offcanvas get more info */ 

.info-offcanvas {

position: absolute;

top: 50px;
padding-top: 10px;
width:67%;

background-color:#dfdede;
z-index: -1;
}

.info-front {
  z-index: 1;
}

/*quick-info and tagline break at 540 px, replace them with mobile-friendly non-absolte-position versions*/
@media screen and (max-width: 1200px) {
.programs-top-section-content, .quick-info {
  

}
.top-section-container {
    position:absolute;
    top:85%;
    width: 100%;
}
.node-type-programs .content-container {
  margin-top:370px;
}

.node-type-programs .container {
  padding-left:0px;
  padding-right:0px;
}

.view-main-page-top-slider ul, .slider ul {
  overflow: visible!important;
}


}

.panel-pane.pane-block.pane-webform-client-block-18135.content-box-purple.programs-margin-bottom.pane-webform, .info-offcanvas-wrapper {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.info-fullsize {
  height: 565px!important;
}


@media screen and (max-width: 1200px){
  div.faculty-profile {
      width:100%!important;
  }


}


@media screen and (min-width: 1612px){
 .top-section-container {
      bottom:auto;
      top:255px;
  }
}


@media screen and (min-width: 1200px){

ol.breadcrumb {
    margin-top:20px;
  }

}
@media screen and (max-width: 992px){
.panel-pane.pane-custom.pane-1.form-get-more-info, .panel-pane.pane-block.pane-webform-client-block-18135.content-box-purple.programs-margin-bottom.pane-webform {
position: absolute;
top: 30px;
right: 15px;
left: 15px;
width: auto;
display:none!important;

}
.info-title {
  display:initial!important;
}
}


@media screen and (max-width: 992px){
button.navbar-toggle.request-info-toggle {
  display:block;
  float: right;
}

.panel-panel.unitnav.left {
  margin-bottom:0px!important;
}
.panel-panel.unit.top-middle.overview-tab.firstUnit {
  margin-top: 0px!important;
}

.inside {
  margin-right: 0px!important;

}

.breadcrumb {
  margin-right:0px!important;
}

/*header#navbar {
  position: fixed;
  width: 100%;
  z-index: 50;
  margin-top:-50px!important;

}
*/
/*#whole-page-wrapper {
  padding-top: 50px;
}*/
}

@media screen and (max-width: 460px) {
.info-title {
  top: 40px!important;
}

.info-offcanvas-wrapper {
  padding-top: 45px!important;
}



  .form-all-fields {
    min-width:100%!important;
  }

.webform-component > select.form-select {
  float:none;
}
.main-page-title > h1 {
  font-size :1.6em;
}

.darken-title-1, .flex-active-slide  {
background-color: #002b55;
background-image:none!important;
height: 100px;
}
.darken-absolute{
  height:100px;
}

.flexslider .slides img {
  display:none!important;
}
.programs-top-section-content {
  margin-top: 20px!important;
  margin-bottom: 20px;
  opacity:1!important;
}
.node-type-programs .content-container {
  margin-top:450px!important;
}
}
@media screen and (min-width: 460px){
  .programs-top-section-content {
    margin-top:50px!important;
  }
}
@media screen and (max-width: 1199px) and (min-width: 700px) {
  .quick-info{
    margin-top: -50px!important;
  }
}
@media screen and (max-width: 700px) {
  .content-container {
    margin-top: 460px!important;
  }
}

@media screen and (max-width: 727px) {
  .faqs-right, .faqs-left {
    max-width: 100%!important;
    width: 100%;
  }
  .faqs-right {
    margin-left: 0px!important;
  }
}

/*
@media screen and (max-width: 727px) {
  .learning-objectives, .program-outcomes {
    max-width: 100%!important;
    width: 100%;
  }
  .learning-objectives {
    margin-left: 0px!important;
  }
}
*/

@media screen and (min-width: 768px) {
  .navbar-offcanvas-inner {
    padding-left:41px!important;
  }
}

@media screen and (max-width: 768px) {
  .navbar-offcanvas.off-toggle {
    padding-left:11px!important;
  }
}