// Styling specific to the main logo component.

// .main_logo class included for legacy styling.
.main-logo,
.main_logo {
  max-width: 100%;

  // Custom breakpoint for logo.
  @include breakpoint(600px) {
    max-width: 200px;
  }
}