// Styling specific to Flexslider carousels that
// act as a pager/controller.

.slider-controller {
  display: none;
  margin: 0 auto 20px;
  max-width: 670px;

  @include breakpoint($bp-sm) {
    display: block;
  }

  @include breakpoint($bp-md) {
    max-width: 900px;
  }

  @include breakpoint($bp-lg) {
    max-width: 1080px;
  }

  .flexslider {
    box-shadow: none;
  }

  .flex-viewport {
  }

  .flex-viewport .slides {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 20px 0;
    overflow: visible;
    align-items: stretch;
    align-content: flex-start;

    li {
      flex: 0 1 auto;
    }
  }

  .flex-direction-nav {
    margin: 0 !important;
  }

  .flex-active-slide {
    background-color: $color-alto;
    position: relative;

    &:before {
      @include horizontal-align(absolute);
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid $color-alto;
      display: block;
      content: '';
      height: 20px;
      overflow: hidden;
      top: -20px;
      width: 40px;

    }
  }

  .flex-direction-nav .flex-prev,
  .flex-direction-nav .flex-next {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 0;
    opacity: 0.8;
    overflow: hidden;
    padding: 40px 0 0 0;
    width: 40px;

    &:before {
      content: '';
    }
  }

  .flex-direction-nav .flex-prev {
    @include background-svg($asset-path + 'icons/icon-pager-arrow-left-40x--dk-blue.svg');
  }

  .flex-direction-nav .flex-prev,
  .flex-direction-nav .flex-prev:hover {
    left: -40px;

    @include breakpoint($bp-lg) {
      left: -50px;
    }
  }

  .flex-direction-nav .flex-next {
    @include background-svg($asset-path + 'icons/icon-pager-arrow-right-40x--dk-blue.svg');
  }

  .flex-direction-nav .flex-next ,
  .flex-direction-nav .flex-prev:hover {
    right: -40px;

    @include breakpoint($bp-lg) {
      right: -50px;
    }
  }
}

.slider-controller__slide-wrapper {
  cursor: pointer;
  padding: 10px;
}

.slider-controller__slide-text {
  font-family: $font-mercy-base-bold;
  padding: 10px;
}

.slider-controller__slide-label {
  text-transform: uppercase;

  &:after {
    content: ':';
  }
}

// Setup color classes for slide label based on Mercy branding colors.
// @see: _colors.scss
@each $name, $var in $mercy-color-map {
  .bg-#{$name} .slider-controller__slide-label {
    color: #{$var};
  }
}
