// Styling specific to flexslider-driven carousels.

// Setup background color classes based on Mercy branding colors.
// @see: _colors.scss
@each $name, $var in $mercy-color-map {
  .bg-#{$name} .slider__slide-cta a {
    background-color: #{$var};
  }

  .bg-#{$name} .slider__slide-label {
    color: #{$var};
  }
}

// Remove default height to pane-separator added
// via Boostrap panels layouts.
.pane-main-page-top-slider + .panel-separator {
  height: auto;
}

// !importants required for overriding default styling
// of flexslider nav/controllers.
.slider--thumbnail-nav {
  position: relative;

  .flex-viewport {
    height: auto !important;
  }

  .flex-control-nav {
    bottom: auto;
    float: none;
    margin: 0;
    right: auto;
    top: 0;
  }

  .flex-direction-nav {
    margin: 0;
  }

  .flexslider .slides {
    margin: 0 !important;
    max-height: 600px !important;
  }
}

.slider__slide-wrapper {
  background-color: $color-white;
  position: relative;
}

.slider__slide-image {
  overflow: hidden;
  position: relative;

  @include breakpoint($bp-sm) {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 600px;
    width: 100%;
  }

  &:after {
    background: linear-gradient(to right, rgba($color-black, 0.8) 25%, rgba($color-black, 0) 70%);
    content: '';
    display: block;
    height: 110%;
    left: -5%;
    position: absolute;
    top: -5%;
    width: 110%;
  }

  .flexslider .slides & img {
    display: block;
    margin: 0 0 0 -10%;
    max-width: 120%;
    width: auto;

    @include breakpoint($bp-xxsm) {
      margin-left: -5%;
      max-width: 110%;
    }

    @include breakpoint($bp-sm) {
      @include horizontal-align(absolute);
      top: 0;
      margin: 0 auto;
      max-width: 1200px;
    }

    @include breakpoint($bp-lg) {
      max-width: 1560px;
    }

    @include breakpoint($bp-xl) {
      max-width: 100%;
      width: 100%;
    }
  }
}

.slider__slide-text {
  background-color: $color-white;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  z-index: $zi-lowest;

  @include breakpoint($bp-sm) {
    background-color: transparent;
    padding: 45px 0 0;
    position: relative;
    max-width: 670px;
    min-height: 450px;
  }

  @include breakpoint($bp-md) {
    max-width: 900px;
  }

  @include breakpoint($bp-lg) {
    max-width: 1080px;
    min-height: 500px;
  }

  @include breakpoint($bp-xl) {
    min-height: 560px;
    padding: 80px 0 0;
  }
}

.slider__slide-label {
  font-family: $font-mercy-tertiary;
  font-size: 2.5rem;
  line-height: 1;
  padding: 15px 0;
  position: absolute;
  top: 0;

  @include breakpoint($bp-xxsm) {
    font-size: 4rem;
    padding: 40px 20px;
  }

  @include breakpoint($bp-sm) {
    font-size: 5rem;
    line-height: 0.8;
    padding: 0;
    position: relative;
    top: auto;
  }

  @include breakpoint($bp-lg) {
    font-size: 6.5rem;
  }
}

.slider__slide-title {
  color: $color-black;
  font-family: $font-mercy-base-bold !important;
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 0 0 16px;

  @include breakpoint($bp-sm) {
    color: $color-white;
    margin: 16px 0 0;
  }
}

.slider__slide-description {
  color: $color-black;
  font-family: $font-mercy-base;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0 0 24px;

  @include breakpoint($bp-sm) {
    color: $color-white;
    margin: 0 0 24px;
  }
}

.slider__slide-video-link {
  float: right;
  margin-left: 35px;

  @include breakpoint($bp-sm) {
    bottom: 10%;
    float: none;
    position: absolute;
    right: 0;
  }

  a {
    @include background-svg($asset-path + 'icons/icon-playbutton-35x--dk-blue.svg');
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    float: none;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 35px 0 0;
    position: static;
    width: 35px;

    @include breakpoint($bp-sm) {
      @include background-svg($asset-path + 'icons/icon-playbutton-75x--white.svg');
      opacity: 0.75;
      padding: 75px 0 0;
      width: 75px;
    }
  }
}

.slider__slide-cta {

  a {
    color: $color-white;
    display: inline-block;
    font-family: $font-mercy-base;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 1;
    padding: 15px 20px 10px;
    text-transform: uppercase;

    @include breakpoint($bp-md) {
       font-size: 1.5rem;
    }
  }
}
