/* CSS file for 34/33/33/66 stacked layout. */

.panel-header,
.footer {
  width: 100%;
}
.header-space {

}
.left {
  width: 34%;

}

.right {
  width: 66%;
  clear:right;
  float:right;
}

.middle-left {
  width: 33.33%;
}

.middle-center {
  width: 33.33%;
}

.middle-right {
  width: 33.33%;
}

.lastUnit .inside {
  margin: 0 1em 1em 1em;
}
.firstUnit .inside {
  margin: 0 0 1em 0;
}
.unit .inside {
  margin: 0 1em 1em 0;
}


.unit {
  float: left;
}

.lastUnit {
  display: table-cell;

}

.clearer {
  clear:both;
}

.line:after, .lastUnit:after {
  clear: both;
  display: block;
  visibility: hidden; 
  overflow:hidden;
  height:0 !important;
  line-height: 0;
  font-size: xx-large;
  content: "";
}

.middle-left .panel-separator,
.middle-center .panel-separator,
.middle-right .panel-separator {
  height: 3.2em;
}
@media screen and (max-width: 319px) {
.unit {
    float: none !important; 
    width: auto !important
  }
}

.twocol-34-66-three-in-cols .well,
.twocol-34-66-three-in-cols .panel {
  margin-bottom:0;
}

@media screen and (min-width: 769px) {
  .uno {
    margin:0 1em 2em 1em;
  }
  .dos {
    margin:0 1em 2em 1em;
  }
  .tres {
    margin:0 1em 2em 1em;
  }
  .cuatro {
    padding:0 1em 0 0;
  }
}
@media screen and (max-width: 768px) {
  .panel-panel{
    width: 100%!important;
  }
  section.col-sm-12 {
    padding-left :15px!important;
    padding-right :15px!important;
  }

      .inside {
      margin-right: 0px!important;
      margin-left: 0px!important;
    }

    
    .panel-header, .footer {
      padding:0;
    }
}

@media screen and (max-width: 1200px) {
.top-middle {
      width:100%!important;
    }
  }