/* CSS file for the 30 70 stacked layout */
@import url('../../../css/base-grid.css');

.column-container {
width: 100%;
overflow: auto;
clear: both;
display: block;

}

.panel-top {
	display: block;
	width: 100%;
	overflow: auto;
}

.panel-header, .panel-top, .panel-footer, .panel-display{
  width: 100%;
  padding:0px !important;
  margin:0px !important;
}

/* Margins taken from the Panels module plugins */
.lastUnit .inside {
  margin: 0 0 1em .5em;
}
.firstUnit .inside {
  margin: 0 .5em 1em 0;
}
.unit .inside {
  margin: 0 .5em 1em .5em;
}

.top-brick {
	width: 33.2%;
	float: left;
}

@media screen and (max-width: 1200px) {
  .top-brick {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .panel-col-thirty {
    width: 32.5%;
    float:left;
    margin-right: 2em;
  }
  .top-middle {
    margin: 0px 1px;
  }

  .panel-col-seventy {
    width: 65%;
    float:left;
  }
}