
.panel-2col-stacked { 
/*  overflow: hidden;  */
  margin-top: 0;
  padding-top: 0;
}

.panel-2col-stacked .panel-col-top,
.panel-2col-stacked .panel-col-bottom { 
  width: 99.9%; 
  clear: both;
}

.panel-2col-stacked .panel-col-top .inside {
  margin-bottom: 1em;
}

.panel-2col-stacked .panel-col-first { 
  float: left; 
  width: 33%; 
}
* html .panel-2col-stacked .panel-col-first {
  width: 32.9%;
}

.panel-2col-stacked .panel-col-first .inside { 
  margin: 0 1em 1em 0;
}

.panel-2col-stacked .panel-col-last { 
  float: left; 
  width: 66.9%;
}

.panel-2col-stacked .panel-col-last .inside { 
  margin: 0 0 1em 1em;
}

.panel-2col-stacked .panel-separator {
  margin: 0 0 2em 0;
}

.panel-2col-stacked .well,
.panel-2col-stacked .panel {
  margin-bottom:0;
}

.field.field-name-field-title.field-type-text.field-label-hidden.title-bevel-corners {
min-height: 75px;
}


@media screen and (max-width: 768px) {
  .panel-panel{
    width: 100%!important;
  }
  section.col-sm-12 {
    padding-left :15px!important;
    padding-right :15px!important;
  }

      .inside {
      margin-right: 0px!important;
      margin-left: 0px!important;
    }

    
    .panel-header, .footer {
      padding:0;
    }
}

@media screen and (max-width: 1200px) {
.top-middle {
      width:100%!important;
    }
  }