// Mercy.edu custom font faces.
// @see: https://css-tricks.com/snippets/css/using-font-face/

// Adobe Garamond Pro Bold
@font-face {
  font-family: 'Garamond Bold';
  src: url('../fonts/AGaramondPro-Bold.woff') format('woff'),
       url('../fonts/AGaramondPro-Bold.ttf')  format('truetype');
}

// Franklin Gothic Book
@font-face {
  font-family: 'Franklin Gothic Book';
  src: url('../fonts/ITCFranklinGothicStd-Book.woff') format('woff'),
       url('../fonts/ITCFranklinGothicStd-Book.ttf')  format('truetype');
}

// Franklin Gothic Demi
@font-face {
  font-family: 'Franklin Gothic Demi';
  src: url('../fonts/ITCFranklinGothicStd-Demi.woff') format('woff'),
       url('../fonts/ITCFranklinGothicStd-Demi.ttf')  format('truetype');
}

// Gnuolane Reg
@font-face {
  font-family: 'Gnuolane Reg';
  src: url('../fonts/Gnuolane-Rg.woff') format('woff'),
       url('../fonts/Gnuolane-Rg.ttf')  format('truetype');
}
