@media screen and (max-width:992px){
  .node-type-news-sections-articles section.col-md-8 {
    padding-top: 30px;

  }

  .node-type-news-sections-articles .breadcrumb, .breadcrumb-container{
    margin-bottom:10px!important;
  }
  .node-type-news-sections-articles .col-md-4 {
    padding-right:0px;
  }
}

.panel-2col-stacked { 
/*  overflow: hidden;  */
  margin-top: 0;
  padding-top: 0;
}

.panel-2col-stacked .panel-col-top,
.panel-2col-stacked .panel-col-bottom { 
  width: 99.9%; 
  clear: both;
}

.panel-2col-stacked .panel-col-top .inside {
  margin-bottom: 1em;
}

.panel-2col-stacked .panel-col-first { 
  float: left; 
  width: 33%; 
}
.panel-2col-stacked .panel-col-first {
  width: 32.9%;
}

.panel-2col-stacked .panel-col-first .inside { 
  margin: 0 1em 1em 0;
}

.panel-2col-stacked .panel-col-last { 
  float: left; 
  width: 66.9%;
}

.panel-2col-stacked .panel-col-last .inside { 
  margin: 0 0 1em 1em;
}

.panel-2col-stacked .panel-separator {
  margin: 0 0 2em 0;
}

.panel-2col-stacked .well,
.panel-2col-stacked .panel {
  margin-bottom:0;
}

.node-type-news-sections-articles .center-wrapper {
  width:100%;
}

.node-type-news-sections-articles .photo-container {
  width:100%;
}

.node-type-news-sections-articles .field-campus {
  width: auto;
  float: left;
  font-weight:bold;
}

.node-type-news-sections-articles .main-content-container {
  clear:left;
}

.node-type-news-sections-articles .boilerplate-container{
  clear: both;
}

.node-type-news-sections-articles .field-release-date {
  color: #8E8E92
}

.node-type-news-sections-articles .article-category {
 
  color: #318DC1;
}

.node-type-news-sections-articles .pane-content {
  padding-top:10px;
}
.node-type-news-sections-articles .pane-content.content-bevel-corners {
  padding-bottom: 70px;
  min-height: 260px;
}
.node-type-news-sections-articles .title-container {
margin: 0 0 2px;
  font-size: 25px;
  height: 100%;
  padding: 0px;
  padding-left:10px;
  line-height: 1em; 
  font-weight: 800;
  color: #0097C4;
}
.node-type-news-sections-articles .pane-node-title .pane-content h2{
  margin-top:0px;
  margin-bottom:0px;
}
.node-type-news-sections-articles h2.pane-title{
  font-size: 1.6em;
}
.node-type-news-sections-articles .panel-panel.title-container.field-mp-left-column-title.title-bevel-corners {
  margin-bottom:0px;
}

.node-type-news-sections-articles .pane-node-title .pane-content{
  padding-top: 18px;


}
.node-type-news-sections-articles .views-summary{
list-style-type: none; 
margin: 0;
padding:0;
}

.node-type-news-sections-articles .newsmenu .view-header a {
text-transform: uppercase;
}

.node-type-news-sections-articles .views-summary a {
color: #B1CEDF;
line-height: 2em;
font: bold 16px sans-serif;
display: block;
margin: 0 0 28px;
text-transform: uppercase;
}
.node-type-news-sections-articles aside.col-md-4 {
  padding-left: 0px;
}

.node-type-news-sections-articles section.col-md-8 {
  padding-right: 0px;
}

.node-type-news-sections-articles h1, .node-type-news-sections-articles .pane-node-title .pane-content a {

  margin-top:0px;
  margin-bottom: 0px;
  padding-top:5px;
  font-weight:bold;
}

.node-type-news-sections-articles .panel-pane.pane-node-body.content-bevel-corners {
  padding-bottom:0px;
}

.node-type-news-sections-articles .panel-pane.pane-node-body {
  padding-left: 0px;
}

.node-type-news-sections-articles .campus {
  padding-bottom: 0px;
  font-weight: bold;
}
.panel-pane.pane-entity-field.pane-node-field-campus.strong {
  float:left;
  width:auto;
}
.pane-node-field-campus .pane-content {
  padding-top:0px;
}
.node-type-news-sections-articles #content-bottom-corner-fix {
  height:0px;
  padding:0px;
}
.node-type-news-sections-articles .field-media-file {
  text-align: center;
}
.node-type-news-sections-articles .field-media-file img {
  float: right;
  max-width:40%;
  height:auto;
  margin-bottom:20px;
  margin-top: -60px;
  margin-left:20px;
}
@media screen and (max-width: 676px){
.node-type-news-sections-articles section#block-views-news-section-block-1 {
  display:none;
  visibility:hidden;
}
}

/** Ensure image breaks properly at small screen sizes**/ 

@media screen and (max-width: 676px){
  .node-type-news-sections-articles .field-media-file {
  text-align: center;
}
  .node-type-news-sections-articles .field-media-file img {
  float: none;
  margin-bottom:20px;
  margin-top: 0px;
  margin-left:20px;
   max-width:75%;
  width: 75%;
  margin-left:auto;
  height:auto;
}




}

.node-type-news-sections-articles div#dropdown-house {
margin-top:-76px;
  }