//===========================
// Breakpoints
//===========================

// Breakpoint width variables.
$w-xxsm: 42em;
$w-xs: 47.9375em;
$w-sm: 48em;
$w-md: 62em;
$w-lg: 75em;
$w-xl: 98em;

// Standard breakpoints.
$bp-xxsm: $w-xxsm, 'no-query' true;
$bp-xs: max-width $w-xs, 'no-query' true;
$bp-sm: $w-sm, 'no-query' true;
$bp-md: $w-md, 'no-query' true;
$bp-lg: $w-lg, 'no-query' true;
$bp-xl: $w-xl, 'no-query' true;
