//=======================================================
// Colors
// --------------------------------------------
// Prefix all color variables with $color-.
// This makes it easy to figure out what a variable
// is doing later.
//
// Named using http://chir.ag/projects/name-that-color
//=======================================================

// Colors
$color-guardsman-red: #cc0000;

// Shades
$color-alto: #dadada;
$color-silver: #cccccc;
$color-concrete: #F2F2F2;
$color-white: white;
$color-black: black;

// Mercy Brand Colors
$color-mercy-blue: #2098c3;
$color-mercy-blue-dk: #002b55;
$color-mercy-green: #6da748;
$color-mercy-orange: #eb8c2e;
$color-mercy-purple: #542c85;
$color-mercy-red: #cb2d2d;

// Color map for Mercy brand colors.
$mercy-color-map: (
  mercy-blue: $color-mercy-blue,
  mercy-blue-dk: $color-mercy-blue-dk,
  mercy-green: $color-mercy-green,
  mercy-orange: $color-mercy-orange,
  mercy-purple: $color-mercy-purple,
  mercy-red: $color-mercy-red
);
