//=======================================================
// Typography
//=======================================================

$font-stack-base: 'Verdana', 'Arial', sans-serif;
$font-stack-secondary: 'Arial', 'Helvetica', sans-serif;
$font-stack-tertiary: 'Helvetica', 'Arial', sans-serif;

$font-weight-bold: bold;
$font-italic: italic;

$font-mercy-base: 'Franklin Gothic Book', $font-stack-secondary;
$font-mercy-base-bold: 'Franklin Gothic Demi', $font-stack-secondary;
$font-mercy-secondary: 'Garamond Bold', $font-stack-base;
$font-mercy-tertiary: 'Gnuolane Reg', $font-stack-secondary;
