//=======================================================
// Variables
//=======================================================

// z-index vars.
$zi-highest: 50;
$zi-high: 40;
$zi-medium: 30;
$zi-low: 20;
$zi-lowest: 10;
$zi-ground: 0;
$zi-below-ground: -1;

// Path to assets/dist directory.
$asset-path: '../assets/dist/';
