
.panel-3col-33-stacked { 
/*  overflow: hidden;  */
}

.panel-3col-33-stacked .panel-col-top,
.panel-3col-33-stacked .panel-col-bottom { 
  width: 100%; 
  clear: both;
  margin-bottom:30px;
}

.panel-3col-33-stacked .panel-col-bottom .inside {
  margin-top: 2em;
}

.panel-3col-33-stacked .panel-col-first { 
  float: left; 
  width: 30%; 
}

.panel-3col-33-stacked .panel-col-first .inside { 
  margin: 0 1em 1em 0;
}

.panel-3col-33-stacked .panel-col { 
  float: left; 
  width: 36%; 
}

.panel-3col-33-stacked .panel-col .inside { 
  margin: 0 1em 1em 1em;
}

.panel-3col-33-stacked .panel-col-last { 
  float: left; 
  width: 36%; 
}

.panel-3col-33-stacked .panel-col-last .inside { 
  margin: 0 0 1em 1em;
}

.panel-3col-33-stacked .panel-separator {
  margin: 0 0 2em 0;
}
.panel-3col-33-stacked .well,
.panel-3col-33-stacked .panel {
  margin-bottom:0;
}


@media screen and (max-width: 768px) {
  .panel-panel{
    width: 100%!important;
  }
  section.col-sm-12 {
    padding-left :15px!important;
    padding-right :15px!important;
  }

      .inside {
      margin-right: 0px!important;
    }

}