/**
* @file socialfeed.css
*
* Theming depending on placement of the Social Feed Tabs block in region with class "container-fluid"
* in order to have a full-width background.
*
*/

/* Wrapper Background */

.pre-footer {
  margin-top: 80px;
  background-color: #5698bb;
  word-wrap: break-word;
}

/* Social Feeds Block main styles */
#block-quicktabs-social-feed {
  position: relative;
  color: #fff;
}
#block-quicktabs-social-feed h2 {
  position: absolute;
  top: -56px;
  left: 260px;
  color: #032a53;
  font-size: 24px;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  line-height: 50px;
}
/* tabs */
#block-quicktabs-social-feed ul.quicktabs-tabs {
  position: absolute;
  top: -50px;
  left: 20px;
  margin: 0;
  padding: 0;
}
#block-quicktabs-social-feed ul.quicktabs-tabs li {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
}
#block-quicktabs-social-feed ul.quicktabs-tabs li a {
  display: block;
  width: 29px;
  height: 29px;
  background-image: url('icons.png');
  background-repeat: no-repeat;
  text-indent: -9999em;
  line-height: 29px;
}
#block-quicktabs-social-feed ul.quicktabs-tabs li.twitter a {
  background-position: 0 0;
}
#block-quicktabs-social-feed ul.quicktabs-tabs li.twitter.active a {
  background-position: 0 -32px;
}
#block-quicktabs-social-feed ul.quicktabs-tabs li.facebook a {
  background-position: -55px 0;
}
#block-quicktabs-social-feed ul.quicktabs-tabs li.facebook.active a {
  background-position: -55px -32px;
}
#block-quicktabs-social-feed ul.quicktabs-tabs li.youtube a {
  background-position: -112px 0;
}
#block-quicktabs-social-feed ul.quicktabs-tabs li.youtube.active a {
  background-position: -112px -32px;
}
#block-quicktabs-social-feed ul.quicktabs-tabs li.instagram a {
  background-position: -173px 0;
}
#block-quicktabs-social-feed ul.quicktabs-tabs li.instagram.active a {
  background-position: -173px -32px;
}
#block-quicktabs-social-feed ul.quicktabs-tabs li.active:after {
  position: absolute;
  bottom: -14px;
  left: 2px;
  display: block;
  width: 25px;
  height: 25px;
  background-color: #5698bb;
  content: ' ';
  -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
  -ms-transform:rotate(45deg); /* IE 9 */
  transform:rotate(45deg);
}

/* quick tab page */
.quicktabs-tabpage {
  position: relative;
  overflow: hidden;
  padding: 15px 32px 32px 0;
  height: 180px;
}
.quicktabs-tabpage .view-mc-twitter-feed .view-header {
  float: left;
  -moz-box-sizing: border-box;
  padding-right: 20px;
  width: 18%;
}
.quicktabs-tabpage .view-mc-twitter-feed .view-content {
  float: left;
  width: 82%;
}
#quicktabs-container-social_feed .views-field-created,
#quicktabs-container-social_feed .views-field-field-instf-create,
#quicktabs-container-social_feed .views-field-created-time,
#quicktabs-container-social_feed .views-field-created em,
#quicktabs-container-social_feed .views-field-field-instf-create em,
#quicktabs-container-social_feed .views-field-created-time em,
.quicktabs-tabpage .view a {
  color: #fff;
  font-weight: normal;
}

.quicktabs-tabpage .view a:hover {
  color: #ccc;
  text-decoration: none;
}

.quicktabs-tabpage .view-content .views-row {
  float: left;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 20px;
  width: 33%;
}
.quicktabs-tabpage .view-mc-twitter-feed .view-content .views-row,
.quicktabs-tabpage .view-mc-facebook-feed .view-content .views-row {
  line-height: 1.30;
  overflow: hidden;
}

.quicktabs-tabpage em {
  font-weight: normal;
  font-style: normal;
}
/* quick tab page pager */
.quicktabs-tabpage ul.pager {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  width: 30px;
  height: 100%;
  height: 180px;
  border-right: 1px solid #90c6e5;
  border-left: 1px solid #90c6e5;
}
.quicktabs-tabpage ul.pager li {
  display: block;
  height: 90px;
}
.quicktabs-tabpage ul.pager li + li {
  border-top: 1px solid #90c6e5;
}
.quicktabs-tabpage ul.pager .pager-current{
  display: none;
}
.quicktabs-tabpage .pager li>a {
  position: relative;
  display: block;
  padding: 0;
  height: 100%;
  border: 0 none;
  border-radius: 0;
  background-color: transparent;
  text-indent: -9999em;
  overflow: hidden;
}
.quicktabs-tabpage .pager li>a:hover {
  background-color: rgba(225,225,225,0.2);
}
.quicktabs-tabpage .pager li>a.progress-disabled {
  background-color: rgba(225,225,225,0.5);
}

.quicktabs-tabpage .pager li>a:after {
  position: absolute;
  top: -moz-calc(50% - 10px);
  top: calc(50% - 10px);
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  content: ' ';
  -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
  -ms-transform:rotate(45deg); /* IE 9 */
  transform:rotate(45deg);
}
.quicktabs-tabpage .pager li.pager-previous>a:after {
  left: 10px;
  -webkit-transform:rotate(225deg); /* Opera, Chrome, and Safari */
  -ms-transform:rotate(225deg); /* IE 9 */
  transform:rotate(225deg);
}


