
.panel-3col-33-stacked { 
/*  overflow: hidden;  */
}

.panel-3col-33-stacked .panel-col-top,
.panel-3col-33-stacked .panel-col-bottom { 
  width: 100%; 
  clear: both;
}

.panel-3col-33-stacked .panel-col-top .inside {
  margin-bottom: 1em;
}

.panel-3col-33-stacked .panel-col-first { 
  float: left; 
  width: 33%; 
}

.panel-3col-33-stacked .panel-col-first .inside { 
  margin: 0 1em 1em 0;
}

.panel-3col-33-stacked .panel-col { 
  float: left; 
  width: 33%; 
}

.panel-3col-33-stacked .panel-col .inside { 
  margin: 0 1em 1em 1em;
}

.panel-3col-33-stacked .panel-col-last { 
  float: left; 
  width: 33%; 
}

.panel-3col-33-stacked .panel-col-last .inside { 
  margin: 0 0 1em 1em;
}

.panel-3col-33-stacked .panel-separator {
  margin: 0 0 2em 0;
}
.panel-3col-33-stacked .well,
.panel-3col-33-stacked .panel {
  margin-bottom:0;
}

.col-sm-12 {
  padding: 0!important;
}

@media screen and (max-width: 992px) {
  .panel-panel{
    width: 100%!important;
  }


  .inside {
    margin-right: 0px!important;
  }
 #schools_topbar div a {
    margin:0px!important;
  }

}

/* academics fix top row */
@media screen and (min-width: 1200px){


.field.field-name-field-content-description.field-type-text-long.field-label-hidden {
   
}

  #schools_topbar .last a {
    text-align: center;
    padding-left: 11px;
  }
  .col-sm-12 {
    padding: 0px;
  }
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  .breadcrumb {
    margin-top: 30px;
  }
}
