/* CSS file for 34/33/33/66 stacked layout. */

.panel-header,
.footer {
  width: 100%;
  padding: 0 1em 0 0;
}

.header-space {
  margin-bottom: 0px;
}


.left {
  width: 34%;
}

.right {
  width: 66%;
}

.top-middle {
  width: 50%;
}

.top-right {
  width: 50%;
}

/* Margins taken from the Panels module plugins */
.lastUnit .inside {
  margin: 0 0 1em 1em;
}
.firstUnit .inside {
  margin: 0 1em 1em 0;
}
.unit .inside {
  margin: 0 1em 2em 1em;
  clear:both;
}

.unitnav .inside {
  margin: 0 1em 2em 0;
}


@media screen and (max-width: 319px) {
.unit {
    float: none !important; 
    width: auto !important;
  }
}

.line:after, .lastUnit:after {
  clear: both;
  display: block;
  visibility: hidden; 
  overflow:hidden;
  height:0 !important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}

.unitnav,
.unit {
  float: left;
}

.lastUnit {
  display: table-cell;
  float: none;

}

.panel-separator {
  height:2em;
}

.breadcrumb { 
margin-bottom:0px;
}



@media screen and (max-width: 768px) {
  .panel-panel{
    width: 100%!important;
  }
  section.col-sm-12 {
    padding-left :15px!important;
    padding-right :15px!important;
  }

      .inside {
      margin-right: 0px!important;
      margin-left: 0px!important;
    }

    
    .panel-header, .footer {
      padding:0;
    }

 

}

@media screen and (max-width: 1200px) {
.top-middle {
      width:100%!important;
    }
  }