form.node-calendar-form .field-name-field-location,
form.node-calendar-form .field-name-field-category {
	clear:both;
	margin-top: 10px;
	margin-bottom: 20px;
	float: left;
	width: 100%;
}
form.node-calendar-form .field-name-field-category .form-checkboxes .form-item {
	width:20%;
	float:left;
}

form.node-calendar-form .field-name-field-location .form-checkboxes .form-item,
form.node-calendar-form .field-name-field-crm-code-dobbs-ferry,
form.node-calendar-form .field-name-field-crm-code-bronx,
form.node-calendar-form .field-name-field-crm-code-manhattan,
form.node-calendar-form .field-name-field-crm-code-yorktown-heights,
form.node-calendar-form .field-name-field-crm-code-online,
form.node-calendar-form .field-name-field-crm-code-off-campus {
	width:16%;
	float:left;
}

form.node-calendar-form .field-name-field-crm-code-dobbs-ferry input,
form.node-calendar-form .field-name-field-crm-code-bronx input,
form.node-calendar-form .field-name-field-crm-code-manhattan input,
form.node-calendar-form .field-name-field-crm-code-yorktown-heights input,
form.node-calendar-form .field-name-field-crm-code-online input,
form.node-calendar-form .field-name-field-crm-code-off-campus input {
	width:100px;
}

form.node-calendar-form .form-item-field-email-und-0-value,
form.node-calendar-form .form-item-field-referenced-programs-und,
form.node-calendar-form .form-item-field-open-house-sub-category-und {
	clear:both;
	width: 100%;

}

form.node-calendar-form .form-item-field-crm-code-dobbs-ferry-und-0-value,
form.node-calendar-form .form-item-field-crm-code-bronx-und-0-value,
form.node-calendar-form .form-item-field-crm-code-manhattan-und-0-value,
form.node-calendar-form .form-item-field-crm-code-yorktown-heights-und-0-value,
form.node-calendar-form .form-item-field-crm-code-off-campus-und-0-value,
form.node-calendar-form .form-item-field-crm-code-online-und-0-value {
	position:absolute;
}

form.node-calendar-form .form-item-field-crm-code-bronx-und-0-value {
	left:16%;
}
form.node-calendar-form .form-item-field-crm-code-manhattan-und-0-value {
	left:32%;
}
form.node-calendar-form .form-item-field-crm-code-yorktown-heights-und-0-value {
	left:48%;
}
form.node-calendar-form .form-item-field-crm-code-online-und-0-value {
	left:64%;	
}
form.node-calendar-form .form-item-field-crm-code-off-campus-und-0-value {
	left:80%;
}
.group-location-campus-wrap {
	float: left;
	width: 100%;
	height: 160px;
	background-color: #ccc;
	padding-left: 10px
}

.page-node-17671 .view-webform-submissions {
	display:none;
}
