/* CSS file for 70/30 custom layout. */
/* Large desktop */
@media (min-width: 1200px){
    .user-profile-layout .filter-container {
      max-width:350px;
      float: right;

  }
  .user-profile-layout .views-exposed-widgets {
    float: right;
  }

  .user-profile-layout #edit-field-name-and-title-value {
   
  }

  .user-profile .input-group {
          min-width: 290px;
      }
}
@media (min-width: 992px) and (max-width: 1199px){ 
    .user-profile-layout .filter-container {
        max-width:289px;
        float: right;
    }

    .user-profile .input-group {
      max-width: 231px;
    }


}
@media (max-width: 991px){
    #moveDivTarget {
      margin-bottom: 10px;
    }
    .linked-in {
      margin-top: 0px!important;
    }

    .profile-filters .views-exposed-widget {
     float:none;
    }

    .profile-filters .views-exposed-widget .form-submit {
      margin-top: -56px!important;
    }


  .user-profile-layout .views-exposted-widgets {
    float: right;
    width:100%;
  }

  .user-profile-layout .input-group {
    width:100%;
  }
  #edit-field-name-and-title-value-wrapper {
   width: 100%;
  }

}
@media (min-width: 992px) { 

  .user-profile-layout .views-exposted-widgets {
    float: right;
  }

  .search-filter,
  .dept-filter,
  .footer, .username {
    width: 100%;
    padding-left: .5em;
  }
  .search-filter .inside .views-exposed-form,
  .dept-filter .inside .views-exposed-form {
    float:right;
    max-width: 332px;
    clear:both;
    margin: 0 0 .5em 0;
  }

  .user-profile .input-group {
    
  }

  .left {
    width: 70%;
  }
  .search-filter .inside {
    margin:0!important;
  }
  .picture {
    width: 30%;
  }
  .username .name {
    float:left;
    margin: 0 0 0 5px;
  }
  .left .name h1 {
    margin:0;
  }
  /* Margins taken from the Panels module plugins */
  .lastUnit .inside {
    margin: 0 0 1em .5em;
  }
  .firstUnit .inside {
    margin: 0 .5em 1em 0;
  }
  .uni .name,
  .unit .inside {
    margin: 0 1.5em 1em .5em;
    padding-top: 10px;

  }
  .unit .inside {
    background-color: #fff;
  }

  .picture .inside img {
    margin-bottom: 15px;
  }

  .picture .inside .pane-bundle-right-triangle {
    margin-top: -1em;
  }

}

@media screen and (max-width: 319px) {
  .unit {
      float: none !important; 
      width: auto !important;
    }
  }

  .line:after, .lastUnit:after {
    clear: both;
    display: block;
    visibility: hidden; 
    overflow:hidden;
    height:0 !important;
    line-height: 0;
    font-size: xx-large;
    content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
  }

  .unit {
    float: left;
  }
  .lastUnit {
    display: table-cell;
    float: none;
    width: auto;
  }

  .margin-bottom-fix {
    margin-bottom: 0!important;
  }

  .linked-in {
  margin-left: 0px;
  text-align: center;
  }

}





/* Landscape phones and down */
@media (max-width: 480px) { 

  select option {
    padding-right: 50px;
  }
  .content-container {
    padding-bottom: 0px!important;
  }



  .profile-publications {
    margin-top: -30px;
  }

  .username {
    text-align: center;
  }
   }



/* all sizes */
.user-profile-layout .field-presentations {
  margin-bottom: 10px;
}

.user-profile-layout #edit-field-school-or-department-value {
  background-image: url(/sites/default/files/default_images/down_arrow.svg);
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 3px;
  background-size: 20px 25px;

}
  .pane-user-field-cv {
    
    padding-top: 1px;
  }

   p {
    font-size: 16px;
   }
    /*User Profile Pages */

    .unit .inside {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right:0;
      padding-top:0;
    }

   
  .forum-group, .form-item {
   width:100%;
  }
   
   .form-item-field-name-and-title-value {
   
   }
  .user-profile-title {
    padding-top:20px;
  }

  .edit-submit {
    margin-left: 0px;
  }

  /*original code from styles.css */

  /* Directory */

  .profile-filters .views-exposed-widget .form-submit,
  .view-local-directory .views-exposed-widget .form-submit {
      padding:4px 10px;
      margin-top: -1px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      height: 30px;
  }

  .view-local-directory .views-exposed-widget .form-submit {
      background-color: #5698bb;
      color: #fff;
  }

  .page-users h1.page-header {
      display:none;
  }

  .view-local-directory tr.even,
  .view-local-directory thead tr {
      background-color: #ceebf4;
  }
  .view-local-directory thead tr th {
      padding: 15px;
  }

  .view-local-directory tbody tr td {
      padding:15px 5px 15px 5px;
  }
  .pane-views-exp-local-directory-page-2 .view-content,
  .view-local-directory .view-content {
      margin-top: 50px;
  }

  .profile-filters  .form-control,
  .view-local-directory .form-control {
      height: 30px;
      color:#fff;
      color: #002b55;
      border:none;
  }
  .view-degrees-programs .profile-search,
  .view-course-catalog .profile-search,
  .profile-filters .profile-search,
  .view-local-directory .profile-search {
      background-color: #fff;
      background-image: none;
      font-size: 22px;
      border:none;
      box-shadow: none;
      padding:0;
      color:#002b55;
      z-index: 100;
  }
  .view-degrees-programs .profile-search,
  .view-course-catalog .profile-search {
      margin-left: -42px;
  }

  .view-local-directory #edit-field-school-or-department-value {
      max-width: 300px;
  }

  .view-local-directory .views-exposed-form .views-exposed-widget {
      padding: .5em 0 0 1px;
  }

  .pane-views-exp-local-directory-page-2 .input-group ::-webkit-input-placeholder,
  .view-local-directory .input-group ::-webkit-input-placeholder {
      color:#002b55;
  }
  .pane-views-exp-local-directory-page-2 .input-group :-moz-placeholder,
  .view-local-directory .input-group :-moz-placeholder {
      color:#002b55;
  }
  .pane-views-exp-local-directory-page-2 .input-group ::-moz-placeholder,
  .view-local-directory .input-group ::-moz-placeholder {
      color:#002b55;
  }
  .pane-views-exp-local-directory-page-2 .input-group :-ms-input-placeholder,
  .view-local-directory .input-group :-ms-input-placeholder {
      color:#002b55;
  }

  /* User's Profile page */
  .linked-in {
      background-color: #0d3b65;
      padding: 10px;
      text-align:center;
      }

  .linked-in a {
      color:#fff;
      background-image: url('/sites/default/files/default_images/linkedin-3-128.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
      background-position-y: 1px;
      padding-top: 5px;
      padding-right: 22px;
      text-decoration: none;
      text-align: center;
      z-index: 25000;
      width:32px;
      height:32px;
  }
  /* .linked-in:after {
      border-bottom-color: #0d3b65;
      border-left-color: #0d3b65;
  }
  */
  .user-profile-layout .field-job-title,
  .user-profile-layout .field-school {
      font-weight: bold;
  }
  .user-profile-layout .breadcrumb {
      background:none;
      padding:10px 0 0 0;
      display:block;
  }
  .view-degrees-programs .views-exposed-widget .form-submit,
  .view-course-catalog .views-exposed-widget .form-submit {
      padding:3px 3px;
      margin-top: 0;
  }
  .profile-filters .views-exposed-widget {
      padding:0;
  }
  .profile-filters .views-submit-button {
   margin-left: 0px;
   float: right;
  }
  .profile-line-below {
      border-bottom: 2px solid #dfdede!important;
      padding-bottom: 15px; 
  }
  .user-profile-padding {
      padding:0!important;
  }

  .user-profile-padding .pane-content,
  .user-profile-padding .pane-title {
      margin-left:40px;
      margin-right:15px;
  }

  .user-profile-last {
      
  }

  .user-profile h2.pane-title {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 5px;
      margin-top: 0px;
      padding-top:10px;
  }

  .user-profile {
          font-size: 16px;
  }

      
  .user-profile ul {
      padding-left: 20px;
  }
  .user-profile-title,
  .user-profile-general-information {
      font-size: 20px;
  }

  .user-profile-padding .pane-user-field-school-or-department {
      padding-bottom: 10px;
  }
  .user-profile-title {
      color: #a5a6a8;
      font-weight: normal;

  }

  .address-floaters {
      float:left;
      margin-right: 4px;
  }

  ul.user-profile {
      list-style-type: none;
      padding-left: 0;
  }

  .user-profile p.field-institution {
      margin-bottom: 0
  }
  .user-profile .field-institution a {
      color:#002b55;
  }
  .user-profile .field-job-description {
      display:block;
  }
  .user-profile .field-date-to,
  .user-profile .field-date-from {
      color:#ccc;
  }
  .user-profile-layout .field-education p {
      margin: 10px 0 2px 0;
  }
  .cv-area li {
      margin-bottom: 15px;
  }
  .pane-user-field-book h2 {
      margin-top: 0;
  }

  .pane-user-field-book,
  .profile-publications {
      padding-top:1px;
      padding-bottom: 15px;
  }
  .profile-publications .field-publications div {
      margin-bottom: 5px;
  }
  .field-professional-accomplishmen ul {
      padding-left: 0;
      list-style-type: none;
  }
  .pane-user-field-book .field-exact-title-of-book,
  .name-italics {
      font-style: italic;
  }
  .pane-user-field-book .field-book {
      margin-top: 10px;
  }
  span.dot-it:after {
       content: ".";
      margin-left: -3px;
      display: inline;
  }

  span.comma-separate:before {
      content: ",";
      margin-left: -3px;
      display: inline;
  }

  span.page-page:before {
      content: "(pp.";
          margin-left: 3px;

  }
  span.page-page:after {
      content: ").";
      margin-left: -3px;

  }
  span.in-parenthesis:before {
      content: "(";
      margin-right: -3px;
  }

  span.in-parenthesis:after {
      content: ")";
      margin-left: -3px;

  }