/*Single News Block*/
.blk-single-news {
  margin: 0px!important;
  background: #FFF;
  padding: 0 0 20px;
}

.blk-single-news .news-text {
	margin-top:-72px;
	padding-left:20px;
	padding-right:20px;
}

.blk-single-news .news-text h2 {
  border-bottom: 2px solid #DFDEDE;
  padding: 0 20px 20px;
  font-weight: bold;
  color: #002B55;
}

.blk-single-news .news-text h2:before {
  content: '';
  display: block;
  position: relative;
  bottom: 55px;
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px;
  margin-bottom: -18px;
  border-color: transparent transparent #FFF;
}

.blk-single-news .news-text p {
  padding: 10px 20px 0px;
}

.blk-single-news .news-text a {
  color: #002B55;
}

.blk-single-news .date-display-single {
  display: block;
  color: #828284;
}

/*Front Slideshow*/
.news-slider {
  margin: 71px 0 25px 0!important;
  height:364px;
}

.ff .news-slider #news-slide {
  border: 1px solid #DFDFDE;
  height: 374px;
  
}

@-moz-document url-prefix() {
   .ff .news-slider #news-slide { height: 368px; }
}

.news-slider .slides {
}

.news-slider .slides .img-container {
  width: 50%;
  float: left;
  border: 0px solid;
}

.news-slider .slides .news-text {
  /*[disabled]border:1px solid #000000;*/
  width: 50%;
  float: left;
  background: #FFF;
  /*height: 190px;*/
  background: #FFF url(../img/corner-bottom.png) no-repeat top right;
  
}

.news-slider .slides .news-text p {
  /*padding: 20px;*/
  background: #FFF url(../img/corner-bottom.png) no-repeat top right;
  /* Change this back to 200px after heshan resizes images */
  /*height: 190px;*/
  margin-left:20px;
  color: #002B55;
    padding-top: 15px;
    
}

.news-slider .slides .news-text p .quote {
  display: block;
  margin: 0 0 20px;
  color: #002B55;
  margin-left:20px;
}

.more-link{
	color: #6A297C;
}

.more-link a{
	color: #6A297C;
}
.more-link a:hover{
	color: #6A297C;
}
.news-slider .slides .news-text p .quote a{
.color: #6A297C;
}

#news-slide > ul.slides > li:nth-child(6) > div:nth-child(3) > div{
	margin-top:-10px;
	padding-left:20px;
}

#news-slide > ul.slides > li:nth-child(5) > div:nth-child(3) > div{
	margin-top:-10px;
	padding-left:20px;
}

#news-slide > ul.slides > li:nth-child(4) > div:nth-child(3) > div{
    margin-top:-10px;
    padding-left:20px;
}

#news-slide > ul.slides > li:nth-child(3) > div:nth-child(3) > div{
    margin-top:-10px;
    padding-left:20px;
}

#news-slide > ul.slides > li:nth-child(2) > div:nth-child(3) > div{
    margin-top:-10px;
    padding-left:20px;
}

#news-slide > ul.slides > li:nth-child(1) > div:nth-child(3) > div{
    margin-top:-10px;
    padding-left:20px;
}

#news-slide > ul.slides > li:nth-child(2) > div:nth-child(3) > span > div{
	margin-left:20px;
	margin-right:20px;
}
#news-slide > ul.slides > li:nth-child(3) > div:nth-child(3) > span > div{
	margin-left:20px;
	margin-right:20px;
}

#news-slide > ul.slides > li:nth-child(4) > div:nth-child(3) > span > div{
	margin-left:20px;
	margin-right:20px;
}
#news-slide > ul.slides > li:nth-child(5) > div:nth-child(3) > span > div{
	margin-left:20px;
	margin-right:20px;
}

#news-slide > ul.slides > li:nth-child(6) > div:nth-child(3) > span > div{
	margin-left:20px;
	margin-right:20px;
}
#news-slide > ul.slides > li:nth-child(7) > div:nth-child(3) > span > div{
	margin-left:20px;
	margin-right:20px;
}

#news-slide > ul.slides > li:nth-child(8) > div:nth-child(3) > span > div{
	margin-left:20px;
	margin-right:20px;
}

.news-slider .slides .news-text p a {
  margin: 0;
  color: #6A297C;
  margin-left:20px;
}
#news-slide > ul.slides > li:nth-child(1) > div:nth-child(3) > span > a{
	margin-left:20px;
	margin-right:20px;
	display:block;
	color: #6A297C;
}
#news-slide > ul.slides > li:nth-child(2) > div:nth-child(3) > span > a{
	margin-left:20px;
	margin-right:20px;
	display:block;
	color: #6A297C;
	
}
#news-slide > ul.slides > li:nth-child(3) > div:nth-child(3) > span > a{
	margin-left:20px;
	margin-right:20px;
	display:block;
	color: #6A297C;
	
}
#news-slide > ul.slides > li:nth-child(4) > div:nth-child(3) > span > a{
	margin-left:20px;
	margin-right:20px;
	display:block;
	color: #6A297C;
	
}
#news-slide > ul.slides > li:nth-child(5) > div:nth-child(3) > span > a{
	margin-left:20px;
	margin-right:20px;
	display:block;
	color: #6A297C;
	
}
#news-slide > ul.slides > li:nth-child(6) > div:nth-child(3) > span > a{
	margin-left:20px;
	margin-right:20px;
	display:block;
	color: #6A297C;
}
#news-slide > ul.slides > li:nth-child(7) > div:nth-child(3) > span > a{
	margin-left:20px;
	margin-right:20px;
	display:block;
	color: #6A297C;
	
}
#news-slide > ul.slides > li:nth-child(8) > div:nth-child(3) > span > a{
	margin-left:20px;
	margin-right:20px;
	display:block;
	color: #6A297C;
	
}



.news-slider .slides .news-text h2 {
  margin: 0;
  font-family: AGaramondPro-Bold;
  font-size: 1.9em;
  color: #002B55;
  border-bottom: 2px solid #DFDEDE;
  padding: 15px 20px;
  background: #FFF url(../img/corner-top.png) no-repeat bottom right;
  min-height:59px;
}

/*Direction Nav*/
.news-slider .flexslider {
  margin: 0 0 60px;
  background: #DFDEDE;
  border: 0px solid transparent;
  position: relative;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  zoom: 1;
}

.news-slider .flexslider.slides {
  border: 1px solid transparent;
}

.news-slider .flex-direction-nav {
  border-top: 0px solid #DFDEDE;
  overflow: auto !important;
  width: 50%;
  position: absolute !important;
  height: 60px;
  float: right;
  bottom: 0px;
  right: 0px;
  opacity: 100 !important;
  padding: 0 !important;
  margin: 0;
  background: #FFF;
}

@media screen and (max-width: 768px) {
    .news-slider .flex-direction-nav {
        border-top: 0px;
        overflow: hidden !important;
        width: 100%;
        position: relative !important;
        bottom: 119px;
        margin-top: 120px;
    }
}

.news-slider .flex-direction-nav a {
  display: block!important;
  width: 182px !important;
  height: 0px;
  margin: -20px 0 0;
  position: absolute;
  top: 20px;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 1;
  /*[disabled]border:1px solid #000000;*/
  padding: 60px 0 0;
  /*[disabled]background:#FFF;*/
}

.news-slider .flex-direction-nav .flex-prev {
  left: 0px;
  border-right: 1px solid #DFDEDE;
}

.news-slider .flex-direction-nav .flex-next {
  right: 0px;
  text-align: right;
  border-left: 1px solid #DFDEDE;
}

.news-slider .flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 0px;
}

.news-slider .flexslider:hover .flex-next {
  opacity: 0.7;
  right: 0px;
}

.news-slider .flexslider:hover .flex-next:hover,
.news-slider .flexslider:hover .flex-prev:hover {
  background: #eeeeee;
}

.news-slider .flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}

.news-slider .flex-direction-nav a:before {
  font-family: flexslider-icon;
  font-size: 40px;
  /*[disabled]content:'\f001';*/
  display: block;
  position: absolute;
  top: -moz-calc(50% - 7px);
  top: calc(50% - 7px);
  right: 45%;
  display: block;
  width: 18px;
  height: 18px;
  border-top: 1px solid #b2b2b2;
  border-right: 1px solid #b2b2b2;
  content: ' ';
  -webkit-transform: rotate(228deg);
  -ms-transform: rotate(228deg);
  transform: rotate(228deg);
}

.news-slider .flex-direction-nav a.flex-next:before {
  /*[disabled]content:'\f002';*/
  right: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.news-slider .flex-direction-nav a.flex-next:before {
  margin: 0 45% 0 0;
}

.news-slider .flex-direction-nav a.flex-prev:before {
  margin: 0 0 0 78px;
}

.news-slider .date-display-single {
  display: block;
  color: #828284;
}


@media only screen and (max-width: 1270px) {
  .news-slider {
    height: 304px;
  }

  .news-slider .flexslider.slides {
    margin: 0 0 105px 0;
    float: none;
    display: block;
  }

  .news-slider .flex-direction-nav {
    width: 100%;
    display: block;
    clear: both !important;
    position: relative !important;
    bottom: 119px;
    margin-top: 98px;


  }

  .news-slider .flex-direction-nav a {
    border-top: 0px solid #DFDEDE;
    width: 50% !important;
  }
}

 @media only screen and (max-width: 1200px) {

  .news-slider .slides .img-container {
    width: 100%;
    float: none;
  }

  .news-slider .slides .news-text {
    width: 100% !important;
    display: block;
      min-height: 32px;
  }
  
  .news-slider .flex-direction-nav {
    width: 100%;
    border: 0px solid red;
    display: block;
  }
  
  .news-slider .flex-direction-nav a {
    border-top: 2px solid #DFDEDE;
    width: 50% !important;
  }
}



/*Events Node Page*/
.node-type-calendar h1.page-header {
  display: none;
}

.panels-flexible-row-inside-first,
.panel-top {
  margin: 0 0 20px !important;
}

.node-type-calendar .panel-top {
  margin: 0 0 30px;
}

.node-type-calendar .panel-col-seventy {
  background: #FFF;
  padding: 0 20px !important;
  margin: 0 0 20px;

}

.node-type-calendar .panel-col-seventy h2 a {
  color: #CB2C2D;
  font-weight: bold;
}

.node-type-calendar .panel-col-seventy p {
  color: #2F4A61 !important;

}

.node-type-calendar .top-brick {
  font-size: 20px;
  font-family: AGaramondPro-Bold;
  padding: 20px !important;
  background: #36322F;
  color: #FFF;
  min-height:96px;
}

.blk-register {
  background: #FFF;
  color: #CB2C2D;
  margin: 25px 0 0;
  padding: 20px;
  text-align: center;
}

.blk-register h2 {
  padding: 0px;
  margin: 0 0 20px;
  font: bold 20px sans-serif;
}

.blk-register ul {
  margin: 0px;
  list-style-type: none;
  padding: 0;
}

.blk-register li a {
  font-size: 18px;
  color: #CB2C2D;
}

.node-type-calendar .title-bevel-corners-red {
  color: #FFF;
}

.node-type-calendar .content-bevel-corners-red {
  color: #FFF;
  font: 16px sans-serif;
  padding: 30px;
  margin-bottom: 20px;
}

.node-type-calendar .content-bevel-corners-red h3 {
  margin: 0px 0 10px;
  padding: 0;
}

.panel-col-thirty {
  margin-bottom: 30px;
}

/*Newsroom Archives Page*/
.page-newsroom-archive h1 {
  margin: 0 0 20px 15px;
}

.blk-upcoming-events ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.blk-upcoming-events li {
  overflow: auto;
  padding: 10px 0;
  border: 1px solid transparent;
}

.blk-upcoming-events .view-footer {
  text-align: right;
}


.blk-upcoming-events .date-stack {
  width: 51px;
  float: left;
  margin: 0 10px 0 0;
}

.blk-upcoming-events .date-stack .date-display-single {
  display: block;
  color: #2197C2;
}

.blk-upcoming-events .date-stack span:first-child {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}
.blk-upcoming-events .date-stack span:last-child {
  text-align: center;
  font-size: 22px;
  line-height: 18px;
}

.blk-upcoming-events .event-title {
  float: left;
  color: #002B55;
  width: 80%;
}

body.node-type-calendar #panelizer-save-default {
  display:none;
}

#news-slide > ul.flex-direction-nav > li:nth-child(1) > a {
	margin-left:3px;
}