/*  Body  */
html,
body {
    height: 100%
}
/*  Top Navigation Bar  */
header#navbar,
.navbar-default .navbar-collapse {
    background-color: #002b55!important;
    background-image: none;
    text-transform: uppercase;
    margin-top: 0px!important;
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    min-height: 39px;
}
.navbar-default .nav li a {
    color: #FFF
}
a.menu-blue {
    color: #6f9fbb!important
}
.navbar-default a:hover {
    background-color: #4e6b88!important;
    color: #FFF!important;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #113c60
}
.navbar-default a.active {
    background-color: transparent!important;
    color: #878080!important;
}
.navbar-default li a {
    padding: 9px 12px;
    font-size: 13px;
}

/* Search bar */

.search_bar .input-group ::-webkit-input-placeholder {
    color:transparent;
}

.search_bar .input-group {
    height:50px;
    width: 80%;
}

.search_bar .input-group input {
    float: right;
    width: 50%;
    border:none!important;
    margin-top: 8px;
    color:#000;
    border-radius: 0!important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.search_bar .input-group-btn .glyphicon-search {
    font-size: 21px;
    color: #062b55;
    box-shadow: none;
    text-shadow: none;
}

.search_bar .input-group button.btn.btn-default {
    border: 0!important;
    background-color: #FFF!important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 4px 12px;
    border-radius: 0;
    margin-right: 30px;
}

.search_bar {
    width:90%;
 
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 4px;
    background-color: #b4b5b7;
    clear: none;
}

/* Icon that triggers search bar on navbar */

.search_bar section#block-block-4,
.navbar section#block-block-3 {
    width:45px;
    height:38px;
    float: right;
}

.search-toggle-icon {
    padding:6px 12px;
    float:right;
}

a.search-bar-closer {
    font-size: 20px;
}


.navbar-default .glyphicon-search {
    font-size: 21px;
    color: #FFF;
    box-shadow: none;
    text-shadow: none;
}
/*  Mercy College Logo and Social Links  */
.banner {
    margin-bottom: 0
}
.main_banner {
    float: left;
    max-width: 300px;
}
.main_banner img {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }
.main_social {
    float: right;
    max-width: 28px;
    margin-right: 30px;
}
    .main_social img {
        width: 100%
    }
    .main_social img:hover {
        opacity: 0.8;
        filter: alpha(opacity=80); /* For IE8 and earlier */
    }
/*  Footer  */
.footer {
    background-color: #043167;
    width: 100%;
    bottom: 0;
    position: relative;
    height: 200px;
    margin-top: -200px; /* must be adjusted negatively according to footer's height */
}
/*  Main Container  */
.main-container {
    padding-bottom: 220px; /* must be at least footer's height, any other amount added wil serve as margin */
    min-height: 100%;
}
/*  Second Navigation Bar  */
#navigation-secondary {
    margin-top: -40px;
    margin-bottom: 0;
}
@media (max-width:500px) { 
    #navigation-secondary {
        margin-top: 5px
    }
}
@media (max-width:992px) { 
    #navigation-secondary {
        margin-top: 5px
    }
}
#navigation-secondary ul li {
    float: right
}
    #navigation-secondary ul li a {
        padding: 15px 20px;
        color: #002b55;
        font-weight: bold;
    }
    #navigation-secondary ul li a:hover {
        color: #FFF
    }
@media (max-width: 768px) { 
    #navigation-secondary ul li a {
        padding: 15px 8px!important
    }
}
@media (max-width: 1200px) { 
    #navigation-secondary ul li a {
        padding: 15px 10px
    }
}
@media (max-width: 500px) { 
    #navigation-secondary ul li a {
        color: #FFF
    }
}
@media (max-width: 500px) { 
    #navigation-secondary ul li {
        background-color: #002b5f;
        border-top: solid 1px black;
        border-left: solid 1px black;
        border-right: solid 1px black;
        border-radius: 2px!important;
        -moz-border-radius: 2px!important;
        -webkit-border-radius: 2px!important;
        -o-border-radius: 2px!important;
        text-align: center;
        width: 100%;
    }
}
/* Colored second navigation buttons */
#navigation-secondary ul li:nth-child(1) a:focus,
#navigation-secondary ul li:nth-child(1) a:hover,
#navigation-secondary ul li:nth-child(1) a.active {
    background-color: #eb8c2e!important;
    color: #FFF;
}
#navigation-secondary ul li:nth-child(2) a:focus,
#navigation-secondary ul li:nth-child(2) a:hover,
#navigation-secondary ul li:nth-child(2) a.active {
    background-color: #cb2d2d!important;
    color: #FFF;
}
#navigation-secondary ul li:nth-child(3) a:focus,
#navigation-secondary ul li:nth-child(3) a:hover,
#navigation-secondary ul li:nth-child(3) a.active {
    background-color: #542c85!important;
    color: #FFF;
}
#navigation-secondary ul li:nth-child(4) a:focus,
#navigation-secondary ul li:nth-child(4) a:hover,
#navigation-secondary ul li:nth-child(4) a.active {
    background-color: #6da748!important;
    color: #FFF;
}
#navigation-secondary ul li:nth-child(5) a:focus,
#navigation-secondary ul li:nth-child(5) a:hover,
#navigation-secondary ul li:nth-child(5) a.active {
    background-color: #2098c3!important;
    color: #FFF;
}
/* Downard triangle added to the second navigation menus */
#navigation-secondary ul li:nth-child(1) a:focus:after,
#navigation-secondary ul li:nth-child(1) a:focus::after,
#navigation-secondary ul li:nth-child(2) a:focus:after,
#navigation-secondary ul li:nth-child(2) a:focus::after,
#navigation-secondary ul li:nth-child(3) a:focus:after,
#navigation-secondary ul li:nth-child(3) a:focus::after,
#navigation-secondary ul li:nth-child(4) a:focus:after,
#navigation-secondary ul li:nth-child(4) a:focus::after,
#navigation-secondary ul li:nth-child(5) a:focus:after,
#navigation-secondary ul li:nth-child(5) a:focus::after,
#navigation-secondary ul li:nth-child(1) a.active:after,
#navigation-secondary ul li:nth-child(1) a.active::after,
#navigation-secondary ul li:nth-child(2) a.active:after,
#navigation-secondary ul li:nth-child(2) a.active::after,
#navigation-secondary ul li:nth-child(3) a.active:after,
#navigation-secondary ul li:nth-child(3) a.active::after,
#navigation-secondary ul li:nth-child(4) a.active:after,
#navigation-secondary ul li:nth-child(4) a.active::after,
#navigation-secondary ul li:nth-child(5) a.active:after,
#navigation-secondary ul li:nth-child(5) a.active::after,
#navigation-secondary ul li:nth-child(1) a:hover:after,
#navigation-secondary ul li:nth-child(1) a:hover::after,
#navigation-secondary ul li:nth-child(2) a:hover:after,
#navigation-secondary ul li:nth-child(2) a:hover::after,
#navigation-secondary ul li:nth-child(3) a:hover:after,
#navigation-secondary ul li:nth-child(3) a:hover::after,
#navigation-secondary ul li:nth-child(4) a:hover:after,
#navigation-secondary ul li:nth-child(4) a:hover::after,
#navigation-secondary ul li:nth-child(5) a:hover:after,
#navigation-secondary ul li:nth-child(5) a:hover::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%; /*should be set to 100% */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-width: 10px;
    z-index: 20;
}
@media (max-width: 500px) { 
    #navigation-secondary ul li:nth-child(1) a:focus:after,
    #navigation-secondary ul li:nth-child(1) a:focus::after,
    #navigation-secondary ul li:nth-child(2) a:focus:after,
    #navigation-secondary ul li:nth-child(2) a:focus::after,
    #navigation-secondary ul li:nth-child(3) a:focus:after,
    #navigation-secondary ul li:nth-child(3) a:focus::after,
    #navigation-secondary ul li:nth-child(4) a:focus:after,
    #navigation-secondary ul li:nth-child(4) a:focus::after,
    #navigation-secondary ul li:nth-child(5) a:focus:after,
    #navigation-secondary ul li:nth-child(5) a:focus::after,
    #navigation-secondary ul li:nth-child(1) a.active:after,
    #navigation-secondary ul li:nth-child(1) a.active::after,
    #navigation-secondary ul li:nth-child(2) a.active:after,
    #navigation-secondary ul li:nth-child(2) a.active::after,
    #navigation-secondary ul li:nth-child(3) a.active:after,
    #navigation-secondary ul li:nth-child(3) a.active::after,
    #navigation-secondary ul li:nth-child(4) a.active:after,
    #navigation-secondary ul li:nth-child(4) a.active::after,
    #navigation-secondary ul li:nth-child(5) a.active:after,
    #navigation-secondary ul li:nth-child(5) a.active::after,
    #navigation-secondary ul li:nth-child(1) a:hover:after,
    #navigation-secondary ul li:nth-child(1) a:hover::after,
    #navigation-secondary ul li:nth-child(2) a:hover:after,
    #navigation-secondary ul li:nth-child(2) a:hover::after,
    #navigation-secondary ul li:nth-child(3) a:hover:after,
    #navigation-secondary ul li:nth-child(3) a:hover::after,
    #navigation-secondary ul li:nth-child(4) a:hover:after,
    #navigation-secondary ul li:nth-child(4) a:hover::after,
    #navigation-secondary ul li:nth-child(5) a:hover:after,
    #navigation-secondary ul li:nth-child(5) a:hover::after {
        display: none!important
    }
}
/* Color added to match parent menu of arrow added */
#navigation-secondary ul li:nth-child(1) a:hover:after,
#navigation-secondary ul li:nth-child(1) a:hover::after,
#navigation-secondary ul li:nth-child(1) a.active::after,
#navigation-secondary ul li:nth-child(1) a.active:after {
    border-color: #eb8c2e transparent transparent transparent;
    left: 40%;
}
#navigation-secondary ul li:nth-child(2) a:hover:after,
#navigation-secondary ul li:nth-child(2) a:hover::after,
#navigation-secondary ul li:nth-child(2) a.active::after,
#navigation-secondary ul li:nth-child(2) a.active:after {
    left: 42%;
    border-color: #cb2d2d transparent transparent transparent;
}
#navigation-secondary ul li:nth-child(3) a:hover:after,
#navigation-secondary ul li:nth-child(3) a:hover::after,
#navigation-secondary ul li:nth-child(3) a.active::after,
#navigation-secondary ul li:nth-child(3) a.active:after {
    left: 40%;
    border-color: #542c85 transparent transparent transparent;
}
#navigation-secondary ul li:nth-child(4) a:hover:after,
#navigation-secondary ul li:nth-child(4) a:hover::after,
#navigation-secondary ul li:nth-child(4) a.active::after,
#navigation-secondary ul li:nth-child(4) a.active:after {
    left: 45%;
    border-color: #6da748 transparent transparent transparent;
}
#navigation-secondary ul li:nth-child(5) a:hover:after,
#navigation-secondary ul li:nth-child(5) a:hover::after,
#navigation-secondary ul li:nth-child(5) a.active::after,
#navigation-secondary ul li:nth-child(5) a.active:after {
    left: 40%;
    border-color: #2098c3 transparent transparent transparent;
}
/*  Slider all pages  */
#slider-container {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    max-height: 500px;
    overflow: hidden;
}

.slider img {
    height: 100%;
    width: 100%;
}
.slider .flexslider {
    border: 1px transparent solid
}
.slider_content,
.student_life_slider_content {
    width: 60%;
    height: 90px;
    padding: 2px 5px 5px 15px;
    background-color: #FFF;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    margin-left: auto;
    margin-right: auto;
    margin-top: -120px;
}

@media (max-width: 500px) { 
    .slider_content,
    .student_life_slider_content {
        width: 100%;
        height: 80px;
        padding: 2px;
        margin-top: 0;
    }
}

@media (min-width: 1300px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -140px;
    }
}

@media (min-width: 1400px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -180px;
    }
}

@media (min-width: 1500px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -220px;
    }
}

@media (min-width: 1600px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -260px;
    }
}

@media (min-width: 1700px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -300px;
    }
}

@media (min-width: 1800px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -340px;
    }
}

@media (min-width: 1900px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -380px;
    }
}

@media (min-width: 2000px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -420px;
    }
}

@media (min-width: 2100px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -460px;
    }
}

@media (min-width: 2200px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -500px;
    }
}
@media (min-width: 2300px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -520px;
    }
}
@media (min-width: 2400px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -560px;
    }
}

@media (min-width: 2500px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -600px;
    }
}

.slider_content h3,
.student_life_slider_content h3 {
    margin: 4px
}
.slider_content:after, /*arrow added to slider_content DIV*/
.slider_content::after,
.student_life_slider_content:after,
.student_life_slider_content::after {
    content: '';
    display: block;
    position: relative;
    bottom: 89px;
    width: 0;
    height: 0;
    border-color: transparent transparent #FFF transparent; /*border color should be same as div div background color*/
    border-style: solid;
    border-width: 18px;
}
@media (max-width: 621px) { 
    .slider_content:after, /*arrow added to slider_content DIV*/
    .slider_content::after,
    .student_life_slider_content:after,
    .student_life_slider_content::after {
        display: none
    }
}
.slider_desc {
    color: #002b55
}
/*  Slider Front Page  */
ul.slides .slider_title h3 {
    color: #002b55
}
.view-main-banner .flex-control-paging li a.flex-active,
ul.slides li .slider_content::before {
    background-color: #002b55
}
/*  Slider Student Life */
ul.slides .student_life_slider_title h3 {
    color: #cb2d2d
}
.view-student-life-main-banner .flex-control-paging li a.flex-active,
ul.slides li .student_life_slider_content::before {
    background-color: #cb2d2d
}
/*
ul.slides li:nth-child(2) .slider_title h3,
ul.slides li:nth-child(2) .testclass {
    color:#542c85;
}
.flex-control-paging li:nth-child(2) a.flex-active,
ul.slides li:nth-child(2) .slider_content::before {
    background-color: #542c85;
}
*/
/*  Slider navigation controls and description field. */
a.flex-prev,
a.flex-next {
    height: 50px
}
.flex-control-nav {
    position: relative;
    z-index: 20;
    bottom: 21px;
    width: 200px;
    float: right;
    padding-right: 15px;
    margin-right: 20%;
}
.flex-control-nav li {
        float: right
    }
@media (max-width: 500px) {
    .flex-control-nav li {
        display: none;
    }
}

@media (max-width: 500px) { 
    a.flex-prev,
    a.flex-next {
        display: none!important;
    }
}
/* Panels Content */
.pane-content ol.flex-control-nav {
    display: none
}