
/* Tabs shown to authenticated user with rights to edit */
ul.nav-tabs li {
    background-color:#eeeeee;
}

ul.nav-tabs li.active a {
    background-color: #062b54;
    color:#FFF;
}
ul.nav-tabs li.active a:hover {
    background-color: #062b54;

}
/*  Body  */
#whole-page-wrapper {
        min-height: 100%;
}

html,
body {
    font-family: "ITC Franklin Gothic Book", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

h3 {
    margin:5px auto;
}

/*  Top Navigation Bar  */
header#navbar,
.navbar-default .navbar-collapse {
    background-color: #002b55!important;
    background-image: none;
    text-transform: uppercase;
    border: 0;
    margin-top:0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    min-height: 39px;
    margin-bottom:0;
}

.navbar-default .nav li a {
    color: #FFF;
    font-size: 12px;
    padding: 9px 16px;
}
a.menu-blue {
    color: #6f9fbb!important
}
.navbar-default a:active,
.navbar-default a.active,
.navbar-default a:hover {
    background-color: #4e6b88!important;
    color: #FFF!important;
    background-image:none!important;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #113c60
}

@media (min-width: 992px) and (max-width: 1198px) {
    header#navbar,
    .navbar-default .navbar-collapse {
            padding-right:5px;
            padding-left:5px;
    }
}
@media (min-width: 992px) and (max-width: 1198px) {
    .navbar-default .nav li a {
            padding: 9px 10px;
    }
}

ul.navbar-nav {
    margin-bottom:0;
}

/* White menu links on main bar */
.navbar-default ul.secondary {
    float:left;
}

@media (max-width: 767px ) {
    .navbar-default ul,
    .navbar-default ul.secondary {
        width: 100%;
        float:right;
    }
}

/* Icon that triggers search bar on navbar */
.nav-icons {
    width:auto;
    float:right;
    clear:none;
}

.nav-icons ul {
    padding-left: 0;
}
.nav-icons ul li {
    list-style: none;
    list-style-type: none;
    float:right;

}
@media (min-width: 768px) and (max-width: 991px) {
    .nav-icons ul li {
        float:none;
        clear:right;
    }
}


.navbar section#block-block-3 {  /* this is the section holding the search icon that triggers the search bar, this style allows menus to be active while logged on to drupal as admin */
    height:auto;
    clear:none;
    float:right;
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar section#block-block-3 {
        margin-top: -38px;
    }
}

.search-toggle-icon {
    padding:7px 12px;
    float:right;


}

.chat-icon {
    padding:7px 12px;
    float:left;


}

.navbar-default .glyphicon-search,
.navbar-default .glyphicon-comment {
    font-size: 20px;
    color: #FFF;
    box-shadow: none;
    text-shadow: none;
}

/* Search bar */

.search-container {
    margin-right: auto;
    margin-left: auto;
    background-color: #b4b5b7!important;
}

.search_bar .input-group ::-webkit-input-placeholder {
    color:transparent;
}

.search_bar .input-group :-moz-placeholder {
    color:transparent;
}

.search_bar .input-group ::-moz-placeholder {
    color:transparent;
}

.search_bar .input-group :-ms-input-placeholder {
    color:transparent;
}


.search_bar .input-group {
    float: left;
    margin-top: 5px;
}

.search_bar .input-group input {
    height:28px;
    border:none!important;
    color:#000;
    border-radius: 0!important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    font-size: 14px;

}
.search_bar .input-group .form-control {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.search_bar .input-group-btn .glyphicon-search {
    font-size: 21px;
    color: #062b55;
    box-shadow: none;
    text-shadow: none;
}

.search_bar .input-group-btn .glyphicon-search:hover {
   color:#6da748;
   font-weight: bold;
}

.search_bar .input-group button.btn.btn-default {
    border: 0!important;
    background-color: #FFF!important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0 6px;
    border-radius: 0;
    height:28px;
}

.search_bar {
    height:39px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:0;
    display: none;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 1140px;
   
}

@media (max-width:1199px) {
    .search_bar {
        max-width: 940px;
    }
}

@media (max-width: 1450px) {
    .search_bar {
    width:100%;
}
}

@media (max-width: 1450px) {
    .search_bar .input-group input {
    width:100%;
}
}

.search_bar section#block-block-4 {
    float: right;
    width: 35px;
    position:absolute;
    right:20px;
}

@media (max-width: 992px) {
    .search_bar section#block-block-4 {
        position:relative;
        right:0;
    }

}

.search_bar section#block-search-form {
    width:50%;
    max-width: 650px;
    margin:auto;
    float:right;
    margin-right: 25px;
  
}
.search_bar .glyphicon.glyphicon-remove {
    font-size: 20px;
    color: #062b55;
    padding:8px 6px;
    position:absolute;
    right:20px;

}

@media (max-width: 992px) {
    .search_bar .glyphicon.glyphicon-remove {
        position:relative;
        right:0;
    }

}

@media (max-width: 768px ) {
    .search_bar {
        height:100%;
        padding-left: 2px;
        padding-right: 2px;
    }
}

@media (max-width: 768px ) {
    .search_bar section#block-search-form {
        margin-right: 15px;
    }
}

/*  Mercy College Logo and Social Links  */
.top-logo {
    margin-bottom: 0;
    margin-top:0;
}


.main_logo {
    float: left;
    max-width: 300px;
    margin-left: 20px;
}
.main_logo img {
        max-height: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
    }

#social-icons {
    margin-top: 15px;
    margin-right: 36px;
}

@media (min-width: 992px) and (max-width: 1200px) {
    #social-icons {
        margin-right:25px;
    }
}

.main_social {
    float: right;
    max-width: 28px;
    margin-left: 15px;
}
.main_social img {
    max-width: 100%;
    max-height:100%;
}

.main_social img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

/* Footer Social links */

.footer_social {
    float:left;
    margin:10px 0 10px 10px;
    max-width: 28px;
}

.footer_social img {
    max-height: 100%;
    max-width: 100%;
}


/*  Second Navigation Bar  */

#navigation-secondary {
    margin-top: -40px;
    margin-right: 12px;
    margin-bottom: 0;
    float:right;
}

@media (max-width:992px) { 
    #navigation-secondary {
        margin-top: 5px;
    }
}
#navigation-secondary li {
    display: inline-block;
}
#navigation-secondary ul li a {
    padding: 15px 25px;
    color: #002b55;
    font-weight: bold;
    text-transform:uppercase;
}
#navigation-secondary ul li a:hover {
    color: #FFF;
}
@media (max-width: 768px) { 
    #navigation-secondary ul li a {
        padding: 15px 7px!important;
        text-transform:none;
    }
}
@media (max-width: 1200px) { 
    #navigation-secondary ul li a {
        padding: 15px 13px;
    }
}

@media (max-width: 500px) { 
    #navigation-secondary ul li {
        background-color: #002b5f;
        border-top: solid 1px black;
        border-left: solid 1px black;
        border-right: solid 1px black;
        border-radius: 2px!important;
        -moz-border-radius: 2px!important;
        -webkit-border-radius: 2px!important;
        -o-border-radius: 2px!important;
        text-align: center;
        width: 100%;
    }
}
@media (max-width: 500px) { 
    #navigation-secondary ul li a {
        color: #FFF;
    }
}
/* Colored second navigation buttons */

.nav li a:hover, 
.nav li a:focus {
background-color: none;
}

@media (min-width: 500px) {
    #navigation-secondary li:nth-child(1) a.active,
    #navigation-secondary li:nth-child(1) a:hover,
    #navigation-secondary li:nth-child(1) a:focus,
    #navigation-secondary li:nth-child(1) a:active {
        background-color: #2098c3!important;
        color: #FFF;
    }
    #navigation-secondary li:nth-child(2) a:hover,
    #navigation-secondary li:nth-child(2) a:focus,
    #navigation-secondary li:nth-child(2) a.active,
    #navigation-secondary li:nth-child(2) a:active {
        background-color: #6da748!important;  
        color: #FFF;
    }
    #navigation-secondary li:nth-child(3) a:hover,
    #navigation-secondary li:nth-child(3) a:focus,
    #navigation-secondary li:nth-child(3) a.active,
    #navigation-secondary li:nth-child(3) a:active {
        background-color: #542c85!important;
        color: #FFF;
    }
   
    #navigation-secondary li:nth-child(4) a:hover,
    #navigation-secondary li:nth-child(4) a:focus,
    #navigation-secondary li:nth-child(4) a.active,
    #navigation-secondary li:nth-child(4) a:active {
        background-color: #cb2d2d!important;
        color: #FFF;
    }
}
    #navigation-secondary li:nth-child(5) a:hover,
    #navigation-secondary li:nth-child(5) a:focus,
    #navigation-secondary li:nth-child(5) a.active,
    #navigation-secondary li:nth-child(5) a:active {
        background-color: #eb8c2e!important;
        color: #FFF;
    }
}

@media (max-width: 500px) {
    #navigation-secondary ul li a:hover,
    #navigation-secondary ul li a:focus {
        background-color:transparent!important;
        color:#FFF;
    }    
}


@media (max-width: 767px) {
    #navigation-secondary ul li:nth-child(1) a.active,
    #navigation-secondary ul li:nth-child(1) a:active {
        background-color: #2098c3!important;
        color: #FFF;
    }
    #navigation-secondary ul li:nth-child(2) a.active,
    #navigation-secondary ul li:nth-child(2) a:active {
        background-color: #6da748!important;
        color: #FFF;
    }
    #navigation-secondary ul li:nth-child(3) a.active,
    #navigation-secondary ul li:nth-child(3) a:active {
        background-color: #542c85!important;
        color: #FFF;
    }
    #navigation-secondary ul li:nth-child(4) a.active,
    #navigation-secondary ul li:nth-child(4) a:active {
        background-color: #cb2d2d!important;
        color: #FFF;
    }
    #navigation-secondary ul li:nth-child(5) a.active,
    #navigation-secondary ul li:nth-child(5) a:active {
        background-color: #eb8c2e!important;
        color: #FFF;
    }
}
/* Downard triangle added to the second navigation menus */
#navigation-secondary ul li a:active:after,
#navigation-secondary ul li a.active:after,
#navigation-secondary ul li a:hover:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%; /*should be set to 100% */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-width: 10px;
    z-index: 10;
}
@media (max-width: 500px) { 
    #navigation-secondary ul li a.active:after,
    #navigation-secondary ul li a:hover:after {
        display: none!important;
    }
}

/* Color added to match parent menu of arrow added */

#navigation-secondary li:nth-child(1) a:active:after,
#navigation-secondary li:nth-child(1) a:hover:after,
#navigation-secondary li:nth-child(1) a.active:after {
    border-color: #2098c3 transparent transparent transparent;
    left: 40%;
}
#navigation-secondary li:nth-child(2) a:active:after,
#navigation-secondary li:nth-child(2) a:hover:after,
#navigation-secondary li:nth-child(2) a.active:after {
    left: 42%;
    border-color: #6da748 transparent transparent transparent;
}
#navigation-secondary li:nth-child(3) a:active:after,
#navigation-secondary li:nth-child(3) a:hover:after,
#navigation-secondary li:nth-child(3) a.active:after {
    left: 40%;
    border-color: #542c85 transparent transparent transparent;
}
#navigation-secondary li:nth-child(4) a:active:after,
#navigation-secondary li:nth-child(4) a:hover:after,
#navigation-secondary li:nth-child(4) a.active:after {
    left: 45%;
    border-color: #cb2d2d transparent transparent transparent;
}
#navigation-secondary li:nth-child(5) a:active:after,
#navigation-secondary li:nth-child(5) a:hover:after,
#navigation-secondary li:nth-child(5) a.active:after {
    left: 40%;
    border-color: #eb8c2e transparent transparent transparent;
}
/*  Slider all pages  */

.slider_title h3 {
    font-weight: bold;
}

.view-main-page-top-slider ul,
.slider ul {
    overflow: hidden;
    max-height:500px;
    margin-bottom: -11px;
}

.slider img {
    max-width: 100%;
    height:auto;
}

.slider .flexslider {
    border:none;
    margin:0;
}


.slider_content {
    width: 60%;
    height: 95px;
    padding: 2px 100px 5px 15px;
    background-color: #FFF;
    opacity: 0.8;
    filter: alpha(opacity=80);
    left:20%;
    bottom:11%;
    position:absolute;
}

.slider_content:after /*arrow added to slider_content DIV*/ {
    content: '';
    display: block;
    position: absolute;
    top: -35px;
    width: 0;
    height: 0;
    border-color: transparent transparent #FFF transparent; /*border color should be same as div div background color*/
    border-style: solid;
    border-width: 18px;
}

@media (max-width: 767px) { 
     /*arrow added to slider_content DIV*/
    .slider_content:after {
        display: none;
    }
}

@media (max-width: 767px) {
   /*arrow added to slider_content DIV*/
    .slider_content {
        padding:2px 2px 5px 15px; 
    }
}

@media (max-width: 600px) {
       /*arrow added to slider_content DIV*/
    .slider_content {
        position:relative;
        width: 100%;
        float:left;
        bottom: 0;
        left:0;
        height:auto;
        margin-bottom: 10px;
        padding: 5px;
    }
}

@media (min-width: 1250px) {
    .slider_content {
        bottom:11%;
    }
}

@media (min-width: 1300px) {
    .slider_content {
        bottom:12%;
    }
}

@media (min-width: 1350px) {
    .slider_content {
        bottom:15%;
    }
}

@media (min-width: 1400px) {
    .slider_content {
        bottom:18%;
    }
}

@media (min-width: 1450px) {
    .slider_content:after {
        bottom:21%;
    }
}

@media (min-width: 1500px) {
    .slider_content {
        bottom:24%;
    }
}

@media (min-width: 1550px) {
    .slider_content {
        bottom:26%;
    }
}

@media (min-width: 1600px) {
    .slider_content {
        bottom:28%;
    }
}

@media (min-width: 1650px) {
    .slider_content {
        bottom:30%;
    }
}

@media (min-width: 1700px) {
    .slider_content {
        bottom:32%;
    }
}

@media (min-width: 1750px) {
    .slider_content {
        bottom:34%;
    }
}


@media (min-width: 1800px) {
    .slider_content {
        bottom:36%;
    }
}

@media (min-width: 1850px) {
    .slider_content {
        bottom:38%;
    }
}

@media (min-width: 1900px) {
    .slider_content {
        bottom:39%;
    }
}

@media (min-width: 1950px) {
    .slider_content {
        bottom:41%;
    }
}

@media (min-width: 2050px) {
    .slider_content {
        bottom:44%;
    }
}

@media (min-width: 2150px) {
    .slider_content {
        bottom:46%;
    }
}
@media (min-width: 2250px) {
    .slider_content {
        bottom:48%;
    }
}
@media (min-width: 2350px) {
    .slider_content {
        bottom:50%
    }
}

@media (min-width: 2450px) {
    .slider_content {
        bottom:52%;
    }
}
@media (min-width: 2550px) {
    .slider_content {
        bottom:54%;
    }
}

@media (min-width: 2650px) {
    .slider_content {
        bottom:56%;
    }
}

.slider_desc p {
    color: #002b55;
    font-size: 14px;
    margin: 0 0 5px;
}

/*  Slider Front Page  */
.main-site ul.slides .slider_title h3 {
    color: #002b55;
}
.main-site .view-main-page-top-slider .flex-control-paging li a.flex-active,
.main-site ul.slides li .slider_content::before {
    background-color: #002b55;
}
/* Slider Alumni */

.alumni ul.slides .slider_title h3 {
    color: #2098c3;
}
.alumni .view-main-page-top-slider .flex-control-paging li a.flex-active,
.alumni ul.slides li .slider_content::before {
    background-color: #2098c3;
}

/* Slider for School of Health and Natural Sciences */

.academics .slider_title h3,
.health-and-sciences .slider_title h3 {
    color:#542c85;
}

.academics .view-main-page-top-slider .flex-control-paging li a.flex-active,
.health-and-sciences .view-main-page-top-slider .flex-control-paging li a.flex-active,
.health-and-sciences ul.slides li .slider_content::before {
    background-color: #542c85;
}

/*  Slider navigation controls and description field. */
a.flex-prev,
a.flex-next {
    height: 50px;
}
.flex-control-nav {
    position: relative;
    z-index: 5;
    bottom: 60px;
    width: auto;
    right:21%;
    float:right;
}
.flex-control-nav li {
        float: left;
    }
@media (max-width: 767px) {
    .flex-control-nav li {
        display: none;
    }
}
@media (max-width: 500px) { 
    a.flex-prev,
    a.flex-next {
        display: none!important;
    }
}


/*  Main Container  */
.content-container {
     background-color: #dfdede;
     padding-bottom: 500px; /* must be at least footer's height, any other amount substracted wil serve as margin */
     min-height: 0%;
     padding-top: 50px;

}

/*  Footer  */

.main-footer {
    padding:25px;
    background-color: #062b54;
    background-image: url('/sites/default/files/default_images/Mercy_seal_footer.jpg');
    background-repeat:no-repeat;
    background-position: left bottom;
    background-size: contain;
    width: 100%;
    min-height: 500px;
    margin-top: -460px; /* must be adjusted negatively according to footer's height */
}

 .footer-menu {
    color:white; 
    min-height:400px;
    width:270px;
    float:left;
    line-height: normal;
}

 .footer-menu a {
    color: #FFF;
    text-decoration: none;
 }

.footer-menu a:hover {
    color: #ccc;
    text-decoration: none;
 }

span.uppercaser {
    text-transform: uppercase;
}

@media (max-width: 1199px ) {
    .footer-menu {
        width:230px;
    }
}

@media (max-width: 1199px ) {
    .footer-menu iframe {
        width:230px;
    }
}

/* Panels Content */


/* ______________________________________________________


Basic Page. A panel base page. */


/* Main Page styles */

.main-site .main-page-title {
    display: none;

}
.main-page-title {
    position:absolute;
    width:400px;
    top:3%;
    left:20%;
    margin-left: auto;
    margin-right:auto;
    color:#FFF;
    font-weight: bold;
}



.panel-display img {
    width:100%;
    height:auto;
}

.main-page-button {
    clear:none;
    float:left;
}

.main-page-button a {
      float:left;
      background: #d1d1d1;
      background-image: -webkit-linear-gradient(top, #d1d1d1, #878787);
      background-image: -moz-linear-gradient(top, #d1d1d1, #878787);
      background-image: -ms-linear-gradient(top, #d1d1d1, #878787);
      background-image: -o-linear-gradient(top, #d1d1d1, #878787);
      background-image: linear-gradient(to bottom, #d1d1d1, #878787);
      font-family: Arial;
      color: #002b55;
      padding: 2px 20px;
      text-decoration: none;
      box-shadow: 2px 2px 10px #ccc;


    }

.main-page-button a:hover {
  background: #abacad;
  background-image: -webkit-linear-gradient(top, #abacad, #5e5e5e);
  background-image: -moz-linear-gradient(top, #abacad, #5e5e5e);
  background-image: -ms-linear-gradient(top, #abacad, #5e5e5e);
  background-image: -o-linear-gradient(top, #abacad, #5e5e5e);
  background-image: linear-gradient(to bottom, #abacad, #5e5e5e);
  text-decoration: none;
}

.main-page-button a:active {
    position:relative;
    top:1px;

}

/* Main Pages bg styles */

/* Main double beveled boxes with picture on top title class */
.panel-bootstrap-pane .accordion-title,
.title-bevel-corners,
.title-bevel-corners-purple,
.title-bevel-corners-red,
.title-bevel-corners-green,
.title-bevel-corners-blue,
.title-bevel-corners-orange,
.mp-bottom-right-title-bg-original,
.mp-bottom-right-title-bg-purple,
.mp-bottom-right-title-bg-red,
.mp-bottom-right-title-bg-green,
.mp-bottom-right-title-bg-blue,
.mp-bottom-right-title-bg-orange,
.mp-bottom-left-title-bg-original,
.mp-bottom-left-title-bg-purple,
.mp-bottom-left-title-bg-red,
.mp-bottom-left-title-bg-green,
.mp-bottom-left-title-bg-blue,
.mp-bottom-left-title-bg-orange {
    position: relative;
    font-size: 25px;
    height:100%;
    font-weight: bold;
    padding: 15px 55px 0 15px;
    line-height: 1.2em;
}

/* Box Color selector title and content*/
.panel-bootstrap-pane .accordion-title,
.panel-bootstrap-pane .accordion-body,
.white,
.original,
.title-triangle-top,
.content-triangle-top,
.title-bevel-corners,
.content-bevel-corners,
.content-box,
.title-box,
.mp-bottom-right-title-bg-original,
.mp-bottom-right-content-bg-original,
.mp-bottom-center-title-bg-original,
.mp-bottom-center-content-bg-original,
.mp-bottom-left-title-bg-original,
.mp-bottom-left-content-bg-original {
    color: #002b55;
    background-color:#FFF;
}
.purple,
.title-triangle-top-purple,
.content-triangle-top-purple,
.title-bevel-corners-purple,
.content-bevel-corners-purple,
.content-box-purple,
.title-box-purple,
.mp-bottom-right-title-bg-purple,
.mp-bottom-right-content-bg-purple,
.mp-bottom-center-title-bg-purple,
.mp-bottom-center-content-bg-purple,
.mp-bottom-left-title-bg-purple,
.mp-bottom-left-content-bg-purple {
    background-color: #542c85;
    color:#b9a9d1;
}
.red,
.title-triangle-top-red,
.content-triangle-top-red,
.title-bevel-corners-red,
.content-bevel-corners-red,
.content-box-red,
.title-box-red,
.mp-bottom-right-title-bg-red,
.mp-bottom-right-content-bg-red,
.mp-bottom-center-title-bg-red,
.mp-bottom-center-content-bg-red,
.mp-bottom-left-title-bg-red,
.mp-bottom-left-content-bg-red {
    background-color: #cb2d2d;
    color:#f7c3ae;
}
.green,
.title-triangle-top-green,
.content-triangle-top-green,
.title-bevel-corners-green,
.content-bevel-corners-green,
.content-box-green,
.title-box-green,
.mp-bottom-right-title-bg-green,
.mp-bottom-right-content-bg-green,
.mp-bottom-center-title-bg-green,
.mp-bottom-center-content-bg-green,
.mp-bottom-left-title-bg-green,
.mp-bottom-left-content-bg-green {
    background-color: #6da748;
    color:#c4dd9e;
}
.blue,
.title-triangle-top-blue,
.content-triangle-top-blue,
.title-bevel-corners-blue,
.content-bevel-corners-blue,
.content-box-blue,
.title-box-blue,
.mp-bottom-right-title-bg-blue,
.mp-bottom-right-content-bg-blue,
.mp-bottom-center-title-bg-blue,
.mp-bottom-center-content-bg-blue,
.mp-bottom-left-content-bg-blue,
.mp-bottom-left-title-bg-blue {
    background-color: #2098c3;
    color:#aeddeb;
}
.orange,
.title-triangle-top-orange,
.content-triangle-top-orange,
.title-bevel-corners-orange,
.content-bevel-corners-orange,
.content-box-orange,
.title-box-orange,
.mp-bottom-right-title-bg-orange,
.mp-bottom-right-content-bg-orange,
.mp-bottom-center-title-bg-orange,
.mp-bottom-center-content-bg-orange,
.mp-bottom-left-title-bg-orange,
.mp-bottom-left-content-bg-orange {
    background-color: #eb8c2e;
    color:#f2d2b0;
}
/* Bottom Bevel Corner - title */
.panel-bootstrap-pane .accordion-title:after,
.title-bevel-corners:after,
.title-bevel-corners-purple:after,
.title-bevel-corners-red:after,
.title-bevel-corners-green:after,
.title-bevel-corners-blue:after,
.title-bevel-corners-orange:after,
.mp-bottom-right-title-bg-original:after,
.mp-bottom-right-title-bg-purple:after,
.mp-bottom-right-title-bg-red:after,
.mp-bottom-right-title-bg-green:after,
.mp-bottom-right-title-bg-blue:after,
.mp-bottom-right-title-bg-orange:after,
.mp-bottom-left-title-bg-original:after,
.mp-bottom-left-title-bg-purple:after,
.mp-bottom-left-title-bg-red:after,
.mp-bottom-left-title-bg-green:after,
.mp-bottom-left-title-bg-blue:after,
.mp-bottom-left-title-bg-orange:after {
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
    border-width: 18px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
    border-bottom-width: 0;
    bottom: -18px;
    margin-bottom: 1px;
}
.panel-bootstrap-pane .accordion-title:after,
.title-bevel-corners:after,
.mp-bottom-right-title-bg-original:after,
.mp-bottom-right-content-bg-original:after,
.mp-bottom-left-title-bg-original:after {    
    border-top-color: #FFF;
    border-left-color: #FFF;
}
.title-bevel-corners-purple:after,
.mp-bottom-right-title-bg-purple:after,
.mp-bottom-right-content-bg-purple:after,
.mp-bottom-left-title-bg-purple:after {    
    border-top-color: #542c85;
    border-left-color: #542c85;
}
.title-bevel-corners-red:after,
.mp-bottom-right-title-bg-red:after,
.mp-bottom-right-content-bg-red:after,
.mp-bottom-left-title-bg-red:after {    
    border-top-color: #cb2d2d;
    border-left-color: #cb2d2d;
}
.title-bevel-corners-green:after,
.mp-bottom-right-title-bg-green:after,
.mp-bottom-right-content-bg-green:after,
.mp-bottom-left-title-bg-green:after {    
    border-top-color: #6da748;
    border-left-color: #6da748;
}
.title-bevel-corners-blue:after,
.mp-bottom-right-title-bg-blue:after,
.mp-bottom-right-content-bg-blue:after,
.mp-bottom-left-title-bg-blue:after {    
    border-top-color: #2098c3;
    border-left-color: #2098c3;
}
.title-bevel-corners-orange:after,
.mp-bottom-right-title-bg-orange:after,
.mp-bottom-right-content-bg-orange:after,
.mp-bottom-left-title-bg-orange:after {
    border-top-color: #eb8c2e;
    border-left-color: #eb8c2e;
}

/* Content box for content with bevel corners */
.panel-bootstrap-pane .accordion-body,
.content-bevel-corners,
.content-bevel-corners-purple,
.content-bevel-corners-red,
.content-bevel-corners-green,
.content-bevel-corners-blue,
.content-bevel-corners-orange,
.mp-bottom-right-content-bg-original,
.mp-bottom-right-content-bg-purple,
.mp-bottom-right-content-bg-red,
.mp-bottom-right-content-bg-green,
.mp-bottom-right-content-bg-blue,
.mp-bottom-right-content-bg-orange,
.mp-bottom-left-content-bg-original,
.mp-bottom-left-content-bg-purple,
.mp-bottom-left-content-bg-red,
.mp-bottom-left-content-bg-green,
.mp-bottom-left-content-bg-blue,
.mp-bottom-left-content-bg-orange {
    position: relative;
    padding: 0 15px 18px 18px;
    margin-top: 36px;
}

/* Bevel top Corner - content */
.panel-bootstrap-pane .accordion-body:after,
.content-bevel-corners:after,
.content-bevel-corners-purple:after,
.content-bevel-corners-red:after,
.content-bevel-corners-green:after,
.content-bevel-corners-blue:after,
.content-bevel-corners-orange:after,
.mp-bottom-right-content-bg-original:after,
.mp-bottom-right-content-bg-purple:after,
.mp-bottom-right-content-bg-red:after,
.mp-bottom-right-content-bg-green:after,
.mp-bottom-right-content-bg-blue:after,
.mp-bottom-right-content-bg-orange:after,
.mp-bottom-left-content-bg-original:after,
.mp-bottom-left-content-bg-purple:after,
.mp-bottom-left-content-bg-red:after,
.mp-bottom-left-content-bg-green:after,
.mp-bottom-left-content-bg-blue:after,
.mp-bottom-left-content-bg-orange:after {
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
    border-width: 18px;
    content: "";
    display: block;
    right: 0;
    position: absolute;
    width: 100%;
    border-top-width: 0;
    top: -18px;
    margin-top: 1px;
}
.panel-bootstrap-pane .accordion-body:after,
.content-bevel-corners:after,
.mp-bottom-right-content-bg-original:after,
.mp-bottom-left-content-bg-original:after {
    border-bottom-color: #FFF;
    border-left-color: #FFF;
}
.content-bevel-corners-purple:after,
.mp-bottom-right-content-bg-purple:after,
.mp-bottom-left-content-bg-purple:after {
    border-bottom-color: #542c85;
    border-left-color: #542c85;
}
.content-bevel-corners-red:after,
.mp-bottom-right-content-bg-red:after,
.mp-bottom-left-content-bg-red:after {
    border-bottom-color: #cb2d2d;
    border-left-color: #cb2d2d;
}
.content-bevel-corners-green:after,
.mp-bottom-right-content-bg-green:after,
.mp-bottom-left-content-bg-green:after {
    border-bottom-color: #6da748;
    border-left-color: #6da748;
}
.content-bevel-corners-blue:after,
.mp-bottom-right-content-bg-blue:after,
.mp-bottom-left-content-bg-blue:after {
    border-bottom-color: #2098c3;
    border-left-color: #2098c3;
}
.content-bevel-corners-orange:after,
.mp-bottom-right-content-bg-orange:after,
.mp-bottom-left-content-bg-orange:after {
    border-bottom-color: #eb8c2e;
    border-left-color: #eb8c2e;
}

/* Menu inside bevel corners */
.content-bevel-corners li a,
.content-bevel-corners-purple li a,
.content-bevel-corners-red li a,
.content-bevel-corners-green li a,
.content-bevel-corners-blue li a,
.content-bevel-corners-orange li a,
.mp-bottom-right-content-bg-original li a,
.mp-bottom-right-content-bg-purple li a,
.mp-bottom-right-content-bg-red li a,
.mp-bottom-right-content-bg-green li a,
.mp-bottom-right-content-bg-blue li a,
.mp-bottom-right-content-bg-orange li a,
.mp-bottom-left-content-bg-original li a,
.mp-bottom-left-content-bg-purple li a,
.mp-bottom-left-content-bg-red li a,
.mp-bottom-left-content-bg-green li a,
.mp-bottom-left-content-bg-blue li a,
.mp-bottom-left-content-bg-orange li a {
    color:inherit;
    text-transform: uppercase;
}
/* submenus */
.content-bevel-corners-purple .nav .open > a,
.content-bevel-corners-purple .nav .open > a:focus,
.content-bevel-corners-purple .nav .open > a:hover,
.content-bevel-corners-red .nav .open > a,
.content-bevel-corners-red .nav .open > a:focus,
.content-bevel-corners-red .nav .open > a:hover,
.content-bevel-corners-green .nav .open > a,
.content-bevel-corners-green .nav .open > a:focus,
.content-bevel-corners-green .nav .open > a:hover,
.content-bevel-corners-blue .nav .open > a,
.content-bevel-corners-blue .nav .open > a:focus,
.content-bevel-corners-blue .nav .open > a:hover,
.content-bevel-corners-orange .nav .open > a,
.content-bevel-corners-orange .nav .open > a:focus,
.content-bevel-corners-orange .nav .open > a:hover,

/* menus */

.content-bevel-corners-purple li a:hover,
.content-bevel-corners-red li a:hover,
.content-bevel-corners-green li a:hover,
.content-bevel-corners-blue li a:hover,
.content-bevel-corners-orange li a:hover,
.mp-bottom-right-content-bg-original li a:hover,
.mp-bottom-right-content-bg-purple li a:hover,
.mp-bottom-right-content-bg-red li a:hover,
.mp-bottom-right-content-bg-green li a:hover,
.mp-bottom-right-content-bg-blue li a:hover,
.mp-bottom-right-content-bg-orange li a:hover,
.mp-bottom-left-content-bg-original li a:hover,
.mp-bottom-left-content-bg-purple li a:hover,
.mp-bottom-left-content-bg-red li a:hover,
.mp-bottom-left-content-bg-green li a:hover,
.mp-bottom-left-content-bg-blue li a:hover,
.mp-bottom-left-content-bg-orange li a:hover,
.content-bevel-corners-purple li a:focus,
.content-bevel-corners-red li a:focus,
.content-bevel-corners-green li a:focus,
.content-bevel-corners-blue li a:focus,
.content-bevel-corners-orange li a:focus,
.mp-bottom-right-content-bg-original li a:focus,
.mp-bottom-right-content-bg-purple li a:focus,
.mp-bottom-right-content-bg-red li a:focus,
.mp-bottom-right-content-bg-green li a:focus,
.mp-bottom-right-content-bg-blue li a:focus,
.mp-bottom-right-content-bg-orange li a:focus,
.mp-bottom-left-content-bg-original li a:focus,
.mp-bottom-left-content-bg-purple li a:focus,
.mp-bottom-left-content-bg-red li a:focus,
.mp-bottom-left-content-bg-green li a:focus,
.mp-bottom-left-content-bg-blue li a:focus,
.mp-bottom-left-content-bg-orange li a:focus,
.content-bevel-corners-purple li a.active,
.content-bevel-corners-red li a.active,
.content-bevel-corners-green li a.active,
.content-bevel-corners-blue li a.active,
.content-bevel-corners-orange li a.active,
.mp-bottom-right-content-bg-original li a.active,
.mp-bottom-right-content-bg-purple li a.active,
.mp-bottom-right-content-bg-red li a.active,
.mp-bottom-right-content-bg-green li a.active,
.mp-bottom-right-content-bg-blue li a.active,
.mp-bottom-right-content-bg-orange li a.active,
.mp-bottom-left-content-bg-original li a.active,
.mp-bottom-left-content-bg-purple li a.active,
.mp-bottom-left-content-bg-red li a.active,
.mp-bottom-left-content-bg-green li a.active,
.mp-bottom-left-content-bg-blue li a.active,
.mp-bottom-left-content-bg-orange li a.active {
    background-color: rgba(255, 255, 255, 0.2);
}
/* for menu with white background style on hover is different */
.content-bevel-corners li a:hover,
.content-bevel-corners li a:focus,
.content-bevel-corners li a.active {
    background-color: rgba(0, 0, 0, 0.2);
}

/* hover for submenus  */

.content-bevel-corners-purple .dropdown-menu > li > a:hover, 
.content-bevel-corners-purple .dropdown-menu > li > a:focus,
.content-bevel-corners-red .dropdown-menu > li > a:hover, 
.content-bevel-corners-red .dropdown-menu > li > a:focus,
.content-bevel-corners-green .dropdown-menu > li > a:hover, 
.content-bevel-corners-green .dropdown-menu > li > a:focus,
.content-bevel-corners-blue .dropdown-menu > li > a:hover, 
.content-bevel-corners-blue .dropdown-menu > li > a:focus,
.content-bevel-corners-orange .dropdown-menu > li > a:hover, 
.content-bevel-corners-orange .dropdown-menu > li > a:focus {
color:inherit;
}

/* submenus active state */

.content-bevel-corners-purple .dropdown-menu > .active > a,
.content-bevel-corners-purple .dropdown-menu > .active > a,
.content-bevel-corners-red .dropdown-menu > .active > a,
.content-bevel-corners-red .dropdown-menu > .active > a,
.content-bevel-corners-green .dropdown-menu > .active > a,
.content-bevel-corners-green .dropdown-menu > .active > a,
.content-bevel-corners-blue .dropdown-menu > .active > a,
.content-bevel-corners-blue .dropdown-menu > .active > a,
.content-bevel-corners-orange .dropdown-menu > .active > a,
.content-bevel-corners-orange .dropdown-menu > .active > a {
    background-image: none;
    background-color: #CCC;
    color:inherit;
}

/* Secondary boxes with triangle sticking up to picture - Title */
.title-triangle-top,
.title-triangle-top-purple,
.title-triangle-top-red,
.title-triangle-top-green,
.title-triangle-top-blue,
.title-triangle-top-blue,
.mp-bottom-center-title-bg-original,
.mp-bottom-center-title-bg-purple,
.mp-bottom-center-title-bg-red,
.mp-bottom-center-title-bg-green,
.mp-bottom-center-title-bg-blue,
.mp-bottom-center-title-bg-orange {
    padding: 0 15px 15px 15px;
    margin-bottom: 3px;
    position: relative;
    font-size: 25px;
    font-weight: bold;
    height:100%;
    line-height: 1.2em;
}
.title-triangle-top:before,
.title-triangle-top-purple:before,
.title-triangle-top-red:before,
.title-triangle-top-green:before,
.title-triangle-top-blue:before,
.title-triangle-top-orange:before,
.mp-bottom-center-title-bg-original:before,
.mp-bottom-center-title-bg-purple:before,
.mp-bottom-center-title-bg-red:before,
.mp-bottom-center-title-bg-green:before,
.mp-bottom-center-title-bg-blue:before,
.mp-bottom-center-title-bg-orange:before {
    content: '';
    display: block;
    position: relative;
    bottom: 34px;
    left:0;
    margin-left:auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px;
    margin-bottom: -18px;
}
.title-triangle-top:before,
.mp-bottom-center-title-bg-original:before {
    border-color: transparent transparent #FFF transparent;
}
.title-triangle-top-purple:before,
.mp-bottom-center-title-bg-purple:before {
    border-color: transparent transparent #542c85 transparent;
}
.title-triangle-top-red:before,
.mp-bottom-center-title-bg-red:before {
    border-color: transparent transparent #cb2d2d transparent;
}
.title-triangle-top-green:before,
.mp-bottom-center-title-bg-green:before {
    border-color: transparent transparent #6da748 transparent;
}
.title-triangle-top-blue:before,
.mp-bottom-center-title-bg-blue:before {
    border-color: transparent transparent #2098c3 transparent;
}
.title-triangle-top-orange:before,
.mp-bottom-center-title-bg-orange:before {
    border-color: transparent transparent #eb8c2e transparent;
}

/* Content box for content with triangle on top */
.content-triangle-top,
.content-triangle-top-purple,
.content-triangle-top-red,
.content-triangle-top-green,
.content-triangle-top-blue,
.content-triangle-top-orange,
.mp-bottom-center-content-bg-original,
.mp-bottom-center-content-bg-purple,
.mp-bottom-center-content-bg-red,
.mp-bottom-center-content-bg-green,
.mp-bottom-center-content-bg-blue,
.mp-bottom-center-content-bg-orange {
    position: relative;
    padding: 18px;
}

/* Square box */

.content-box,
.content-box-purple,
.content-box-red,
.content-box-green,
.content-box-blue,
.content-box-orange {
    padding:15px;
}

.title-box,
.title-box-purple,
.title-box-red,
.title-box-green,
.title-box-blue,
.title-box-orange {
    font-size: 25px;
    font-weight: bold;
    padding:15px 15px 0 15px;
}

/* Linked title and Images */
.panel-bootstrap-pane .accordion-title a,
.title-box a,
.title-box-purple a,
.title-box-red a,
.title-box-green a,
.title-box-green a,
.title-box-orange a,
.title-triangle-top a,
.title-triangle-top-purple a,
.title-triangle-top-red a,
.title-triangle-top-green a,
.title-triangle-top-blue a,
.title-triangle-top-orange a,
.title-bevel-corners a,
.title-bevel-corners-purple a,
.title-bevel-corners-red a,
.title-bevel-corners-green a,
.title-bevel-corners-blue a,
.title-bevel-corners-orange a {
    color:inherit;
}
.panel-bootstrap-pane .accordion-title a:hover,
.title-box a:hover,
.title-box-purple a:hover,
.title-box-red a:hover,
.title-box-green a:hover,
.title-box-green a:hover,
.title-box-orange a:hover,
.title-triangle-top a:hover,
.title-triangle-top-purple a:hover,
.title-triangle-top-red a:hover,
.title-triangle-top-green a:hover,
.title-triangle-top-blue a:hover,
.title-triangle-top-orange a:hover,
.title-bevel-corners a:hover,
.title-bevel-corners-purple a:hover,
.title-bevel-corners-red a:hover,
.title-bevel-corners-green a:hover,
.title-bevel-corners-blue a:hover,
.title-bevel-corners-orange a:hover {
    text-decoration: none;
    opacity: 0.8;
    filter: alpha(opacity=80);

}

.panel-bootstrap-pane .accordion-title .panel-collapse:before {
    content:"-";
    float:right;
    margin-right:-30px;
    color:#ccc;
}
.panel-bootstrap-pane .accordion-title .collapsed:before {
    content:"+";
    float:right;
    color:#ccc;
}

.panel-bootstrap-pane .accordion-title a:hover:before {
    color:#999;
}

/* Panel layout issues, making total panel width 100% and moving 
sencond and thrid level views up to align with top margin */

.panel-3col-33-stacked .panel-col {
    width:34%;
}

.group-hidden-title {
    display:none!important;
}

.ui-front {
    z-index: 1002;
}

/* .panel-displacemen t-fix {
    margin-top: -14px;
    margin-bottom:-14px;
} 
*/

/* Removes title and make title a link boxes on fieldable panes */

#fieldable-panels-panes-fieldable-panels-pane-content-type-edit-form .form-item-link{
    display: none;
}

/* Main Page mobile columns collapse */
@media (max-width: 767px) {
    .panel-3col-33-stacked .panel-col-first {
        clear:both;
        width:100%;
    }
}

@media (max-width: 767px) {
    .panel-3col-33-stacked .panel-col,
    .panel-3col-33-stacked .panel-col-last {
        width:50%;

    }
}

@media (max-width: 500px) {
    .panel-3col-33-stacked .panel-col-first,
    .panel-3col-33-stacked .panel-col,
    .panel-3col-33-stacked .panel-col-last {
        clear:both;
        width:100%;

    }
}


 /* Video Kit with Fancy Box */


a.fancy-video {
    display:inline;
    float:left;
    margin-top: -50%;
    margin-left: 33%;
    position:relative;
    background-image: url('/sites/default/files/default_images/playbutton.png');
    background-size: cover;
    background-position: center;
    height:120px;
    width:120px;
    text-indent:-9999px
 }

.video-formatter .field-name-field-image,
.video-formatter .field-image {
    margin-bottom: -10px;
}

.video-desc .field-content-video-descri,
.video-desc .field-name-field-description,
.video-desc .field-name-field-content-video-description {
    color: #002b55;
    background-color:#FFF;
    padding:10px;
}
.video-desc .field-title,
.video-desc .field-name-field-title {
    padding: 0 15px 15px 15px;
    position: relative;
    font-size: 25px;
    font-weight: bold;
    height:100%;
    line-height: 1.2em;
    background:#FFF;
    color: #002b55;
}
.video-desc .field-title:before,
.video-desc .field-name-field-title:before {
    content: '';
    display: block;
    position: relative;
    bottom: 34px;
    margin-left:auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px;
    margin-bottom: -18px;
    border-color: transparent transparent #FFF transparent;
}

/* Content Panes */

.field-collection-container {
    border:none;
    margin:0;
}

.field-collection-container .field-collection-view {
    padding:0;
    margin:0;
}

.page-header {
    margin: 0 0 20px;
    color:#FFF;
    font-weight: bold;
    padding-bottom: 0;
}
