/*  Body  */
html,
body {
    height: 100%;
    font-family: "ITC Franklin Gothic Book", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}
/*  Top Navigation Bar  */
header#navbar,
.navbar-default .navbar-collapse {
    background-color: #002b55!important;
    background-image: none;
    text-transform: uppercase;
    margin-top: 0px!important;
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    min-height: 39px;
    margin-bottom:0;

}

.navbar-default .nav li a {
    color: #FFF;
    font-size: 12px;
    padding: 9px 16px;
}
a.menu-blue {
    color: #6f9fbb!important
}

@media (min-width: 768px) and (max-width: 992px) {
    .last-blue-menu {
        clear:both!important;
    }
}

.navbar-default a:hover {
    background-color: #4e6b88!important;
    color: #FFF!important;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #113c60
}
.navbar-default a.active {
    background-color: transparent!important;
    color: #878080!important;
}



@media (min-width: 992px) and (max-width: 1200px) {
    header#navbar,
    .navbar-default .navbar-collapse {
            padding-right:5px;
            padding-left:5px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .navbar-default .nav li a {
            padding: 9px 12px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
      .navbar-default .nav li a {
            padding: 9px 10px;
    }
}

.navbar section#block-block-3 {  /* this is the section holding the search icon that triggers the search bar, this style allows menus to be active while logged on to drupal as admin */
    width:45px;
    height:38px;
    clear:none;
   float:right;
}
@media (max-width: 768px) {
    .navbar section#block-block-3 {
        margin-top: 0;
    }
}
@media (max-width: 992px) {
    .navbar section#block-block-3 {
        margin-top: -36px;
    }
}


/* Search bar */

.search-container {
    margin-right: auto;
    margin-left: auto;
    background-color: #b4b5b7!important;
}

.search_bar .input-group ::-webkit-input-placeholder {
    color:transparent;
}

.search_bar .input-group :-moz-placeholder {
    color:transparent;
}

.search_bar .input-group ::-moz-placeholder {
    color:transparent;
}

.search_bar .input-group :-ms-input-placeholder {
    color:transparent;
}


.search_bar .input-group {
    float: left;
    margin-top: 5px;
}

.search_bar .input-group input {
    height:28px;
    border:none!important;
    color:#000;
    border-radius: 0!important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    font-size: 14px;

}

.search_bar .input-group-btn .glyphicon-search {
    font-size: 21px;
    color: #062b55;
    box-shadow: none;
    text-shadow: none;
}

.search_bar .input-group button.btn.btn-default {
    border: 0!important;
    background-color: #FFF!important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0 6px;
    border-radius: 0;
    height:28px;
}

.search_bar {
    height:39px;
    margin-right:auto;
    margin-left:auto;
   
    margin-bottom:0;
    display: none;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 1420px;
   
}

@media (max-width: 1450px) {
    .search_bar {
    width:100%;
}
}

@media (max-width: 1450px) {
    .search_bar .input-group input {
    width:100%;
}
}

.search_bar section#block-block-4 {
    float: right;
    width: 35px;
}


.search_bar section#block-search-form {
    width:45%;
    max-width: 628px;
    margin:auto;
    float:right;
    margin-right: 110px;
  
}
.search_bar .glyphicon.glyphicon-remove {
    font-size: 20px;
    color: #062b55;
    padding:8px 6px;

}

@media (max-width: 768px ) {
    .search_bar {
        height:100%;
        padding-left: 2px;
        padding-right: 2px;
    }
}

@media (max-width: 768px ) {
    .search_bar section#block-search-form {
        margin-right: 15px;
    }
}
/* Icon that triggers search bar on navbar */

.search-toggle-icon {
    padding:7px 12px;
    float:right;
    clear:none;
}

.navbar-default .glyphicon-search {
    font-size: 20px;
    color: #FFF;
    box-shadow: none;
    text-shadow: none;
}

/*  Mercy College Logo and Social Links  */
.top-logo {
    margin-bottom: 0;
    margin-top:10px;
}


.main_logo {
    float: left;
    max-width: 300px;
    margin-left: 20px;
}
.main_logo img {
        max-height: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
    }

#social-icons {
    margin-top: 25px;
    margin-right: 40px;
}

@media (min-width: 992px) and (max-width: 1200px) {
    #social-icons {
        margin-right:25px;
    }
}

.main_social {
    float: right;
    max-width: 28px;
    margin-left: 15px;
}
.main_social img {
    max-width: 100%;
    max-height:100%;
}

.main_social img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
/*  Footer  */

.footer {
    background-color: #062b54;
    background-image: url('/sites/default/files/default_images/Mercy_seal_footer.jpg');
    background-repeat:no-repeat;
    background-position: left bottom;
    width: 100%;
    bottom: 0;
    position: relative;
    height: 600px;
    margin-top: -560px; /* must be adjusted negatively according to footer's height */
}

/*  Main Container  */
.content-container {
     background-color: #dfdede;
     padding-bottom: 600px; /* must be at least footer's height, any other amount substracted wil serve as margin */
     min-height: 0%;
     padding-top: 40px;
}
/*  Second Navigation Bar  */

#navigation-secondary {
    margin-top: -40px;
    margin-right: 20px;
    margin-bottom: 0;
}
@media (max-width:500px) { 
    #navigation-secondary {
        margin-top: 5px;
    }
}
@media (max-width:992px) { 
    #navigation-secondary {
        margin-top: 5px
    }
}
#navigation-secondary ul li {
    float: right
}
    #navigation-secondary ul li a {
        padding: 15px 20px;
        color: #002b55;
        font-weight: bold;
    }
    #navigation-secondary ul li a:hover {
        color: #FFF
    }
@media (max-width: 768px) { 
    #navigation-secondary ul li a {
        padding: 15px 8px!important
    }
}
@media (max-width: 1200px) { 
    #navigation-secondary ul li a {
        padding: 15px 10px
    }
}
@media (max-width: 500px) { 
    #navigation-secondary ul li a {
        color: #FFF
    }
}
@media (max-width: 500px) { 
    #navigation-secondary ul li {
        background-color: #002b5f;
        border-top: solid 1px black;
        border-left: solid 1px black;
        border-right: solid 1px black;
        border-radius: 2px!important;
        -moz-border-radius: 2px!important;
        -webkit-border-radius: 2px!important;
        -o-border-radius: 2px!important;
        text-align: center;
        width: 100%;
    }
}
/* Colored second navigation buttons */
#navigation-secondary ul li:nth-child(1) a:focus,
#navigation-secondary ul li:nth-child(1) a:hover,
#navigation-secondary ul li:nth-child(1) a.active {
    background-color: #eb8c2e!important;
    color: #FFF;
}
#navigation-secondary ul li:nth-child(2) a:focus,
#navigation-secondary ul li:nth-child(2) a:hover,
#navigation-secondary ul li:nth-child(2) a.active {
    background-color: #cb2d2d!important;
    color: #FFF;
}
#navigation-secondary ul li:nth-child(3) a:focus,
#navigation-secondary ul li:nth-child(3) a:hover,
#navigation-secondary ul li:nth-child(3) a.active {
    background-color: #542c85!important;
    color: #FFF;
}
#navigation-secondary ul li:nth-child(4) a:focus,
#navigation-secondary ul li:nth-child(4) a:hover,
#navigation-secondary ul li:nth-child(4) a.active {
    background-color: #6da748!important;
    color: #FFF;
}
#navigation-secondary ul li:nth-child(5) a:focus,
#navigation-secondary ul li:nth-child(5) a:hover,
#navigation-secondary ul li:nth-child(5) a.active {
    background-color: #2098c3!important;
    color: #FFF;
}
/* Downard triangle added to the second navigation menus */
#navigation-secondary ul li:nth-child(1) a:focus:after,
#navigation-secondary ul li:nth-child(1) a:focus::after,
#navigation-secondary ul li:nth-child(2) a:focus:after,
#navigation-secondary ul li:nth-child(2) a:focus::after,
#navigation-secondary ul li:nth-child(3) a:focus:after,
#navigation-secondary ul li:nth-child(3) a:focus::after,
#navigation-secondary ul li:nth-child(4) a:focus:after,
#navigation-secondary ul li:nth-child(4) a:focus::after,
#navigation-secondary ul li:nth-child(5) a:focus:after,
#navigation-secondary ul li:nth-child(5) a:focus::after,
#navigation-secondary ul li:nth-child(1) a.active:after,
#navigation-secondary ul li:nth-child(1) a.active::after,
#navigation-secondary ul li:nth-child(2) a.active:after,
#navigation-secondary ul li:nth-child(2) a.active::after,
#navigation-secondary ul li:nth-child(3) a.active:after,
#navigation-secondary ul li:nth-child(3) a.active::after,
#navigation-secondary ul li:nth-child(4) a.active:after,
#navigation-secondary ul li:nth-child(4) a.active::after,
#navigation-secondary ul li:nth-child(5) a.active:after,
#navigation-secondary ul li:nth-child(5) a.active::after,
#navigation-secondary ul li:nth-child(1) a:hover:after,
#navigation-secondary ul li:nth-child(1) a:hover::after,
#navigation-secondary ul li:nth-child(2) a:hover:after,
#navigation-secondary ul li:nth-child(2) a:hover::after,
#navigation-secondary ul li:nth-child(3) a:hover:after,
#navigation-secondary ul li:nth-child(3) a:hover::after,
#navigation-secondary ul li:nth-child(4) a:hover:after,
#navigation-secondary ul li:nth-child(4) a:hover::after,
#navigation-secondary ul li:nth-child(5) a:hover:after,
#navigation-secondary ul li:nth-child(5) a:hover::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%; /*should be set to 100% */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-width: 10px;
    z-index: 20;
}
@media (max-width: 500px) { 
    #navigation-secondary ul li:nth-child(1) a:focus:after,
    #navigation-secondary ul li:nth-child(1) a:focus::after,
    #navigation-secondary ul li:nth-child(2) a:focus:after,
    #navigation-secondary ul li:nth-child(2) a:focus::after,
    #navigation-secondary ul li:nth-child(3) a:focus:after,
    #navigation-secondary ul li:nth-child(3) a:focus::after,
    #navigation-secondary ul li:nth-child(4) a:focus:after,
    #navigation-secondary ul li:nth-child(4) a:focus::after,
    #navigation-secondary ul li:nth-child(5) a:focus:after,
    #navigation-secondary ul li:nth-child(5) a:focus::after,
    #navigation-secondary ul li:nth-child(1) a.active:after,
    #navigation-secondary ul li:nth-child(1) a.active::after,
    #navigation-secondary ul li:nth-child(2) a.active:after,
    #navigation-secondary ul li:nth-child(2) a.active::after,
    #navigation-secondary ul li:nth-child(3) a.active:after,
    #navigation-secondary ul li:nth-child(3) a.active::after,
    #navigation-secondary ul li:nth-child(4) a.active:after,
    #navigation-secondary ul li:nth-child(4) a.active::after,
    #navigation-secondary ul li:nth-child(5) a.active:after,
    #navigation-secondary ul li:nth-child(5) a.active::after,
    #navigation-secondary ul li:nth-child(1) a:hover:after,
    #navigation-secondary ul li:nth-child(1) a:hover::after,
    #navigation-secondary ul li:nth-child(2) a:hover:after,
    #navigation-secondary ul li:nth-child(2) a:hover::after,
    #navigation-secondary ul li:nth-child(3) a:hover:after,
    #navigation-secondary ul li:nth-child(3) a:hover::after,
    #navigation-secondary ul li:nth-child(4) a:hover:after,
    #navigation-secondary ul li:nth-child(4) a:hover::after,
    #navigation-secondary ul li:nth-child(5) a:hover:after,
    #navigation-secondary ul li:nth-child(5) a:hover::after {
        display: none!important
    }
}
/* Color added to match parent menu of arrow added */
#navigation-secondary ul li:nth-child(1) a:hover:after,
#navigation-secondary ul li:nth-child(1) a:hover::after,
#navigation-secondary ul li:nth-child(1) a.active::after,
#navigation-secondary ul li:nth-child(1) a.active:after {
    border-color: #eb8c2e transparent transparent transparent;
    left: 40%;
}
#navigation-secondary ul li:nth-child(2) a:hover:after,
#navigation-secondary ul li:nth-child(2) a:hover::after,
#navigation-secondary ul li:nth-child(2) a.active::after,
#navigation-secondary ul li:nth-child(2) a.active:after {
    left: 42%;
    border-color: #cb2d2d transparent transparent transparent;
}
#navigation-secondary ul li:nth-child(3) a:hover:after,
#navigation-secondary ul li:nth-child(3) a:hover::after,
#navigation-secondary ul li:nth-child(3) a.active::after,
#navigation-secondary ul li:nth-child(3) a.active:after {
    left: 40%;
    border-color: #542c85 transparent transparent transparent;
}
#navigation-secondary ul li:nth-child(4) a:hover:after,
#navigation-secondary ul li:nth-child(4) a:hover::after,
#navigation-secondary ul li:nth-child(4) a.active::after,
#navigation-secondary ul li:nth-child(4) a.active:after {
    left: 45%;
    border-color: #6da748 transparent transparent transparent;
}
#navigation-secondary ul li:nth-child(5) a:hover:after,
#navigation-secondary ul li:nth-child(5) a:hover::after,
#navigation-secondary ul li:nth-child(5) a.active::after,
#navigation-secondary ul li:nth-child(5) a.active:after {
    left: 40%;
    border-color: #2098c3 transparent transparent transparent;
}
/*  Slider all pages  */

#slider-container {
    margin-right: auto;
    margin-left: auto;
}

.slider {
    overflow: hidden;
    max-height:500px;
    margin-bottom: -10px;
}

.slider img {
    max-width: 100%;
  height:auto;
}

.slider .flexslider {
    border:none;
    border-bottom: 1px #dfdede solid;
    margin:0;
}

.views-field {
    height:0;
}


.slider_content,
.student_life_slider_content  {
    width: 60%;
    height: 90px;
    padding: 2px 5px 5px 15px;
    background-color: #FFF;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    margin-left: auto;
    margin-right: auto;
    position:relative;
    bottom:130px;
}

@media (max-width: 600px) { 
    .slider_content,
    .student_life_slider_content  {
        width: 100%;
        height: 80px;
        bottom:0;
    }
}
@media (max-width: 600px) {
    .slider,
    .views-field {
    margin-bottom: 0;
    height:auto;
    }
}

@media (min-width: 1350px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -40px;

    }
}

@media (min-width: 1450px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -80px;
    }
}

@media (min-width: 1550px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -120px;
    }
}

@media (min-width: 1650px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -160px;
    }
}

@media (min-width: 1750px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -200px;
    }
}

@media (min-width: 1850px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -240px;
    }
}

@media (min-width: 1950px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -280px;
    }
}

@media (min-width: 2050px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -320px;
    }
}

@media (min-width: 2150px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -360px;
    }
}
@media (min-width: 2250px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -400px;
    }
}
@media (min-width: 2350px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -420px;
    }
}

@media (min-width: 2450px) {
    .slider_content,
    .student_life_slider_content {
        margin-top: -460px;
    }
}


.slider_content h3,
.student_life_slider_content h3 {
    margin: 4px;
}

.slider_content:after, /*arrow added to slider_content DIV*/
.slider_content::after,
.student_life_slider_content:after,
.student_life_slider_content::after {
    content: '';
    display: block;
    position: relative;
    bottom: 89px;
    width: 0;
    height: 0;
    border-color: transparent transparent #FFF transparent; /*border color should be same as div div background color*/
    border-style: solid;
    border-width: 18px;
}

@media (max-width: 700px) { 
    .slider_content:after, /*arrow added to slider_content DIV*/
    .slider_content::after,
    .student_life_slider_content:after,
    .student_life_slider_content::after {
        display: none;
    }
}

.slider_desc {
    color: #002b55;
}

/*  Slider Front Page  */
ul.slides .slider_title h3 {
    color: #002b55;
}

.view-main-banner .flex-control-paging {
    position: relative;
}

.view-main-banner .flex-control-paging li a.flex-active,
ul.slides li .slider_content::before {
    background-color: #002b55;
}
/*  Slider Student Life */
ul.slides .student_life_slider_title h3 {
    color: #cb2d2d;
}
.view-student-life-main-banner .flex-control-paging li a.flex-active,
ul.slides li .student_life_slider_content::before {
    background-color: #cb2d2d;
}
/*
ul.slides li:nth-child(2) .slider_title h3,
ul.slides li:nth-child(2) .testclass {
    color:#542c85;
}
.flex-control-paging li:nth-child(2) a.flex-active,
ul.slides li:nth-child(2) .slider_content::before {
    background-color: #542c85;
}
*/
/*  Slider navigation controls and description field. */
a.flex-prev,
a.flex-next {
    height: 50px;
}
.flex-control-nav {
    position: relative;
    z-index: 20;
    bottom: 60px;
    width: 200px;
    float: right;
    padding-right: 15px;
    margin-right: 20%;
}
.flex-control-nav li {
        float: right;
    }
@media (max-width: 600px) {
    .flex-control-nav li {
        display: none;
    }
}

@media (max-width: 500px) { 
    a.flex-prev,
    a.flex-next {
        display: none!important;
    }
}
/* Panels Content */
.pane-content ol.flex-control-nav {
    display: none;
}