
/*  Body  */
#whole-page-wrapper {
        min-height: 100%;
        /*ensure layout does not break even when moving wrapper offscreen */
        width:100%;
        /*ensure menu behind body does not show through */
        background-color: white;
        z-index: -100;
}
html {
font-size: inherit;
}

html,
body {
    font-family: "ITCFranklinGothicStd-Book", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

/*firefox fix */
a:focus {
    outline:0!important;
}

/*  Top Navigation Bar  */
.navbar-offcanvas.off-toggle {

}
header#navbar,
.navbar-default .navbar-collapse {
    background-color: #002b55!important;
    background-image: none;
    text-transform: uppercase;
    border: 0;
    margin-top:0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    min-height: 39px;
    margin-bottom:0;
}

h3 {
    font-size: 22px;
}

header#navbar .navbar-collapse {
    float:left;
    padding-left: 0px;
    width: 93%;
}
.navbar-default .nav li a:focus,
.navbar-default .nav li a {
    color: #FFF;
    font-size: 12px;
    padding: 9px 13px;
    text-shadow:none;
}
.navbar-default a.active-trail,
.navbar-default a:active,
.navbar-default a.active,
.navbar-default a:hover {
    background-color: #4e6b88!important;
    color: #FFF!important;
    background-image:none!important;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #113c60
}

@media (min-width: 992px) and (max-width: 1198px) {
    header#navbar,
    .navbar-default .navbar-collapse {
            padding-right:5px;
            padding-left:5px;
    }
}
@media (min-width: 992px) and (max-width: 1198px) {
    .navbar-default .nav li a {
            padding: 9px 10px;
    }
}

ul.navbar-nav {
    margin-bottom:0;
}

/* caret on expanded menus is added a color by jquery google CDN */
.nav a:hover .caret,
.nav .caret {
    border-top-color: inherit;
    border-bottom-color: inherit;
}
/* White menu links on main bar */
.navbar-default ul.secondary {
    float:left;
}

@media (max-width: 767px ) {
    .navbar-default ul,
    .navbar-default ul.secondary {
        width: 100%;
        float:right;
    }
}

/* Show dropdown menus on top menu bar on hover */

header#navbar li.expanded:hover ul.dropdown-menu {
    display:block;
    background-color: #002b55;
    position:absolute;
}
header#navbar li.active-trail ul.dropdown-menu {
    display:none;
}
/* Icon that triggers search bar on navbar */
.nav-icons {
    width:auto;
    float:right;
    clear:none;
}

.nav-icons ul {
    padding-left: 0;
}
.nav-icons ul li {
    list-style: none;
    list-style-type: none;
    float:right;

}
@media (min-width: 1200px) {
    /*.nav-icons {
        margin-left: 50px;
    }*/
}
@media (min-width: 992px) and (max-width: 1200px) {
    .nav-icons {
        margin-left: 10px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .nav-icons ul li {
        float:none;
        clear:right;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    header#navbar .navbar-collapse {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .search-toggle-icon {
    padding: 7px 5px 7px 13px;    
    }
        .chat-icon {
            padding:7px 9px;
    }
}
.chat-icon,
.search-toggle-icon {
    float:right;
}
.navbar-default .glyphicon-search,
.navbar-default .glyphicon-comment,
.navbar-offcanvas-inner .glyphicon-search {
    font-size: 20px;
    color: #FFF;
    box-shadow: none;
    text-shadow: none;
}
.navbar-offcanvas-inner .glyphicon-search {
    color: #002B55;
}
/* Search bar */
.search-container {
    margin-right: auto;
    margin-left: auto;
    background-color: #b4b5b7!important;
}

.search_bar .input-group ::-webkit-input-placeholder {
    color:transparent;
}

.search_bar .input-group :-moz-placeholder {
    color:transparent;
}

.search_bar .input-group ::-moz-placeholder {
    color:transparent;
}

.search_bar .input-group :-ms-input-placeholder {
    color:transparent;
}
.search_bar .input-group {
    float: left;
    margin-top: 5px;
    box-shadow: rgba(0,0,0,0.2) -2px 3px 5px;
}
.input-group input {
    height:30px;
    color:#000;
    border-radius: 0!important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    font-size: 14px;
}

.search_bar .input-group input {
    border:none!important;
}
.input-group .form-control {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    border:none;
}

.search_bar .input-group-btn .glyphicon-search {
    font-size: 21px;
    color: #062b55;
    box-shadow: none;
    text-shadow: none;
}

.search_bar .input-group-btn .glyphicon-search:hover {
   color:#ccc;
   font-weight: bold;
}

.search_bar .input-group button.btn.btn-default {
    border: 0!important;
    background-color: #FFF!important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0 6px;
    border-radius: 0;
    height:30px;
    background-image: none;
}

.search_bar {
    height:39px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:0;
    display: none;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 1140px;
   
}

@media (max-width:1199px) {
    .search_bar {
        max-width: 940px;
    }
}

@media (max-width: 1450px) {
    .search_bar {
    width:100%;
}
}

@media (max-width: 1450px) {
    .search_bar .input-group input {
    width:100%;
}
}

.search_bar section#block-block-4 {
    float: right;
    width: 35px;
    position:absolute;
    right:20px;
}

@media (max-width: 992px) {
    .search_bar section#block-block-4 {
        position:relative;
        right:0;
    }

}
.search_bar section#block-search-form {
    width:50%;
    max-width: 650px;
    margin:auto;
    float:right;
    margin-right: 25px;
    padding-right: 50px;
  
}
.search_bar .glyphicon.glyphicon-remove {
    font-size: 20px;
    color: #062b55;
    padding:8px 6px;
    position:absolute;
    right:20px;

}

@media (max-width: 992px) {
    .search_bar .glyphicon.glyphicon-remove {
        position:relative;
        right:0;
    }

}

@media (max-width: 768px ) {
    .search-container {
        float:left;
        width: 100%
    }
}

@media (max-width: 992px ) {
    .search_bar {
        height:100%;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 10px;
        padding-top: 5px;
    }
}

@media (max-width: 768px ) {
    .search_bar section#block-search-form {
        margin-right: 15px;
    }
}

/*  Mercy College Logo and Social Links  */
.top-logo {
    margin-bottom: 0;
    margin-top:0;
}

.main_logo {
    float: left;
    max-width: 300px;
    margin-left: 20px;
}
.main_logo img {
        max-height: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
    }

#social-icons {
    margin-top: 15px;
    margin-right: 36px;
}

@media (min-width: 992px) and (max-width: 1200px) {
    #social-icons {
        margin-right:25px;
    }
}

.main_social {
    float: right;
    max-width: 28px;
    margin-left: 15px;
}
.main_social img {
    max-width: 100%;
    max-height:100%;
}

.main_social img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

/* Menus data toggle */
/*
In case that want hover
 .dropdown:hover .dropdown-menu {
    position:absolute;
    left:100%;
    top:0;
    display:block;
    background-color: inherit;
    opacity: 1;
}
*/
/* hides WYSIWYG disable rich text box in forms */

ul.menu li.active-trail .dropdown-menu,
ul.menu li.active .dropdown-menu {
    display:block;
    position: relative;
}
.panel-panel ul.menu li {
    clear:left;
    margin-top: 1px;
}

ul.dropdown-menu {
    width:100%;
    margin:0 0 0;
    border-radius: 0;
    box-shadow: none;
    border:0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    border-top: 1px solid rgba(0, 0, 0, .15)!important;
    margin-bottom: 1px;
}


ul.dropdown-menu > li > a {
    white-space: normal;
}

/* Footer Social links */

.footer_social {
    float:left;
    margin:10px 0 10px 10px;
    max-width: 28px;
}

.footer_social img {
    max-height: 100%;
    max-width: 100%;
}

/*  Second Navigation Bar  */

#navigation-secondary {
    margin-top: -40px;
    margin-right: 12px;
    margin-bottom: 0;
    float:right;
}

@media (max-width:992px) { 
    #navigation-secondary {
        margin-top: 5px;
    }
}
#navigation-secondary li {
    display: inline-block;
}
#navigation-secondary ul li a {
    padding: 15px 25px;
    color: #002b55;
    font-weight: bold;
    text-transform:uppercase;
}
#navigation-secondary ul li a:hover {
    color: #FFF;
}
@media (max-width: 768px) { 
    #navigation-secondary ul li a {
        padding: 15px 7px!important;
        text-transform:none;
    }
}
@media (max-width: 1199px) { 
    #navigation-secondary ul li a {
        padding: 15px 10px;
    }
}
/* Colored second navigation buttons */

    #navigation-secondary li:nth-child(1) a.active,
    #navigation-secondary li:nth-child(1) a:hover,
    #navigation-secondary li:nth-child(1) a:focus,
    #navigation-secondary li:nth-child(1) a.active-trail,
    #navigation-secondary li:nth-child(1) a:active {
        background-color: #2098c3!important;
        color: #FFF;
    }
    #navigation-secondary li:nth-child(2) a:hover,
    #navigation-secondary li:nth-child(2) a:focus,
    #navigation-secondary li:nth-child(2) a.active,
    #navigation-secondary li:nth-child(2) a.active-trail,
    #navigation-secondary li:nth-child(2) a:active {
        background-color: #6da748!important;  
        color: #FFF;
    }
    #navigation-secondary li:nth-child(3) a:hover,
    #navigation-secondary li:nth-child(3) a:focus,
    #navigation-secondary li:nth-child(3) a.active-trail,
    #navigation-secondary li:nth-child(3) a.active,
    #navigation-secondary li:nth-child(3) a:active {
        background-color: #542c85!important;
        color: #FFF;
    }
   
    #navigation-secondary li:nth-child(4) a:hover,
    #navigation-secondary li:nth-child(4) a:focus,
    #navigation-secondary li:nth-child(4) a.active-trail,
    #navigation-secondary li:nth-child(4) a.active,
    #navigation-secondary li:nth-child(4) a:active {
        background-color: #cb2d2d!important;
        color: #FFF;
    }
    #navigation-secondary li:nth-child(5) a:hover,
    #navigation-secondary li:nth-child(5) a:focus,
    #navigation-secondary li:nth-child(5) a.active-trail,
    #navigation-secondary li:nth-child(5) a.active,
    #navigation-secondary li:nth-child(5) a:active {
        background-color: #eb8c2e!important;
        color: #FFF;
    }


/* Downard triangle added to the second navigation menus */
#navigation-secondary ul li a:active:after,
#navigation-secondary ul li a.active:after 
/* #navigation-secondary ul li a:hover:after */ {
    content: '';
    display: block;
    position: absolute;
    top: 100%; /*should be set to 100% */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-width: 10px;
    z-index: 10;
}

/* Color added to match parent menu of arrow added */

#navigation-secondary li:nth-child(1) a:active:after,
#navigation-secondary li:nth-child(1) a:hover:after,
#navigation-secondary li:nth-child(1) a.active:after {
    border-color: #2098c3 transparent transparent transparent;
    left: 40%;
}
#navigation-secondary li:nth-child(2) a:active:after,
#navigation-secondary li:nth-child(2) a:hover:after,
#navigation-secondary li:nth-child(2) a.active:after {
    left: 42%;
    border-color: #6da748 transparent transparent transparent;
}
#navigation-secondary li:nth-child(3) a:active:after,
#navigation-secondary li:nth-child(3) a:hover:after,
#navigation-secondary li:nth-child(3) a.active:after {
    left: 40%;
    border-color: #542c85 transparent transparent transparent;
}
#navigation-secondary li:nth-child(4) a:active:after,
#navigation-secondary li:nth-child(4) a:hover:after,
#navigation-secondary li:nth-child(4) a.active:after {
    left: 45%;
    border-color: #cb2d2d transparent transparent transparent;
}
#navigation-secondary li:nth-child(5) a:active:after,
#navigation-secondary li:nth-child(5) a:hover:after,
#navigation-secondary li:nth-child(5) a.active:after {
    left: 40%;
    border-color: #eb8c2e transparent transparent transparent;
}
/*  Slider all pages  */

.slider_title h3 {
    font-family: 'AGaramondPro-Bold';
    margin: 5px auto 2px auto;
}

.view-main-page-top-slider ul,
.slider ul {
    overflow: hidden;
    max-height:500px;
    margin-bottom: -11px;
}

.slider img {
    max-width: 100%;
    height:auto;
}

.slider .flexslider {
    border:none;
    margin:0;
}

.flex-control-nav {
    bottom: 70px;
}
.single-item-slider-content,
.slider_content {
    width: 60%;
    height: 95px;
    padding: 2px 40px 5px 15px;
    background-color: #FFF;
    opacity: 0.8;
    filter: alpha(opacity=80);
    left:20%;
    bottom:11%;
    position:absolute;
}
.single-item-slider-content:after,
.slider_content:after /*arrow added to slider_content DIV*/ {
    content: '';
    display: block;
    position: absolute;
    top: -34px;
    width: 0;
    height: 0;
    border-color: transparent transparent #FFF transparent; /*border color should be same as div div background color*/
    border-style: solid;
    border-width: 18px;
}
.slider_desc {
    color: #002b55;
    font-size: 14px;
    float:left;
}

@media (max-width: 767px) { 
     /*arrow added to slider_content DIV*/
     .single-item-slider-content:after,
    .slider_content:after {
        display: none;
    }
}

@media (max-width: 767px) {
   /*arrow added to slider_content DIV*/
   .single-item-slider-content,
    .slider_content {
        padding:2px 2px 5px 15px; 
    }

    .slider_content {
        min-height: 130px;
    }
}

@media (max-width: 767px) {
       /*arrow added to slider_content DIV*/
    .single-item-slider-content,
    .slider_content {
        position:relative;
        width: 100%;
        float:left;
        bottom: 0;
        left:0;
        height:auto;
        margin-bottom: 10px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 1199px) {
    .slider_content {
        min-height:115px;
    }

}
@media (min-width: 1250px) {
    .slider_content {
        bottom:11%;
    }
}

@media (min-width: 1300px) {
    .slider_content {
        bottom:12%;
    }
}

@media (min-width: 1350px) {
    .slider_content {
        bottom:15%;
    }
}

@media (min-width: 1400px) {
    .slider_content {
        bottom:18%;
    }
}

@media (min-width: 1450px) {
    .slider_content:after {
        bottom:21%;
    }
}

@media (min-width: 1500px) {
    .slider_content {
        bottom:24%;
    }
}

@media (min-width: 1550px) {
    .slider_content {
        bottom:26%;
    }
}

@media (min-width: 1600px) {
    .slider_content {
        bottom:28%;
    }
}

@media (min-width: 1650px) {
    .slider_content {
        bottom:30%;
    }
}

@media (min-width: 1700px) {
    .slider_content {
        bottom:32%;
    }
}

@media (min-width: 1750px) {
    .slider_content {
        bottom:34%;
    }
}


@media (min-width: 1800px) {
    .slider_content {
        bottom:36%;
    }
}

@media (min-width: 1850px) {
    .slider_content {
        bottom:38%;
    }
}

@media (min-width: 1900px) {
    .slider_content {
        bottom:39%;
    }
}

@media (min-width: 1950px) {
    .slider_content {
        bottom:41%;
    }
}

@media (min-width: 2050px) {
    .slider_content {
        bottom:44%;
    }
}

@media (min-width: 2150px) {
    .slider_content {
        bottom:46%;
    }
}
@media (min-width: 2250px) {
    .slider_content {
        bottom:48%;
    }
}
@media (min-width: 2350px) {
    .slider_content {
        bottom:50%
    }
}

@media (min-width: 2450px) {
    .slider_content {
        bottom:52%;
    }
}
@media (min-width: 2550px) {
    .slider_content {
        bottom:54%;
    }
}

@media (min-width: 2650px) {
    .slider_content {
        bottom:56%;
    }
}
@media (max-width: 1199px) {
    .slider_desc {
        max-width: 450px;
    }
}

@media (max-width: 1130px) {
    .slider_desc {
        max-width: 350px;
    }
}

@media (max-width: 876px) {
    .slider_desc {
        max-width: 290px;
    }
}

@media (max-width: 500px) {
    .slider_desc {
        max-width: 250px;
    }
}
/*  Slider Front Page  */
.main-site ul.slides .slider_title h3 {
    color: #002b55;
}
.main-site .view-main-page-top-slider .flex-control-paging li a.flex-active,
.main-site ul.slides li .slider_content::before {
    background-color: #002b55;
}
/* Slider Alumni about mercy */
.about-mercy ul.slides .slider_title h3,
.alumni ul.slides .slider_title h3 {
    color: #2098c3;
}
.about-mercy .view-main-page-top-slider .flex-control-paging li a.flex-active,
.about-mercy ul.slides li .slider_content::before,
.alumni .view-main-page-top-slider .flex-control-paging li a.flex-active,
.alumni ul.slides li .slider_content::before {
    background-color: #2098c3;
}
.about-mercy a.fancy-video-slider {
    background-image: url('/sites/default/files/default_images/playbutton_blue.png');
}
.alumni a.fancy-video-slider {
    background-image: url('/sites/default/files/default_images/playbutton_blue.png');
}

/* Slider for Academics */
a.purple-font,
.purple-font .pane-content,
.academics .slider_title h3 {
    color:#542c85;
}

.academics .view-main-page-top-slider .flex-control-paging li a.flex-active,
.academics ul.slides li .slider_content::before {
    background-color: #542c85;
}

.academics a.fancy-video-slider {
    background-image: url('/sites/default/files/default_images/playbutton_purple.png');
}

/* Slider for Student Life */

.student-life .slider_title h3 {
    color:#cb2d2d;
}

.student-life .view-main-page-top-slider .flex-control-paging li a.flex-active,
.student-life ul.slides li .slider_content::before {
    background-color: #cb2d2d;
}

.student-life a.fancy-video-slider {
    background-image: url('/sites/default/files/default_images/playbutton_red.png');
}

/* Slider for Admissions */

.admissions .slider_title h3 {
    color:#6da748;
}

.admissions .view-main-page-top-slider .flex-control-paging li a.flex-active,
.admissions li .slider_content::before {
    background-color: #6da748;
}

.admissions a.fancy-video-slider {
    background-image: url('/sites/default/files/default_images/playbutton_green.png');
}

/* Slider for Visit */
.visit .slider_title h3 {
    color:#eb8c2e;
}

.visit .view-main-page-top-slider .flex-control-paging li a.flex-active,
.visit li .slider_content::before {
    background-color: #eb8c2e;
}

.visit a.fancy-video-slider {
    background-image: url('/sites/default/files/default_images/playbutton_orange.png');
}

/*  Slider navigation controls and description field. */
a.flex-prev,
a.flex-next {
    height: 38px;
}
.flex-control-nav {
    position: relative;
    z-index: 5;
    bottom: 70px;
    width: auto;
    right:21%;
    float:right;
}
.flex-control-nav li {
        float: left;
    }
@media (max-width: 767px) {
    .flex-control-nav li {
        display: none;
    }
}
@media (max-width: 500px) { 
    a.flex-prev,
    a.flex-next {
        display: none!important;
    }
}

/* Admissions breadcrumb/slider spacing fix */

.front.Admissions .view-display-id-event_horizon.container {
    margin-top: 25px;
    max-width: 1140px;
}

.front.Admissions .breadcrumb, .front.Visit .breadcrumb, .front.Academics .breadcrumb, .front.Student-Affairs .breadcrumb {
    margin-top: 25px;
    margin-bottom:0px;
}

.front.Admissions .owl-item.active.first-visible {
    margin-left: 292px;
}
.front.Admissions .owl-item.active.first-visible.last-visible {
    margin-left: 25px;
}

.front.Admissions .owl-carousel .owl-item {
  width: 0px !important;
}

.front.Admissions .owl-carousel .owl-wrapper {
    margin-left: 34px;
}
.front.Admissions .owl-carousel .owl-item:nth-child(2) { /*First event after the "All Campuses" button*/
  margin-left: 0px;
}

.front.Admissions .owl-carousel .owl-item {
  width: 234px !important;
}

@media (max-width: 991px) {
    .front.Admissions .view-display-id-event_horizon.container {
        max-width: 970px;
    }
}

@media (max-width: 767px) {
    .front.Admissions .view-display-id-event_horizon.container {
        max-width: 750px;
    }    
}
/*fix for academics top row */

#schools_topbar {
    max-width: 100%;
}
#schools_topbar div {
    margin-left:0;
    margin-right:0;
    border-right: 1px solid #dfdede;
}

#schools_topbar div a:first-child {
margin-left: 0px!important;
}
#schools_topbar div a:first-child {
margin-right: 0px!important;
}/* fix for event pages */

.page-events .row {
    margin-left: 0px!important;
    margin-right:0px!important;
}
/*  Main Container  */
.content-container {
    background-color: #dfdede;
    padding-top: 20px;
 }
.landing-container,
.content-container {
     padding-bottom: 500px;
     min-height: 0%;
}
/*  Footer  */

.main-footer {  
    padding:25px;
    background-color: #062b54;
    background-image: url('/sites/default/files/default_images/Mercy_seal_footer.jpg');
    background-repeat:no-repeat;
    background-position: left bottom;
    background-size: contain;
    width: 100%;
    min-height: 500px;
    margin-top: -500px; /* must be adjusted negatively according to footer's height */
}

 .footer-menu {
    color:white; 
    min-height:400px;
    width:270px;
    float:left;
    line-height: normal;
}

 .footer-menu a {
    color: #FFF;
    text-decoration: none;
 }

.footer-menu a:hover {
    color: #ccc;
    text-decoration: none;
 }

span.uppercaser {
    text-transform: uppercase;
}

@media (max-width: 1199px ) {
    .footer-menu {
        width:230px;
    }
}

@media (max-width: 1199px ) {
    .footer-menu iframe {
        width:230px;
    }
}

/* Panels Modal Content fix */
#modalContent {
    overflow: scroll!important;
}
/* Panels and fieldable panes add content fix overlay */
#modal-content .panels-add-content-modal,
.modal-content #modal-content {
    overflow: scroll;
}

/*Basic Page. A panel base page. */


/* Main Page styles */


.main-page-title {
    position:absolute;
    width:400px;
    max-width: 100%;
    top:3%;
    padding-left:20px;

    color:#FFF;
    font-family: 'AGaramondPro-Bold';
}

.darken-title-2 {
    background-image: url('/sites/default/files/default_images/blackfadelight.png');
}
.darken-title-1 {
    background-image: url('/sites/default/files/default_images/blackfadedark.png');
}
.darken-title-1,
.darken-title-2 {
    height:200px
}

.darken-absolute {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0px;
}

.panel-display img {
    width:100%;
    height:auto;
}

img.media-element {
    width:auto;
    height:auto;
}

.main-page-button a {
      background: #d1d1d1;
      bottom:4px;
      left:15px;
      float:left;
      position: absolute;
      background-image: -webkit-linear-gradient(top, #d1d1d1, #878787);
      background-image: -moz-linear-gradient(top, #d1d1d1, #878787);
      background-image: -ms-linear-gradient(top, #d1d1d1, #878787);
      background-image: -o-linear-gradient(top, #d1d1d1, #878787);
      background-image: linear-gradient(to bottom, #d1d1d1, #878787);
      font-family: Arial;
      color: #002b55;
      padding: 2px 20px;
      text-decoration: none;
      box-shadow: 2px 2px 10px #ccc;

    }

.main-page-button a:hover {
  background: #abacad;
  background-image: -webkit-linear-gradient(top, #abacad, #5e5e5e);
  background-image: -moz-linear-gradient(top, #abacad, #5e5e5e);
  background-image: -ms-linear-gradient(top, #abacad, #5e5e5e);
  background-image: -o-linear-gradient(top, #abacad, #5e5e5e);
  background-image: linear-gradient(to bottom, #abacad, #5e5e5e);
  text-decoration: none;
}

.main-page-button a:active {
    margin-bottom:-1px;

}

@media (max-width: 600px) {
    .main-page-button a {
        /*left:5px;*/
    }
}

/* Main Pages bg styles */

/* Main double beveled boxes with picture on top title class */

/* Decrease font size on layouts with three internal columns of smaller size */
.smaller-title .middle-left .title-triangle-top,
.smaller-title .middle-center .title-triangle-top,
.smaller-title .middle-right .title-triangle-top,
.smaller-title .middle-left .title-bevel-corners,
.smaller-title .middle-center .title-bevel-corners,
.smaller-title .middle-right .title-bevel-corners,
.smaller-title .middle-left .title-box,
.smaller-title .middle-center .title-box,
.smaller-title .middle-right .title-box {
    font-size:16px!important;
    text-align: center;
}
.programs-bevel-corners .pane-title,
.panel-bootstrap-pane .accordion-title,
.title-bevel-corners,
.title-bevel-corners-purple,
.title-bevel-corners-red,
.title-bevel-corners-green,
.title-bevel-corners-blue,
.title-bevel-corners-orange {
    position: relative;
    font-size: 25px;
    height:100%;
    padding: 23px 55px 0 15px;
    min-height:55px;
    line-height: 1.2em;
    font-family: 'AGaramondPro-Bold';
}

/* Box Color selector title and content*/
.programs-bevel-corners .pane-content,
.programs-bevel-corners .pane-title,
.view-degrees-programs .view-filters,
.view-course-catalog .view-filters,
.panel-bootstrap-pane .accordion-title,
.panel-bootstrap-pane .accordion-body,
.white,
.more-faqs,
.original,
.title-triangle-top,
.content-triangle-top,
.title-bevel-corners,
.content-bevel-corners,
.content-box,
.title-box {
    color: #002b55;
    background-color:#FFF;
}
.purple,
.title-triangle-top-purple,
.content-triangle-top-purple,
.title-bevel-corners-purple,
.content-bevel-corners-purple,
.content-box-purple,
.title-box-purple {
    background-color: #542c85;
    color:#b9a9d1;
}
.red,
.title-triangle-top-red,
.content-triangle-top-red,
.title-bevel-corners-red,
.content-bevel-corners-red,
.content-box-red,
.title-box-red {
    background-color: #cb2d2d;
    color:#f7c3ae;
}
.green,
.title-triangle-top-green,
.content-triangle-top-green,
.title-bevel-corners-green,
.content-bevel-corners-green,
.content-box-green,
.title-box-green {
    background-color: #6da748;
    color:#c4dd9e;
}
.blue,
.title-triangle-top-blue,
.content-triangle-top-blue,
.title-bevel-corners-blue,
.content-bevel-corners-blue,
.content-box-blue,
.title-box-blue {
    background-color: #2098c3;
    color:#aeddeb;
}
.orange,
.title-triangle-top-orange,
.content-triangle-top-orange,
.title-bevel-corners-orange,
.content-bevel-corners-orange,
.content-box-orange,
.title-box-orange {
    background-color: #eb8c2e;
    color:#f2d2b0;
}
/* Bottom Bevel Corner - title */
.programs-bevel-corners .pane-title:after,
.panel-bootstrap-pane .accordion-title:after,
.title-bevel-corners:after,
.title-bevel-corners-purple:after,
.title-bevel-corners-red:after,
.title-bevel-corners-green:after,
.title-bevel-corners-blue:after,
.title-bevel-corners-orange:after {
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
    border-width: 18px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
    border-bottom-width: 0;
    bottom: -18px;
    margin-bottom: 1px;
}
.programs-bevel-corners .pane-title:after,
.panel-bootstrap-pane .accordion-title:after,
.title-bevel-corners:after {    
    border-top-color: #FFF;
    border-left-color: #FFF;
}
.title-bevel-corners-purple:after {    
    border-top-color: #542c85;
    border-left-color: #542c85;
}
.title-bevel-corners-red:after {    
    border-top-color: #cb2d2d;
    border-left-color: #cb2d2d;
}
.title-bevel-corners-green:after{    
    border-top-color: #6da748;
    border-left-color: #6da748;
}
.title-bevel-corners-blue:after{    
    border-top-color: #2098c3;
    border-left-color: #2098c3;
}
.title-bevel-corners-orange:after {
    border-top-color: #eb8c2e;
    border-left-color: #eb8c2e;
}

/* Content box for content with bevel corners */
.programs-bevel-corners .pane-content,
.panel-bootstrap-pane .accordion-body,
.content-bevel-corners,
.content-bevel-corners-purple,
.content-bevel-corners-red,
.content-bevel-corners-green,
.content-bevel-corners-blue,
.content-bevel-corners-orange {
    position: relative;
    padding: 0 15px 18px 18px;
    margin-top: 36px;
}

/* Bevel top Corner - content */
.programs-bevel-corners .pane-content:after,
.panel-bootstrap-pane .accordion-body:after,
.content-bevel-corners:after,
.content-bevel-corners-purple:after,
.content-bevel-corners-red:after,
.content-bevel-corners-green:after,
.content-bevel-corners-blue:after,
.content-bevel-corners-orange:after {
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
    border-width: 18px;
    content: "";
    display: block;
    right: 0;
    position: absolute;
    width: 100%;
    border-top-width: 0;
    top: -18px;
    margin-top: 1px;
}
.programs-bevel-corners .pane-content:after,
.panel-bootstrap-pane .accordion-body:after,
.content-bevel-corners:after {
    border-bottom-color: #FFF;
    border-left-color: #FFF;
}
.content-bevel-corners-purple:after {
    border-bottom-color: #542c85;
    border-left-color: #542c85;
}
.content-bevel-corners-red:after {
    border-bottom-color: #cb2d2d;
    border-left-color: #cb2d2d;
}
.content-bevel-corners-green:after{
    border-bottom-color: #6da748;
    border-left-color: #6da748;
}
.content-bevel-corners-blue:after{
    border-bottom-color: #2098c3;
    border-left-color: #2098c3;
}
.content-bevel-corners-orange:after {
    border-bottom-color: #eb8c2e;
    border-left-color: #eb8c2e;
}

/* Menu inside bevel corners */

p.front-menu-description {
padding: 0 15px;
}

.content-box-purple ul.menu li a,
.content-bevel-corners ul.menu li a,
.content-bevel-corners-purple ul.menu li a,
.content-bevel-corners-red ul.menu li a,
.content-bevel-corners-green ul.menu li a,
.content-bevel-corners-blue ul.menu li a,
.content-bevel-corners-orange ul.menu li a {
    color:inherit;
    text-transform: uppercase;
    font-weight: bold;
}
/* submenus */
.content-bevel-corners-purple .nav .open > a,
.content-bevel-corners-purple .nav .open > a:focus,
.content-bevel-corners-purple .nav .open > a:hover,
.content-bevel-corners-red .nav .open > a,
.content-bevel-corners-red .nav .open > a:focus,
.content-bevel-corners-red .nav .open > a:hover,
.content-bevel-corners-green .nav .open > a,
.content-bevel-corners-green .nav .open > a:focus,
.content-bevel-corners-green .nav .open > a:hover,
.content-bevel-corners-blue .nav .open > a,
.content-bevel-corners-blue .nav .open > a:focus,
.content-bevel-corners-blue .nav .open > a:hover,
.content-bevel-corners-orange .nav .open > a,
.content-bevel-corners-orange .nav .open > a:focus,
.content-bevel-corners-orange .nav .open > a:hover,

/* menus */
.content-box-purple ul.menu li a:hover,
.content-bevel-corners-purple li a:hover,
.content-bevel-corners-red li a:hover,
.content-bevel-corners-green li a:hover,
.content-bevel-corners-blue li a:hover,
.content-bevel-corners-orange li a:hover,
.content-bevel-corners-purple li a:focus,
.content-bevel-corners-red li a:focus,
.content-bevel-corners-green li a:focus,
.content-bevel-corners-blue li a:focus,
.content-bevel-corners-orange li a:focus,
.content-box-purple li a.active,
.content-bevel-corners-purple li a.active,
.content-bevel-corners-red li a.active,
.content-bevel-corners-green li a.active,
.content-bevel-corners-blue li a.active,
.content-bevel-corners-orange li a.active,
.content-bevel-corners-purple li a.active-trail,
.content-bevel-corners-red li a.active-trail,
.content-bevel-corners-green li a.active-trail,
.content-bevel-corners-blue li a.active-trail,
.content-bevel-corners-orange li a.active-trail {
    background-color: rgba(255, 255, 255, 0.2);
}
/* for menu with white background style on hover is different */
.content-bevel-corners li a:hover,
.content-bevel-corners li a:focus,
.content-bevel-corners li a.active {
    background-color: rgba(0, 0, 0, 0.2);
}

/* hover for submenus  */

.content-bevel-corners-purple .dropdown-menu > li > a:hover, 
.content-bevel-corners-purple .dropdown-menu > li > a:focus,
.content-bevel-corners-red .dropdown-menu > li > a:hover, 
.content-bevel-corners-red .dropdown-menu > li > a:focus,
.content-bevel-corners-green .dropdown-menu > li > a:hover, 
.content-bevel-corners-green .dropdown-menu > li > a:focus,
.content-bevel-corners-blue .dropdown-menu > li > a:hover, 
.content-bevel-corners-blue .dropdown-menu > li > a:focus,
.content-bevel-corners-orange .dropdown-menu > li > a:hover, 
.content-bevel-corners-orange .dropdown-menu > li > a:focus {
    color:#fff;
    background-color: none;
    background-image:none;
}
/*submenus background and font when parent is hovered */

.content-bevel-corners-purple .dropdown-menu,
.content-bevel-corners-red .dropdown-menu, 
.content-bevel-corners-green .dropdown-menu, 
.content-bevel-corners-blue .dropdown-menu, 
.content-bevel-corners-orange .dropdown-menu {
    color:#fff;
    background-color: rgba(255, 255, 255, 0.2);
}/* submenus active state */

.content-bevel-corners-purple .dropdown-menu > .active > a,
.content-bevel-corners-purple .dropdown-menu > .active > a,
.content-bevel-corners-red .dropdown-menu > .active > a,
.content-bevel-corners-red .dropdown-menu > .active > a,
.content-bevel-corners-green .dropdown-menu > .active > a,
.content-bevel-corners-green .dropdown-menu > .active > a,
.content-bevel-corners-blue .dropdown-menu > .active > a,
.content-bevel-corners-blue .dropdown-menu > .active > a,
.content-bevel-corners-orange .dropdown-menu > .active > a,
.content-bevel-corners-orange .dropdown-menu > .active > a {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.2);
    color:inherit;
}

/* Secondary boxes with triangle sticking up to picture - Title */
.title-triangle-top,
.title-triangle-top-purple,
.title-triangle-top-red,
.title-triangle-top-green,
.title-triangle-top-blue,
.title-triangle-top-blue {
    padding: 0 15px 15px 15px;
    margin-bottom: 3px;
    position: relative;
    font-size: 25px;
    height:100%;
    line-height: 1.2em;
    font-family: 'AGaramondPro-Bold';
}
.title-triangle-top:before,
.title-triangle-top-purple:before,
.title-triangle-top-red:before,
.title-triangle-top-green:before,
.title-triangle-top-blue:before,
.title-triangle-top-orange:before {
    content: '';
    display: block;
    position: relative;
    bottom: 34px;
    left:0;
    margin-left:auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px;
    margin-bottom: -18px;
}
.title-triangle-top:before {
    border-color: transparent transparent #FFF transparent;
}
.title-triangle-top-purple:before {
    border-color: transparent transparent #542c85 transparent;
}
.title-triangle-top-red:before {
    border-color: transparent transparent #cb2d2d transparent;
}
.title-triangle-top-green:before {
    border-color: transparent transparent #6da748 transparent;
}
.title-triangle-top-blue:before {
    border-color: transparent transparent #2098c3 transparent;
}
.title-triangle-top-orange:before {
    border-color: transparent transparent #eb8c2e transparent;
}

/* Content box for content with triangle on top */
.content-triangle-top,
.content-triangle-top-purple,
.content-triangle-top-red,
.content-triangle-top-green,
.content-triangle-top-blue,
.content-triangle-top-orange {
    position: relative;
    padding: 18px;
}

/* Square box */

.content-box,
.content-box-purple,
.content-box-red,
.content-box-green,
.content-box-blue,
.content-box-orange {
    padding:15px;
}

.title-box,
.title-box-purple,
.title-box-red,
.title-box-green,
.title-box-blue,
.title-box-orange {
    font-size: 25px;
    padding:15px 15px 0 15px;
    font-family: 'AGaramondPro-Bold';
}

/* Linked title and Images */
.panel-bootstrap-pane .accordion-title a,
.title-box a,
.title-box-purple a,
.title-box-red a,
.title-box-green a,
.title-box-green a,
.title-box-orange a,
.title-triangle-top a,
.title-triangle-top-purple a,
.title-triangle-top-red a,
.title-triangle-top-green a,
.title-triangle-top-blue a,
.title-triangle-top-orange a,
.title-bevel-corners a,
.title-bevel-corners-purple a,
.title-bevel-corners-red a,
.title-bevel-corners-green a,
.title-bevel-corners-blue a,
.title-bevel-corners-orange a {
    color:inherit;
}
.panel-bootstrap-pane .accordion-title a:hover,
.title-box a:hover,
.title-box-purple a:hover,
.title-box-red a:hover,
.title-box-green a:hover,
.title-box-green a:hover,
.title-box-orange a:hover,
.title-triangle-top a:hover,
.title-triangle-top-purple a:hover,
.title-triangle-top-red a:hover,
.title-triangle-top-green a:hover,
.title-triangle-top-blue a:hover,
.title-triangle-top-orange a:hover,
.title-bevel-corners a:hover,
.title-bevel-corners-purple a:hover,
.title-bevel-corners-red a:hover,
.title-bevel-corners-green a:hover,
.title-bevel-corners-blue a:hover,
.title-bevel-corners-orange a:hover {
    text-decoration: none;
    opacity: 0.8;
    filter: alpha(opacity=80);

}

/* Accordion Style settings */

.panel-bootstrap-pane .accordion-title .panel-collapse:before {
    content:"-";
    float:right;
    margin-right:-30px;
    color:#ccc;
}
.panel-bootstrap-pane .accordion-title .collapsed:before {
    content:"+";
    float:right;
    color:#ccc;
}

.panel-bootstrap-pane .accordion-title a:hover:before {
    color:#999;
}

/* Fancybox slideshow wraping css -- removes side nav helpers for youtube videos */

.fancybox-type-iframe .fancybox-nav {
    width: 20%;
    height: 90%;
}

/* Video Kit with Fancy Box */

a.fancy-video-slider,
a.fancy-video {
    display:inline;
    float:left;
    position:relative;
    background-size: cover;
    background-position: center;
    text-indent:-9999px;
 }

a.fancy-video {
    height:120px;
    width:120px;
    background-image: url('/sites/default/files/default_images/playbutton.png');
    margin-top: -50%;
    margin-left: 33%;
}
a.fancy-video-slider { /* Video play icon on Top slider */
    clear:none;
    background-image: url('/sites/default/files/default_images/playbutton_original.png');
    width:50px;
    height:50px;
    top:-15px;
    float:right;
 }

@media (max-width:600px) {
    a.fancy-video-slider {
        margin-right: 20px;
    }
}

.video-formatter .field-name-field-image,
.video-formatter .field-image {
    margin-bottom: -10px;
}
.video-desc .field-name-field-content-video-descri,
.video-desc .field-content-video-descri,
.video-desc .field-name-field-description,
.video-desc .field-name-field-content-video-description {
    color: #002b55;
    background-color:#FFF;
    padding: 0 15px 15px 15px;
}
.video-desc .field-title,
.video-desc .field-name-field-title {
    padding: 0 15px 15px 15px;
    position: relative;
    font-size: 25px;
    height:100%;
    line-height: 1.2em;
    background:#FFF;
    color: #002b55;
    font-family: 'AGaramondPro-Bold';
    word-wrap: break-word;

}
.video-desc .field-title:before,
.video-desc .field-name-field-title:before {
    content: '';
    display: block;
    position: relative;
    bottom: 34px;
    margin-left:auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px;
    margin-bottom: -18px;
    border-color: transparent transparent #FFF transparent;
}

/* Puts video play button on bottom right corner */

.user-video-play-button a.fancy-video {
    height: 80px;
    width: 80px;
    margin-top: -38%;
    margin-left: 70%;
    background-image: url('/sites/default/files/default_images/playbutton.png');
}

.smaller-title .right .middle-left .pane-bundle-vertical-video-content-kit .play-button-position-bottom-right-position a.fancy-video,
.smaller-title .right .middle-center .pane-bundle-vertical-video-content-kit .play-button-position-bottom-right-position a.fancy-video,
.smaller-title .right .middle-right .pane-bundle-vertical-video-content-kit .play-button-position-bottom-right-position a.fancy-video {
    margin-top: -45%;
    margin-left: 54%;
}

.pane-bundle-vertical-video-content-kit .play-button-position-bottom-right-position a.fancy-video,
.play-button-position-bottom-right-position a.fancy-video {
    height: 80px;
    width: 80px;
    margin-top: -28%;
    margin-left: 70%;
}

/* video layout for panel-2col-stacked*/
.panel-2col-stacked .panel-col-last .play-button-position-bottom-right-position a.fancy-video {
    margin-top: -15%!important;
    margin-left: 83%!important;

}
.panel-2col-stacked .panel-col-last a.fancy-video {
    margin-top:-40%; 
    margin-left:40%;
}
/* Vertical Video Content Kit play button */

.pane-bundle-vertical-video-content-kit a.fancy-video {
    margin-top:-89.8%; 
    margin-left:34.3%;
}

/* Clean markup single column layout fancy video */
.panel-1col-clean a.fancy-video {
margin-top: -38%;
margin-left: 45%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'AGaramondPro-Bold'!important;
}

.left .username .name,
.design-title,
.pane-local-directory .pane-title,
.pane-bundle-vertical-video-content-kit .field-title {
    font-family: 'AGaramondPro-Bold'!important;
    color:#002b55;
}
.user-profile-padding .field-full-cv,
.user-profile-padding .field-upload-publications {
    margin-left: -29px;
}
.user-profile-padding .field-publications {
    margin-top: 10px;
}

.user-profile-padding .field-margin {
   margin-top: -10px;
}
.content-box .profile-publications span.file img.file-icon {
    height:15px;
    width: 15px;
    display: none;
}
.content-box .profile-publications span.file a {
    background-image: url('/sites/default/files/default_images/pdfdownload_purple.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 10px 0 0 30px;
    background-position-y: 5px;

}
/* For layout with three smaller columns */
.smaller-title .right .middle-left .pane-bundle-vertical-video-content-kit a.fancy-video,
.smaller-title .right .middle-center .pane-bundle-vertical-video-content-kit a.fancy-video,
.smaller-title .right .middle-right .pane-bundle-vertical-video-content-kit a.fancy-video {
    margin-top:-89.8%;
    margin-left:32%;
}

.smaller-title .right .pane-bundle-vertical-video-content-kit a.fancy-video {
    margin-top:-89.8%; 
    margin-left:41%;
}

/* Horizontal video content kit For layout with three smaller columns */

.smaller-title .right  a.fancy-video {
    margin-top:-41%; 
    margin-left:41%;
}

.smaller-title .right .middle-left a.fancy-video,
.smaller-title .right .middle-center a.fancy-video,
.smaller-title .right .middle-right a.fancy-video {
    margin-top:-49%;
    margin-left:32.3%;
    width:80px;
    height:80px;
}
.smaller-title .right .middle-left .field-title,
.smaller-title .right .middle-center .field-title,
.smaller-title .right .middle-right .field-title,
.smaller-title .right .middle-left .field-name-field-title,
.smaller-title .right .middle-center .field-name-field-title,
.smaller-title .right .middle-right .field-name-field-title {
    font-size: 18px;
}


/* Fast Facts Content Kit */

.fast-facts-statistics {
    font-size: 100px;
    color:#002b55;
    margin: 4px 25px 0 25px;
    font-family: 'AGaramondPro-Bold';
}

.fast-facts-explanation {
    color:#002b55;
    margin: 0 25px 20px 25px;
    font-weight: bold;

}

.fast-facts .flexslider {
    margin:0;
    border:none;
    border-radius: 0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow:none;
}
.fast-facts ul.flex-direction-nav a {
    color:#002b55;
    opacity: .8;
    display: block;
    background:#FFF;
    position: inherit;
    margin-top:4px;
    width:50%;
    text-align: center;
    padding: 5px 0 5px 0;
    height:69px;

}
.fast-facts ul.flex-direction-nav a:hover {
    background-color: #eee;
}


.fast-facts ul.flex-direction-nav .flex-prev {
    border-width: 2px 1px 0 0;
    border-style: solid;
    border-color: #ccc;


}

.fast-facts ul.flex-direction-nav .flex-next {
    float:right;
    clear:none;
    margin-top: -69px;
    border-width: 2px 0 0 1px;
    border-style: solid;
    border-color: #ccc
}

.fast-facts .flex-direction-nav a:before {
    font-weight: normal;
}

/* FancyBox Slide Show */


.fancy-slide-show .field-image:not(:first-child),
.fancy-slide-show .field-type-image:not(:first-child) {
    display:none;
}
/*
.fancy-slide-show .field-image:before,
.fancy-slide-show .field-type-image:before {
    content: '';
    background-image: url('/sites/default/files/default_images/playbutton.png');
    width:50px;
    height:50px;
    position: absolute;
    z-index: 5000;
}
*/

/* PDF Uploader */

.pdf-uploader {
    position: relative;
}

.pdf-uploader .book-cover-image img {
    position: absolute;
    height:162px;
    width:108px;
    top:0;
}
.pdf-uploader .field-name-field-publication-date,
.pdf-uploader .field-publication-date {
    color:#ccc;
    font-size: 16px;
    font-weight: normal;
}

.pdf-uploader .field-name-field-title,
.pdf-uploader .field-title,
.pdf-uploader .field-publication-date,
.pdf-uploader .field-name-field-publication-date,
.pdf-uploader .field-name-field-content-description p,
.pdf-uploader .field-content-description p {
    margin-left:112px!important;
}

.pdf-uploader .content-bevel-corners {
    min-height: 100px;
}

.pdf-uploader .field-name-field-content-description p,
.pdf-uploader .field-content-description p {
    margin-right: 15px;
}

.pdf-uploader span.file img.file-icon {
    display: none;
}

.pdf-uploader span.file a {
    height:28px;
    width:28px;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom:10px;
    left:10px;
    text-indent:-9999px;
}

.main-site-pdf-uploader span.file a {
    background-image: url('/sites/default/files/default_images/pdfdownload.png');
}
.alumni-pdf-uploader span.file a {
    background-image: url('/sites/default/files/default_images/pdfdownload_blue.png');
}
.about-mercy-pdf-uploader span.file a {
    background-image: url('/sites/default/files/default_images/pdfdownload_blue.png');
}
.student-affairs-pdf-uploader span.file a {
    background-image: url('/sites/default/files/default_images/pdfdownload_red.png');
}
.academics-pdf-uploader span.file a {
    background-image: url('/sites/default/files/default_images/pdfdownload_purple.png');
}

.admissions-pdf-uploader span.file a {
    background-image: url('/sites/default/files/default_images/pdfdownload_green.png');
}

.visit-pdf-uploader span.file a {
   background-image: url('/sites/default/files/default_images/pdfdownload_orange.png');
}

/* Blue Seal Title */

.blue-seal-title {
    background-image: url('/sites/default/files/default_images/Seal_on_Blue2.jpg');
    background-color: #042c54;
    background-position: 110% 16%;
    background-repeat: no-repeat;
    background-size: 200px 200px;
}

.blue-seal-title h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 24px;
    margin: 0;
    font-family: 'AGaramondPro-Bold';
}
.blue-seal-title h3 a {
    color: #fff;
}

.blue-seal-title h3 a:hover {
    color: #ccc;
    text-decoration: none;
}

/* Photogallery */

.photogallery img {
    height:150px;
    width:150px;
    float:left;
    margin: 0 20px 20px 0px;
}

.pane-bundle-photogallery .pane-title {
    color:#002b55;
    font-family: 'AGaramondPro-Bold';
    margin-top: 0;
    margin-bottom: 10px;
}
.pane-bundle-photogallery {
    clear: both;
}
/* Panel layout issues, making total panel width 100% and moving 
sencond and thrid level views up to align with top margin */

.panel-3col-33-stacked .panel-col {
    width:34%;
}

.hidden,
.group-hidden-title {
    display:none!important;
}

.ui-front {
    z-index: 1002;
}
body.page-search .page-header,
body.page-user .page-header {
    display:none;
}

/* other issues */
ul li {
    word-wrap: break-word;
}
/* hiding revert back to basic page for basic pages */

body.node-type-page button#panelizer-ipe-revert {
    display:none;
}

/* Nav tabs placed at the buttom with the fixed in place editor bar */
.tabbable {
    background:#fff;
}
ul.tabs--primary {
    position: fixed;
    z-index: 999991;
    bottom: 0;
    left: 0;
    border: none;
    background:#000;
    padding:6px 15px;
}

ul.nav-tabs li {
    background:#666;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #383838), color-stop(1, #666666) );
    color: #ccc;
    -webkit-border-radius: 3px;
    margin-right: 5px;
    border:none;
}

ul.nav-tabs li a {
    color:#ccc;
    padding: 6px 10px;
    -webkit-border-radius: 3px;
}
ul.nav-tabs li a:hover {
    background:#999;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #3D3D3D), color-stop(1, #999999) );
    color: #FFF;
}
.panels-ipe-control .panels-ipe-cancel,
.panels-ipe-control .panels-ipe-save,
.panels-ipe-pseudobutton-container {
    float:right;
}


/* Removes title and make title a link boxes on fieldable panes */

#fieldable-panels-panes-fieldable-panels-pane-content-type-edit-form .form-item-link{
    display: none;
}
.footer {
    margin-top: 0;
    padding-bottom:0;
    padding-top: 0;
    border-top:none!important;
}
/* Content Panes */
.field-collection-container {
    border:none;
    margin:0;
}
.field-collection-container .field-collection-view {
    padding:0;
    margin:0;
}
.page-header {
    margin: 0 0 20px;
    font-weight: bold;
    padding-bottom: 0;
    color:#002b55;
    font-family: 'AGaramondPro-Bold';
    border:none;
}
/* Webform Elements */
.webform-component > input.form-control,
.webform-component > input.email,
.webform-component > input.form-number, 
.webform-component > select.form-select {
    margin-bottom: 20px;
}

.webform-container-inline .form-type-select > select.form-select {
    margin-bottom: 10px;
}

.webform-component > input.email,
.webform-component > input.form-number {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


/* Breadcrumbs */

.breadcrumb > li {
color:#999!important;
}
.breadcrumb > li {
color:#999!important;
}

.breadcrumb {
    border-radius: 0;
}
ol.breadcrumb li:before,
.breadcrumb a {
    color: #002b55;
    font-weight: bold;
}

ol.breadcrumb li:before {
    content: ">"

}

ol.breadcrumb li.first:before {
    content: ""

}

/* File icon */
.content-triangle-top span.file img.file-icon,
.content-box span.file img.file-icon,
.content-bevel-corners span.file img.file-icon {
    display:none;
}
/* Directory */

.glyphicon:empty {
    width:auto;
}
.profile-filters .views-exposed-widget .form-submit,
.view-local-directory .views-exposed-widget .form-submit {
    padding:4px 10px;
    margin-top: -1px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    height: 30px;
}

.view-local-directory .views-exposed-widget .form-submit {
    background-color: #5698bb;
    color: #fff;
}
.node-type-crm-campaign-images h1.page-header em, /*CRM Campaign images */
.node-type-crm-campaign-images .form-item-workbench-access, /*CRM Campaign images */
.page-users h1.page-header {
    display:none;
}

.view-local-directory tr.even,
.view-local-directory thead tr {
    background-color: #ceebf4;
}
.view-local-directory thead tr th {
    padding: 15px;
}

.view-local-directory tbody tr td {
    padding:15px 5px 15px 5px;
}
.pane-views-exp-local-directory-page-2 .view-content,
.view-local-directory .view-content {
    margin-top: 50px;
}

.profile-filters  .form-control,
.view-local-directory .form-control {
    height: 30px;
    color:#fff;
    color: #002b55;
    border:none;
}
.view-degrees-programs .profile-search,
.view-course-catalog .profile-search,
.profile-filters .profile-search,
.view-local-directory .profile-search {
    background-color: #fff;
    background-image: none;
    font-size: 22px;
    border:none;
    box-shadow: none;
    padding:0;
    color:#002b55;
    z-index: 100;
}
.view-degrees-programs .profile-search,
.view-course-catalog .profile-search {
    margin-left: -42px;
}

.view-local-directory #edit-field-school-or-department-value {
    max-width: 300px;
}

.view-local-directory .views-exposed-form .views-exposed-widget {
    padding: .5em 0 0 1px;
}

.pane-views-exp-local-directory-page-2 .input-group ::-webkit-input-placeholder,
.view-local-directory .input-group ::-webkit-input-placeholder {
    color:#002b55;
}
.pane-views-exp-local-directory-page-2 .input-group :-moz-placeholder,
.view-local-directory .input-group :-moz-placeholder {
    color:#002b55;
}
.pane-views-exp-local-directory-page-2 .input-group ::-moz-placeholder,
.view-local-directory .input-group ::-moz-placeholder {
    color:#002b55;
}
.pane-views-exp-local-directory-page-2 .input-group :-ms-input-placeholder,
.view-local-directory .input-group :-ms-input-placeholder {
    color:#002b55;
}

/* User's Profile page */
.linked-in {
    background-color: #0d3b65;
    padding:10px;
    margin-top: -13px;
}

.linked-in a {
    color:#fff;
    background-image: url('/sites/default/files/default_images/linkedin-3-128.png');
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: -3px;
    padding-top: 8px;
    padding-right: 33px;
    text-decoration: none;
}
/* .linked-in:after {
    border-bottom-color: #0d3b65;
    border-left-color: #0d3b65;
}
*/
.user-profile-layout .field-job-title,
.user-profile-layout .field-school {
    font-weight: bold;
}
.user-profile-layout .breadcrumb {
    background:none;
    padding:10px 0 0 0;
    display:block;
}
.view-degrees-programs .views-exposed-widget .form-submit,
.view-course-catalog .views-exposed-widget .form-submit {
    padding:3px 3px;
    margin-top: 0;
}
.profile-filters .views-exposed-widget {
    padding:0;
}
.profile-filters .views-submit-button {
 margin-left: 0;
 margin-right: -1px;
}
.profile-line-below {
    border-bottom: 2px solid #dfdede!important;
    padding-bottom: 15px; 
}
.user-profile-padding {
    padding:0!important;
}

.user-profile-padding .pane-content,
.user-profile-padding .pane-title {
    margin-left:40px;
    margin-right:15px;
}

.user-profile-last {
    padding-bottom: 15px;
}

.user-profile h2.pane-title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.user-profile {
        font-size: 16px;
}
.user-profile .input-group {
        /*min-width: 292px;*/
    }
    
.user-profile ul {
    padding-left: 20px;
}
.user-profile-title,
.user-profile-general-information {
    font-size: 20px;
}

.user-profile-padding .pane-user-field-school-or-department {
    padding-bottom: 10px;
}
.user-profile-title {
    color: #a5a6a8;
    font-weight: normal;

}

.address-floaters {
    float:left;
    margin-right: 4px;
}

ul.user-profile {
    list-style-type: none;
    padding-left: 0;
}

.user-profile p.field-institution {
    margin-bottom: 0
}
.user-profile .field-institution a {
    color:#002b55;
}
.user-profile .field-job-description {
    display:block;
}
.user-profile .field-date-to,
.user-profile .field-date-from {
    color:#ccc;
}
.user-profile-layout .field-education p {
    margin: 10px 0 2px 0;
}
.cv-area li {
    margin-bottom: 15px;
}
.pane-user-field-book h2 {
    margin-top: 0;
}

.pane-user-field-book,
.profile-publications {
    padding-bottom: 15px;
}
.profile-publications .field-publications div {
    margin-bottom: 5px;
}
.field-professional-accomplishmen ul {
    padding-left: 0;
    list-style-type: none;
}
.pane-user-field-book .field-exact-title-of-book,
.name-italics {
    font-style: italic;
}
.pane-user-field-book .field-book {
    margin-top: 10px;
}
span.dot-it:after {
     content: ".";
    margin-left: -3px;
    display: inline;
}

span.comma-separate:before {
    content: ",";
    margin-left: -3px;
    display: inline;
}

span.page-page:before {
    content: "(pp.";
        margin-left: 3px;

}
span.page-page:after {
    content: ").";
    margin-left: -3px;

}
span.in-parenthesis:before {
    content: "(";
    margin-right: -3px;
}

span.in-parenthesis:after {
    content: ")";
    margin-left: -3px;

}
/* News articles */

div.newsarticles{
    background-color: white;
    color: #818185;
    border-bottom-color: #818185;
    border-bottom-style: inset;
    border-bottom-width: thin;
    padding-left: 10px;
    padding-top: 10px;
}

p.title {
    color: green;
    font-weight: 900;
    background: white;
}

.newsarticles .field-category{
    display: inline;
}

.newsartlink{
    margin-top: 18px;
    margin-bottom: 18px;
}


div.field-media-file img {
    width: 200px;
    float: left;
    margin-right: 10px;
    height: 200px;
}

div#contact_us {
    background: white;
}
/*
div.panel-pane.pane-custom.pane-1 {
    color: white; 
    background: #5698bb;
    line-height: 2em;
    max-width: 300px;
}

div.panel-pane.pane-custom.pane-1 .pane-content{
    padding-left: 10px;
}
*/
.featurednews {
    background: white;
    line-height: 2em;
    color: #818185;
}

.spotlighttext{
    background: #002b54;
    color: #818185;
    color: white;
    height: 134px;
    line-height: 1.5em;
    margin-bottom: 18px;
}

.spotlighttext .field-category,
.featurednews .field-category {
    display: inline;
}


div.field-spotlight-text {
    display: inline;
}

div.panel-pane.pane-views.pane-news-section{
    margin-top: -72px;
}

.title-triangle-top-dblue {
    padding: 0px 15px -9px 0px;
    position: relative;
    font-size: 25px;
    font-weight: bold;
    height: 100%;
    line-height: 1.2em;
}

.nsleft {
    margin-top: 1em;
    padding-left: 0px;
    padding-right: 0px;
}



div.field-media-file img {
    height: 200px;
    width: 200px;
}
/* Degrees & Programs & Course Catalog */
span.program-title a,
span.program-title {
    color: #002b55;
    font-weight: bold;
    font-size: 18px
}
span.program-department {
    color:#542c85;
    font-weight: bold;
}
span.program-description {
    color: #002b55;
}

.degrees-programs-menus {
    margin-bottom: 2em;

}
.program-container {
    margin: 10px 0 10px 0;
}

#views-exposed-form-degrees-programs-page .views-exposed-widgets {
    margin:0;

}
.view-degrees-programs .btn-primary,
.view-course-catalog .btn-primary { 
    margin-left: -1em;

}
.form-autocomplete ul {
    border: solid 1px #ccc;
}
.view-degrees-programs .input-group input,
.view-degrees-programs .input-group-addon,
.view-course-catalog .input-group-addon,
.view-course-catalog .input-group input {
    background-color:#b3b4b6;
    color:#FFF;
}
.view-degrees-programs .form-submit,
.view-course-catalog .form-submit {
    background-image: none;
    background-color: #b3b4b6;
    border: solid 1px #b3b4b6;
    border:none;
    border-radius: 0;
    box-shadow: none;
}
#edit-field-school-or-department-value {
    border-radius:0;
    -webkit-appearance: none;
}
.btn {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
   border-radius: none !important;
  -moz-border-radius: none !important;
  -webkit-border-radius: none !important;
}

.btn-default {
      text-shadow: none;
}

.view-degrees-programs .form-submit:hover,
.view-course-catalog .form-submit:hover {
    background-color: #ccc;
    background-position: 0;
}
.view-course-catalog .view-content,
.view-course-catalog .view-filters {
    float:left;
    width:100%;
}
ul.course-list {
   list-style-type: none;
}
.view-degrees-programs .view-filters,
.view-course-catalog .view-filters {
    padding: 15px 0 0 25px;
}
.view-degrees-programs .pager,
.view-course-catalog .pager {
   float:right;
}
.pager li > a:hover, .pager li > a:focus {
    border-radius: 0;
}
/* newsroom */
.page-newsroom .region-content .pager {
  clear: both;
  width: 132px;
  margin: 0 0 0 622px;
  padding: 0;
}
.pager li,
.view-course-catalog .pager li,
.page-newsroom .region-content .pager li {
  background: none;
  border: none;
}
.pager li a,
.view-course-catalog .pager li a,
.page-newsroom .region-content .pager li a {
  background: none;
  border: 0px solid #FF0000 !important;
  padding: 5px 0px;
  width: 76px;
}
li.pager-next a,
.view-course-catalog li.pager-next a,
.page-newsroom .region-content li.pager-next a {
  background: url(../img/pager-arrows.png) no-repeat 60px 5px;
  border: 1px solid #E6EDD1;
}
li.pager-previous a,
.view-course-catalog li.pager-previous a,
.page-newsroom .region-content li.pager-previous a {
  background: url(../img/pager-arrows.png) no-repeat 0px -23px;
  border: 1px solid #E6EDD1;
}
li.pager-current,
.view-course-catalog li.pager-current,
.page-newsroom .region-content li.pager-current {
  color: #A5A5A5;
  padding: 5px 0 0;
}

.page-newsroom aside {
  padding: 0px !important;
}

.page-newsroom aside .well {
  padding: 0;
  border-radius: 0px !important;
  background: none;
  border: 0px !important;
  box-shadow: none;
}

.page-newsroom .news-list {
  list-style-type: none;
  padding: 0 !important;
  margin: 0 !important;
}

.page-newsroom .news-list ul {
  padding: 0 0 0 14px;
}

.page-newsroom .news-list li {
  list-style-type: none;
  margin: 0 !important;
  background: #FFF;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #DFDEDE;
  overflow: auto;
  padding: 0;
  min-height: 112px;
}

.page-newsroom .news-list li img {
  float: right;
}
.page-newsroom .news-text {
  float: left;
  padding: 10px 0 0 20px;
}

.page-newsroom .news-text h3 {
  margin: 0;
}

.page-newsroom .news-text h3 a {
  margin: 0;
  color: #002B54;
  font: bold 16px sans-serif;
}

.page-newsroom .news-text .meta {
  font: 14px sans-serif;
  display: block;
  color: #818185;
}

.page-newsroom .news-text .meta .cat {
  color: #0097C4;
}

.page-newsroom .blk-featured-news {
  /*[disabled]overflow:auto;*/
  padding: 0 0 0 13px;
  margin: 0 0 20px;
}

.page-newsroom .blk-featured-news .featured-news-container {
  width: 430px;
  float: left;
  padding: 0px !important;
  margin: 0 0 20px !important;
  background: #FFF;
}

.page-newsroom .blk-featured-news .featured-news-container h2 {
  font: bold 16px sans-serif;
  padding: 0;
  margin: 0;
}

.page-newsroom .blk-featured-news .featured-news-container .featured-news-txt {
  padding: 20px;
  background: url(../img/triangle.png) no-repeat 127px 88px;
  max-height: 106px;
}

.page-newsroom .blk-featured-news .featured-news-container .featured-news-txt h2 a {
  color: #002B54;
}

.page-newsroom .blk-featured-news .featured-news-container .spotlight-txt {
  background: #002B54;
  padding: 20px;
  color: #FFF;
  min-height: 203px;
}

.page-newsroom.chrome .blk-featured-news .featured-news-container .spotlight-txt,
.page-newsroom.safari .blk-featured-news .featured-news-container .spotlight-txt {
  min-height: 201px;
}

.page-newsroom .blk-featured-news .featured-news-container .spotlight-txt .quote {
  font: italic 300 24px times-new-roman;
}

.page-newsroom .blk-featured-news .featured-news-container .spotlight-txt .label {
  font: 14px sans-serif;
  padding: 0;
}

.page-newsroom .blk-featured-news img {
  float: left;
}


/*Menu*/
.page-newsroom .newsmenu .view-header a {
  text-transform: uppercase;
}

.page-newsroom .newsmenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-newsroom .newsmenu li a {
  text-transform: uppercase;
}

/*Search Bar*/
input.throbbing,
.ajax-progress, 
.ajax-progress-throbber,
.pane-views-exp-local-directory-page-2 .input-group-addon,
.view-degrees-programs .views-widget .input-group-addon,
.view-degrees-programs .views-exposed-form .input-group-addon,
.view-course-catalog .views-exposed-form .input-group-addon,
.view-local-directory .views-widget .input-group-addon,
.page-newsroom .blk-news-search .glyphicon-refresh {
  display: none;
  background-image:none!important;
}

.page-newsroom .blk-news-search {
  margin-top: 20px;
  padding: 0 !important;
  position: relative;
  left: 0px;
  height: 32px;
}

.page-newsroom .blk-news-search .input-group {
  padding: 0 !important;
  margin: 0 !important;
  display: block;
  width: 100%;
  /*[disabled]position:absolute;*/
  /*[disabled]right:0px;*/
}

.page-newsroom .blk-news-search .input-group span {
  display: none;
  padding: 0 !important;
  margin: 0 !important;
}

.page-newsroom .blk-news-search .glyphicon-search {
  position: absolute;
  z-index: 10;
  font-size: 1.5em;
  font-weight: bold;
  color: #002B54;
  top: 4px;
  right: 8px;
}

.page-newsroom .blk-news-search .form-text {
  width: 100% !important;
  margin: 0 0 54px !important;
  padding: 5px 33px 5px 10px;
  font-size: 16px;
}

.page-newsroom .blk-news-search .views-widget-filter-title {
  width: 30%;
  padding: 0;
  display: block;
  /*[disabled]position:relative;*/
  height: 60px;
  position: absolute;
  right: 0px;
}

.page-newsroom .blk-news-search .dropdown-menu {
  width: 100%;
  position: absolute !important;
  left: 0px !important;
  margin: 35px 0 0 !important;
}


/*News Archives Block*/
.page-newsroom .blk-news-archives {
  margin: 30px 0 0;
  /*[disabled]background:#FFF;*/
  height: auto;
}

.page-newsroom .blk-news-archives h2 {
  margin: 0 0 2px;
  font-size: 25px;
  height: 100%;
  padding: 15px 55px 10px 15px;
  line-height: 1.2em;
  font-family: AGaramondPro-Bold;
  background: #FFF url(../img/corner-top.png) no-repeat bottom right;
  color: #002B55;
}

.page-newsroom .blk-news-archives h3 {
  background: #0097C4 no-repeat;
  border: none;
  margin: 0px;
}

.page-newsroom .blk-news-archives h3 a {
  color: #FFF;
  font-size: 16px;
  display: inline-block;
  padding: 0 34px 0 0;
  background: #0097C4 url(../img/dropdown-arrow.png) no-repeat 52px 7px;
}

.page-newsroom .blk-news-archives .view-news-section {
  padding: 25px 20px 0 10px;
  background: #FFF url(../img/corner-bottom.png) no-repeat top right;
  min-height: 248px;
}
.page-newsroom .blk-news-archives .view-news-section .ui-accordion-content {
  overflow: visible !important;
  padding: 0px;
  height: auto !important;
  border: none;
}
.page-newsroom .blk-news-archives .news-item a {
  font-size: 14px;
  padding: 3px 0 0 3px;
  display: block;
  color: #4197C4;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #999999;
  background: #DADADA repeat-x 50% 50%;
  font-weight: normal;
  color: #212121;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
    color: #212121;
    text-decoration: none;
}
/* disabling as don't know the need and drupal connect didin't specify, currently interferes with the date picker 
.ui-icon,
.ui-widget-content .ui-icon {
    background-image: none;
}
*/
.ui-state-default .ui-icon {
    background-image: url(images/ui-icons_888888_256x240.png);
}

/* Faculty Profiles */
.pane-bundle-custom-profiles .fieldable-panels-pane,
div.faculty-profile {
    float:left;
    height:auto;
    background-color: #fff;
    margin-bottom: 2em;
    color: #002B54;
    width:100%;
}
div.faculty-profile {
    width:348px;
}

.views-row-odd .faculty-profile {
    margin-right: 1em;
    clear:left;
}
.views-row-even .faculty-profile {
    margin-left: 0em;
}
div.profile-pic img,
div.profile-pic {
    float:left;
    max-width: 130px;
    height:auto;
}
.pane-bundle-custom-profiles span.name,
div.faculty-profile span.name {
    font-size: 16px;
    font-family: AGaramondPro-Bold;
}

.pane-bundle-custom-profiles span.name a,
div.faculty-profile span.name a {
    color:#002b54;
}

.pane-bundle-custom-profiles span,
div.faculty-profile span {
    display: block;
}
.pane-bundle-custom-profiles span.title {
    font-style: italic;

}
.pane-bundle-custom-profiles div.faculty-info-lines,
div.faculty-profile div.faculty-info-lines {
    margin: 5px;
    float:left;
    max-height: 200px;
    overflow: hidden;
}
.pane-bundle-custom-profiles div.faculty-info-lines span.field-name-field-content-description {
    margin-top:10px;
}
div.faculty-profile div.faculty-info-lines,
.pane-bundle-custom-profiles div.faculty-info-lines {
    max-width: 56%;
}
.pane-bundle-custom-profiles a.fancy-video {
    height: 50px;
    width: 50px;
    margin-top: -44%;
    margin-left: 54%;
}

@media (max-width: 1199px) {
    .pane-bundle-custom-profiles div.faculty-info-lines {
        max-width:44%;
    }
}

.courses-group .pane-bundle-custom-profiles div.faculty-info-lines {
    max-width: 77%;
}

/*
.program-outcomes .pane-bundle-custom-profiles div.faculty-info-lines {
    max-width: 77%;
}

.learning-objectives .pane-bundle-custom-profiles div.faculty-info-lines {
    max-width: 77%;
}
*/

.pane-bundle-custom-profiles {
    font-size: 12px;
}

/* temporary remove chat box */

.footer-menu .footer_social:last-child,
a.chat-icon {
    display:none!important;
}
/*fix spacing on student affaris page */

.Student-Affairs .panel-panel.line.header-space {
    margin-bottom:0px;
}

/* newsroom slider on frontpage */

.news-slider .slides .news-text h2 a {
    color: #002B55!important;
}

.front.Mercy-College .row, .page-newsroom .row {
    margin-left: 0px;
}

/* Fix date picker z-index */
#ui-datepicker-div {
    z-index: 9999!important;
}
/* Weather alert bar */

div.weather-wrapper {
    background-color:rgba(204, 34, 51, 1);
    width: 100%;
    float: left;
    padding:15px 0 15px;
}
div.weather-info-wrapper {
    width:70%;
    margin:auto;
}
span.weather-glyph {
    color: rgba(252,209,46,1);
    display:block;
    font-size: 60px;
    float:left;
}
h2.weather-title {
    text-transform: uppercase;
    font-size: 25px;
    margin-top:5px;
    margin-bottom:5px;
}
p.weather-body {
    font-size: 16px;
}
span.weather-text {
    display:block;
    float:right;
    color:#fff;
    width:90%;
}
.weather-wrapper .close {
    margin-right:20px;
    font-size: 35px;
}
.weather-title a {
    color:#fff;
}
.alerts-page {
    border-bottom: 1px solid #ccc;
} 
@media (max-width: 1090px ) {
    h2.weather-title {
        font-size: 18px;
        margin-top:2px;
        margin-bottom:2px;
    }
    p.weather-body {
        font-size: 14px;
    }
    span.weather-glyph {
        font-size: 30px;
    }
    div.weather-info-wrapper {
        width:95%;
    }
    div.weather-wrapper {
        padding:5px 0 5px;
    }
}
/*weather alert bar end */

/* CEEB Code lookup page */
.view-schools-data .views-exposed-widget {
    width:50%;
    float:left;
}
.view-schools-data .input-group-addon {
    display:none;
}
.view-schools-data .views-exposed-widget .input-group {
    width:98%;
}

/* UFT Form CSS alterations */
#edit-month{
    width: 50px;
    float: left;
    text-align: center;
}

 #edit-day{
     display: inline;
    width: 50px;
    margin: -16px 10px 0 10px;
    float: left;
     text-align: center;
     position: relative;
     top: -19px;
     left: 45px;
}
#edit-year{
    display: inline;
    width: 70px;
    margin-top: -88px;
    text-align: center;
    position: relative;
    top: -20px;
    left: 108px;
}

.form-item-month span.form-required, .form-item-day span.form-required, .form-item-year span.form-required {
    display: none;
}

/*

.form-item-gender {
    position: relative;
    top: -45px;
}

.form-item-ethnicity {
    position: relative;
    top: -15px
}
*/

