
/* Tabs shown to authenticated user with rights to edit */
ul.nav-tabs li {
    background-color:#eeeeee;
}

ul.nav-tabs li.active a {
    background-color: #062b54;
    color:#FFF;
}
ul.nav-tabs li.active a:hover {
    background-color: #062b54;

}
/*  Body  */
html,
body {
    height: 100%;
    font-family: "ITC Franklin Gothic Book", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

h3 {
    margin:5px auto;
}

/*  Top Navigation Bar  */
header#navbar,
.navbar-default .navbar-collapse {
    background-color: #002b55!important;
    background-image: none;
    text-transform: uppercase;
    border: 0;
    margin-top:0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    min-height: 39px;
    margin-bottom:0;
}

.navbar-default .nav li a {
    color: #FFF;
    font-size: 12px;
    padding: 9px 16px;
}
a.menu-blue {
    color: #6f9fbb!important
}

.navbar-default a:hover {
    background-color: #4e6b88!important;
    color: #FFF!important;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #113c60
}
.navbar-default a.active {
    background-color: transparent!important;
    color: #878080!important;
}

@media (min-width: 992px) and (max-width: 1198px) {
    header#navbar,
    .navbar-default .navbar-collapse {
            padding-right:5px;
            padding-left:5px;
    }
}
@media (min-width: 992px) and (max-width: 1198px) {
    .navbar-default .nav li a {
            padding: 9px 10px;
    }
}

ul.navbar-nav {
    margin-bottom:0;
}

/* White menu links on main bar */
.navbar-default ul.secondary {
    float:left;
}

@media (max-width: 767px ) {
    .navbar-default ul,
    .navbar-default ul.secondary {
        width: 100%;
        float:right;
    }
}

/* Icon that triggers search bar on navbar */
.nav-icons {
    width:auto;
    float:right;
    clear:none;
}

.nav-icons ul {
    padding-left: 0;
}
.nav-icons ul li {
    list-style: none;
    list-style-type: none;
    float:right;

}
@media (min-width: 768px) and (max-width: 991px) {
    .nav-icons ul li {
        float:none;
        clear:right;
    }
}


.navbar section#block-block-3 {  /* this is the section holding the search icon that triggers the search bar, this style allows menus to be active while logged on to drupal as admin */
    height:auto;
    clear:none;
    float:right;
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar section#block-block-3 {
        margin-top: -38px;
    }
}

.search-toggle-icon {
    padding:7px 12px;
    float:right;


}

.chat-icon {
    padding:7px 12px;
    float:left;


}

.navbar-default .glyphicon-search,
.navbar-default .glyphicon-comment {
    font-size: 20px;
    color: #FFF;
    box-shadow: none;
    text-shadow: none;
}

/* Search bar */

.search-container {
    margin-right: auto;
    margin-left: auto;
    background-color: #b4b5b7!important;

}

.search_bar .input-group ::-webkit-input-placeholder {
    color:transparent;
}

.search_bar .input-group :-moz-placeholder {
    color:transparent;
}

.search_bar .input-group ::-moz-placeholder {
    color:transparent;
}

.search_bar .input-group :-ms-input-placeholder {
    color:transparent;
}


.search_bar .input-group {
    float: left;
    margin-top: 5px;
}

.search_bar .input-group input {
    height:28px;
    border:none!important;
    color:#000;
    border-radius: 0!important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    font-size: 14px;

}

.search_bar .input-group-btn .glyphicon-search {
    font-size: 21px;
    color: #062b55;
    box-shadow: none;
    text-shadow: none;
}

.search_bar .input-group button.btn.btn-default {
    border: 0!important;
    background-color: #FFF!important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0 6px;
    border-radius: 0;
    height:28px;
}

.search_bar {
    height:39px;
    margin-right:auto;
    margin-left:auto;
   
    margin-bottom:0;
    display: none;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 1420px;
   
}

@media (max-width: 1450px) {
    .search_bar {
    width:100%;
}
}

@media (max-width: 1450px) {
    .search_bar .input-group input {
    width:100%;
}
}

.search_bar section#block-block-4 {
    float: right;
    width: 35px;
}


.search_bar section#block-search-form {
    width:45%;
    max-width: 628px;
    margin:auto;
    float:right;
    margin-right: 110px;
  
}
.search_bar .glyphicon.glyphicon-remove {
    font-size: 20px;
    color: #062b55;
    padding:8px 6px;

}

@media (max-width: 768px ) {
    .search_bar {
        height:100%;
        padding-left: 2px;
        padding-right: 2px;
    }
}

@media (max-width: 768px ) {
    .search_bar section#block-search-form {
        margin-right: 15px;
    }
}

/*  Mercy College Logo and Social Links  */
.top-logo {
    margin-bottom: 0;
    margin-top:10px;
}


.main_logo {
    float: left;
    max-width: 300px;
    margin-left: 20px;
}
.main_logo img {
        max-height: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
    }

#social-icons {
    margin-top: 25px;
    margin-right: 40px;
}

@media (min-width: 992px) and (max-width: 1200px) {
    #social-icons {
        margin-right:25px;
    }
}

.main_social {
    float: right;
    max-width: 28px;
    margin-left: 15px;
}
.main_social img {
    max-width: 100%;
    max-height:100%;
}

.main_social img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

/*  Second Navigation Bar  */

#navigation-secondary {
    margin-top: -40px;
    margin-right: 12px;
    margin-bottom: 0;
    float:right;
}

@media (max-width:992px) { 
    #navigation-secondary {
        margin-top: 5px;
    }
}
#navigation-secondary li {
    display: inline-block;
}
#navigation-secondary ul li a {
    padding: 15px 25px;
    color: #002b55;
    font-weight: bold;
    text-transform:uppercase;
}
#navigation-secondary ul li a:hover {
    color: #FFF;
}
@media (max-width: 768px) { 
    #navigation-secondary ul li a {
        padding: 15px 7px!important;
        text-transform:none;
    }
}
@media (max-width: 1200px) { 
    #navigation-secondary ul li a {
        padding: 15px 13px;
    }
}

@media (max-width: 500px) { 
    #navigation-secondary ul li {
        background-color: #002b5f;
        border-top: solid 1px black;
        border-left: solid 1px black;
        border-right: solid 1px black;
        border-radius: 2px!important;
        -moz-border-radius: 2px!important;
        -webkit-border-radius: 2px!important;
        -o-border-radius: 2px!important;
        text-align: center;
        width: 100%;
    }
}
@media (max-width: 500px) { 
    #navigation-secondary ul li a {
        color: #FFF;
    }
}
/* Colored second navigation buttons */
@media (min-width: 500px) {
    #navigation-secondary li:nth-child(1) a.active,
    #navigation-secondary li:nth-child(1) a:hover,
    #navigation-secondary li:nth-child(1) a:focus,
    #navigation-secondary li:nth-child(1) a:active {
        background-color: #2098c3!important;
        color: #FFF;
    }
    #navigation-secondary li:nth-child(2) a:hover,
    #navigation-secondary li:nth-child(2) a:focus,
    #navigation-secondary li:nth-child(2) a.active,
    #navigation-secondary li:nth-child(2) a:active {
        background-color: #6da748!important;  
        color: #FFF;
    }
    #navigation-secondary li:nth-child(3) a:hover,
    #navigation-secondary li:nth-child(3) a:focus,
    #navigation-secondary li:nth-child(3) a.active,
    #navigation-secondary li:nth-child(3) a:active {
        background-color: #542c85!important;
        color: #FFF;
    }
    #navigation-secondary li:nth-child(4) a:hover,
    #navigation-secondary li:nth-child(4) a:focus,
    #navigation-secondary li:nth-child(4) a.active,
    #navigation-secondary li:nth-child(4) a:active  {
        background-color: #cb2d2d!important;
        color: #FFF;
    }
    #navigation-secondary li:nth-child(5) a:hover,
    #navigation-secondary li:nth-child(5) a:focus,
    #navigation-secondary li:nth-child(5) a.active,
    #navigation-secondary li:nth-child(5) a:active {
        background-color: #eb8c2e!important;
        color: #FFF;
    }
}

@media (max-width: 500px) {
    #navigation-secondary ul li a:hover,
    #navigation-secondary ul li a:focus {
        background-color:transparent!important;
        color:#FFF;
    }    
}


@media (max-width: 767px) {
    #navigation-secondary ul li:nth-child(1) a.active,
    #navigation-secondary ul li:nth-child(1) a:active {
        background-color: #2098c3!important;
        color: #FFF;
    }
    #navigation-secondary ul li:nth-child(2) a.active,
    #navigation-secondary ul li:nth-child(2) a:active {
        background-color: #6da748!important;
        color: #FFF;
    }
    #navigation-secondary ul li:nth-child(3) a.active,
    #navigation-secondary ul li:nth-child(3) a:active {
        background-color: #542c85!important;
        color: #FFF;
    }
    #navigation-secondary ul li:nth-child(4) a.active,
    #navigation-secondary ul li:nth-child(4) a:active {
        background-color: #cb2d2d!important;
        color: #FFF;
    }
    #navigation-secondary ul li:nth-child(5) a.active,
    #navigation-secondary ul li:nth-child(5) a:active {
        background-color: #eb8c2e!important;
        color: #FFF;
    }
}
/* Downard triangle added to the second navigation menus */
#navigation-secondary ul li a:active:after,
#navigation-secondary ul li a:active::after,
#navigation-secondary ul li a.active:after,
#navigation-secondary ul li a.active::after,
#navigation-secondary ul li a:hover:after,
#navigation-secondary ul li a:hover::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%; /*should be set to 100% */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-width: 10px;
    z-index: 10;
}
@media (max-width: 500px) { 
    #navigation-secondary ul li a.active:after,
    #navigation-secondary ul li a.active::after,
    #navigation-secondary ul li a:hover:after,
    #navigation-secondary ul li a:hover::after {
        display: none!important;
    }
}

/* Color added to match parent menu of arrow added */
#navigation-secondary li:nth-child(1) a:active::after,
#navigation-secondary li:nth-child(1) a:active:after,
#navigation-secondary li:nth-child(1) a:hover:after,
#navigation-secondary li:nth-child(1) a:hover::after,
#navigation-secondary li:nth-child(1) a.active::after,
#navigation-secondary li:nth-child(1) a.active:after {
    border-color: #2098c3 transparent transparent transparent;
    left: 40%;
}
#navigation-secondary li:nth-child(2) a:active::after,
#navigation-secondary li:nth-child(2) a:active:after,
#navigation-secondary li:nth-child(2) a:hover:after,
#navigation-secondary li:nth-child(2) a:hover::after,
#navigation-secondary li:nth-child(2) a.active::after,
#navigation-secondary li:nth-child(2) a.active:after {
    left: 42%;
    border-color: #6da748 transparent transparent transparent;
}
#navigation-secondary li:nth-child(3) a:active::after,
#navigation-secondary li:nth-child(3) a:active:after,
#navigation-secondary li:nth-child(3) a:hover:after,
#navigation-secondary li:nth-child(3) a:hover::after,
#navigation-secondary li:nth-child(3) a.active::after,
#navigation-secondary li:nth-child(3) a.active:after {
    left: 40%;
    border-color: #542c85 transparent transparent transparent;
}
#navigation-secondary li:nth-child(4) a:active::after,
#navigation-secondary li:nth-child(4) a:active:after,
#navigation-secondary li:nth-child(4) a:hover:after,
#navigation-secondary li:nth-child(4) a:hover::after,
#navigation-secondary li:nth-child(4) a.active::after,
#navigation-secondary li:nth-child(4) a.active:after {
    left: 45%;
    border-color: #cb2d2d transparent transparent transparent;
}
#navigation-secondary li:nth-child(5) a:active::after,
#navigation-secondary li:nth-child(5) a:active:after,
#navigation-secondary li:nth-child(5) a:hover:after,
#navigation-secondary li:nth-child(5) a:hover::after,
#navigation-secondary li:nth-child(5) a.active::after,
#navigation-secondary li:nth-child(5) a.active:after {
    left: 40%;
    border-color: #eb8c2e transparent transparent transparent;
}
/*  Slider all pages  */

.view-main-page-top-slider ul,
.slider ul {
    overflow: hidden;
    max-height:500px;
    margin-bottom: -11px;
}

.slider img {
    max-width: 100%;
    height:auto;

}

.slider .flexslider {
    border:none;
    margin:0;
}

.main-page-slider-content,
.slider_content,
.student_life_slider_content  {
    width: 60%;
    height: 95px;
    padding: 2px 200px 5px 15px;
    background-color: #FFF;
    opacity: 0.8;
    filter: alpha(opacity=80);
    left:20%;
    bottom:11%;
    position:absolute;
}

@media (max-width: 600px) {
    .main-page-slider-content,
    .slider_content,
    .student_life_slider_content  {
        position:relative;
        width: 100%;
        float:left;
        bottom: 0;
        left:0;
        height:auto;
        margin-bottom: 10px;
        padding: 5px;
    }
}


@media (min-width: 1250px) {
    .slider_content,
    .main-page-slider-content,
    .student_life_slider_content {
        bottom:11%;
    }
}

@media (min-width: 1300px) {
    .slider_content,
    .main-page-slider-content,
    .student_life_slider_content {
        bottom:12%;
    }
}

@media (min-width: 1350px) {
    .slider_content,
    .main-page-slider-content,
    .student_life_slider_content {
        bottom:15%;
    }
}

@media (min-width: 1400px) {
    .slider_content,
    .main-page-slider-content,
    .student_life_slider_content {
        bottom:18%;
    }
}

@media (min-width: 1450px) {
    .slider_content,
    .main-page-slider-content,
    .student_life_slider_content {
        bottom:21%;
    }
}

@media (min-width: 1500px) {
    .slider_content,
    .main-page-slider-content,
    .student_life_slider_content {
        bottom:24%;
    }
}

@media (min-width: 1550px) {
    .main-page-slider-content,
    .slider_content,
    .student_life_slider_content {
        bottom:26%;
    }
}

@media (min-width: 1600px) {
    .main-page-slider-content,
    .slider_content,
    .student_life_slider_content {
        bottom:28%;
    }
}

@media (min-width: 1650px) {
    .main-page-slider-content,
    .slider_content,
    .student_life_slider_content {
        bottom:30%;
    }
}

@media (min-width: 1700px) {
    .main-page-slider-content,
    .slider_content,
    .student_life_slider_content {
        bottom:32%;
    }
}

@media (min-width: 1750px) {
    .main-page-slider-content,
    .slider_content,
    .student_life_slider_content {
        bottom:34%;
    }
}


@media (min-width: 1800px) {
    .main-page-slider-content,
    .slider_content,
    .student_life_slider_content {
        bottom:36%;
    }
}

@media (min-width: 1850px) {
    .main-page-slider-content,
    .slider_content,
    .student_life_slider_content {
        bottom:38%;
    }
}

@media (min-width: 1900px) {
    .main-page-slider-content,
    .slider_content,
    .student_life_slider_content {
        bottom:40%;
    }
}

@media (min-width: 1950px) {
    .main-page-slider-content,
    .slider_content,
    .student_life_slider_content {
        bottom:41%;
    }
}

@media (min-width: 2050px) {
    .main-page-slider-content,
    .slider_content,
    .student_life_slider_content {
        bottom:44%;
    }
}

@media (min-width: 2150px) {
    .main-page-slider-content,
    .slider_content,
    .student_life_slider_content {
        bottom:46%;
    }
}
@media (min-width: 2250px) {
    .main-page-slider-content,
    .slider_content,
    .student_life_slider_content {
        bottom:48%;
    }
}
@media (min-width: 2350px) {
    .main-page-slider-content,
    .slider_content,
    .student_life_slider_content {
        bottom:50%
    }
}

@media (min-width: 2450px) {
    .main-page-slider-content,
    .slider_content,
    .student_life_slider_content {
        bottom:52%;
    }
}
@media (min-width: 2550px) {
    .main-page-slider-content,
    .slider_content,
    .student_life_slider_content {
        bottom:54%;
    }
}

@media (min-width: 2650px) {
    .main-page-slider-content,
    .slider_content,
    .student_life_slider_content {
        bottom:56%;
    }
}

.main-page-slider-content:after,
.slider_content:after, /*arrow added to slider_content DIV*/
.student_life_slider_content:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 95px;
    width: 0;
    height: 0;
    border-color: transparent transparent #FFF transparent; /*border color should be same as div div background color*/
    border-style: solid;
    border-width: 18px;S

}

@media (max-width: 767px) { 

.main-page-slider-content:after,
    .slider_content:after, /*arrow added to slider_content DIV*/
    .student_life_slider_content:after {
        display: none;
    }
}

.slider_desc {
    color: #002b55;
}

/*  Slider Front Page  */
ul.slides .slider_title h3 {
    color: #002b55;
}

.view-main-banner .flex-control-paging li a.flex-active,
ul.slides li .slider_content::before {
    background-color: #002b55;
}
/*  Slider Student Life */
ul.slides .student_life_slider_title h3 {
    color: #cb2d2d;
}
.view-student-life-main-banner .flex-control-paging li a.flex-active,
ul.slides li .student_life_slider_content::before {
    background-color: #cb2d2d;
}
/*
ul.slides li:nth-child(2) .slider_title h3,
ul.slides li:nth-child(2) .testclass {
    color:#542c85;
}
.flex-control-paging li:nth-child(2) a.flex-active,
ul.slides li:nth-child(2) .slider_content::before {
    background-color: #542c85;
}
*/
/*  Slider navigation controls and description field. */
a.flex-prev,
a.flex-next {
    height: 50px;
}

.flex-control-nav {
    position: relative;
    z-index: 5;
    bottom: 60px;
    width: auto;
    right:21%;
    float:right;
}


.flex-control-nav li {
        float: left;
    }

@media (max-width: 767px) {
    .flex-control-nav li {
        display: none;
    }
}

@media (max-width: 500px) { 
    a.flex-prev,
    a.flex-next {
        display: none!important;
    }
}


/*  Main Container  */
.content-container {
     background-color: #dfdede;
     padding-bottom: 500px; /* must be at least footer's height, any other amount substracted wil serve as margin */
     min-height: 0%;
     padding-top: 20px;

}

/*  Footer  */

.footer {
    background-color: #062b54;
    background-image: url('/sites/default/files/default_images/Mercy_seal_footer.jpg');
    background-repeat:no-repeat;
    background-position: left bottom;
    width: 100%;
    bottom: 0;
    position: relative;
    min-height: 500px;
    margin-top: -460px; /* must be adjusted negatively according to footer's height */

}

 .footer-menu {
    color:white; 
    min-height:400px;
    width:270px;
    float:left;
    line-height: normal;
}

 .footer-menu a {
    color: #FFF;
    text-decoration: none;
 }

.footer-menu a:hover {
    color: #ccc;
    text-decoration: none;
 }

span.uppercaser {
    text-transform: uppercase;
}

@media (max-width: 1199px ) {
    .footer-menu {
        width:230px;
    }
}

@media (max-width: 1199px ) {
    .footer-menu iframe {
        width:230px;
    }
}

/* Panels Content */


/* ______________________________________________________


Basic Page. A panel base page. */



/* Main Page styles */
.main-page-title {
    position:absolute;
    top:0;
    left:0;
    margin-left: 11%;
    color:#FFF;
}

.panel-display img {
    width:100%;
    height:auto;
}

.main-page-button a {
      float:left;
      background: #d1d1d1;
      background-image: -webkit-linear-gradient(top, #d1d1d1, #878787);
      background-image: -moz-linear-gradient(top, #d1d1d1, #878787);
      background-image: -ms-linear-gradient(top, #d1d1d1, #878787);
      background-image: -o-linear-gradient(top, #d1d1d1, #878787);
      background-image: linear-gradient(to bottom, #d1d1d1, #878787);
      font-family: Arial;
      color: #002b55;
      padding: 2px 20px;
      text-decoration: none;
      box-shadow: 2px 2px 10px #ccc;
      margin-top: 4px;

    }

.main-page-button a:hover {
  background: #abacad;
  background-image: -webkit-linear-gradient(top, #abacad, #5e5e5e);
  background-image: -moz-linear-gradient(top, #abacad, #5e5e5e);
  background-image: -ms-linear-gradient(top, #abacad, #5e5e5e);
  background-image: -o-linear-gradient(top, #abacad, #5e5e5e);
  background-image: linear-gradient(to bottom, #abacad, #5e5e5e);
  text-decoration: none;
}


/* Main Pages bg styles */

/* Main double beveled boxes with picture on top */
.mp-bottom-right-title-bg-original,
.mp-bottom-right-title-bg-purple,
.mp-bottom-right-title-bg-red,
.mp-bottom-right-title-bg-green,
.mp-bottom-right-title-bg-blue,
.mp-bottom-right-title-bg-orange,
.mp-bottom-left-title-bg-original,
.mp-bottom-left-title-bg-purple,
.mp-bottom-left-title-bg-red,
.mp-bottom-left-title-bg-green,
.mp-bottom-left-title-bg-blue,
.mp-bottom-left-title-bg-orange,
.mp-middle-center-title-bg-original,
.mp-middle-center-title-bg-purple,
.mp-middle-center-title-bg-red,
.mp-middle-center-title-bg-green,
.mp-middle-center-title-bg-blue,
.mp-middle-center-title-bg-orange,
.main-page-right-title-bg-original,
.main-page-right-title-bg-purple,
.main-page-right-title-bg-red,
.main-page-right-title-bg-green,
.main-page-right-title-bg-blue,
.main-page-right-title-bg-orange,
.main-page-left-title-bg-original,
.main-page-left-title-bg-purple,
.main-page-left-title-bg-red,
.main-page-left-title-bg-green,
.main-page-left-title-bg-blue,
.main-page-left-title-bg-orange {
    position: relative;
    font-size: 34px;
    height:100%;
    font-weight: bold;
    padding: 15px 55px 0 15px;
    line-height: 1.2em;
}
/* Box Color selector */ 
.mp-bottom-right-title-bg-original,
.mp-bottom-right-content-bg-original,
.mp-bottom-center-title-bg-original,
.mp-bottom-center-content-bg-original,
.mp-bottom-left-title-bg-original,
.mp-bottom-left-content-bg-original,
.mp-middle-right-title-bg-original,
.mp-middle-right-content-bg-original,
.mp-middle-center-title-bg-original,
.mp-middle-center-content-bg-original,
.mp-left-middle-content-bg-original,
.mp-left-middle-title-bg-original,
.mp-column-right-top-content-bg-original,
.main-page-right-title-bg-original,
.mp-body-title-bg-original,
.main-page-center-content-bg-original,
.main-page-left-content-bg-original,
.main-page-left-title-bg-original {
    color: #002b55;
    background-color:#FFF;
}
.mp-bottom-right-title-bg-purple,
.mp-bottom-right-content-bg-purple,
.mp-bottom-center-title-bg-purple,
.mp-bottom-center-content-bg-purple,
.mp-bottom-left-title-bg-purple,
.mp-bottom-left-content-bg-purple,
.mp-middle-right-title-bg-purple,
.mp-middle-right-content-bg-purple,
.mp-middle-center-title-bg-purple,
.mp-middle-center-content-bg-purple,
.mp-left-middle-content-bg-purple,
.mp-left-middle-title-bg-purple,
.mp-column-right-top-content-bg-purple,
.main-page-right-title-bg-purple,
.mp-body-title-bg-purple, 
.main-page-center-content-bg-purple,
.main-page-left-content-bg-purple,
.main-page-left-title-bg-purple {
    background-color: #542c85;
    color:#FFF;
}
.mp-bottom-right-title-bg-red,
.mp-bottom-right-content-bg-red,
.mp-bottom-center-title-bg-red,
.mp-bottom-center-content-bg-red,
.mp-bottom-left-title-bg-red,
.mp-bottom-left-content-bg-red,
.mp-middle-right-title-bg-red,
.mp-middle-right-content-bg-red,
.mp-middle-center-title-bg-red,
.mp-middle-center-content-bg-red,
.mp-left-middle-content-bg-red,
.mp-left-middle-title-bg-red,
.mp-column-right-top-content-bg-red,
.main-page-right-title-bg-red,
.mp-body-title-bg-red,
.main-page-center-content-bg-red,
.main-page-left-content-bg-red,
.main-page-left-title-bg-red {
    background-color: #cb2d2d;
    color:#f7c3ae;
}
.mp-bottom-right-title-bg-green,
.mp-bottom-right-content-bg-green,
.mp-bottom-center-title-bg-green,
.mp-bottom-center-content-bg-green,
.mp-bottom-left-title-bg-green,
.mp-bottom-left-content-bg-green,
.mp-middle-right-title-bg-green,
.mp-middle-right-content-bg-green,
.mp-middle-center-title-bg-green,
.mp-middle-center-content-bg-green,
.mp-left-middle-content-bg-green,
.mp-left-middle-title-bg-green,
.mp-column-right-top-content-bg-green,
.main-page-right-title-bg-green,
.mp-body-title-bg-green,
.main-page-center-content-bg-green,
.main-page-left-content-bg-green,
.main-page-left-title-bg-green {
    background-color: #6da748;
    color:#c4dd9e;
}
.mp-bottom-right-title-bg-blue,
.mp-bottom-right-content-bg-blue,
.mp-bottom-center-title-bg-blue,
.mp-bottom-center-content-bg-blue,
.mp-bottom-left-content-bg-blue,
.mp-bottom-left-title-bg-blue,
.mp-middle-right-title-bg-blue,
.mp-middle-right-content-bg-blue,
.mp-middle-center-title-bg-blue,
.mp-middle-center-content-bg-blue,
.mp-left-middle-content-bg-blue,
.mp-left-middle-title-bg-blue,
.mp-column-right-top-content-bg-blue,
.main-page-right-title-bg-blue,
.mp-body-title-bg-blue,
.main-page-center-content-bg-blue,
.main-page-left-content-bg-blue,
.main-page-left-title-bg-blue {
    background-color: #2098c3;
    color:#aeddeb;
}
.mp-bottom-right-title-bg-orange,
.mp-bottom-right-content-bg-orange,
.mp-bottom-center-title-bg-orange,
.mp-bottom-center-content-bg-orange,
.mp-bottom-left-title-bg-orange,
.mp-bottom-left-content-bg-orange,
.mp-middle-right-title-bg-orange,
.mp-middle-right-content-bg-orange,
.mp-middle-center-title-bg-orange,
.mp-middle-center-content-bg-orange,
.mp-left-middle-content-bg-orange,
.mp-left-middle-title-bg-orange,
.mp-column-right-top-content-bg-orange,
.main-page-right-title-bg-orange,
.mp-body-title-bg-orange,
.main-page-center-content-bg-orange,
.main-page-left-content-bg-orange,
.main-page-left-title-bg-orange {
    background-color: #eb8c2e;
    color:#f2d2b0;
}
/* Bottom Bevel Corner */
.mp-bottom-right-title-bg-original:after,
.mp-bottom-right-title-bg-purple:after,
.mp-bottom-right-title-bg-red:after,
.mp-bottom-right-title-bg-green:after,
.mp-bottom-right-title-bg-blue:after,
.mp-bottom-right-title-bg-orange:after,
.mp-bottom-left-title-bg-original:after,
.mp-bottom-left-title-bg-purple:after,
.mp-bottom-left-title-bg-red:after,
.mp-bottom-left-title-bg-green:after,
.mp-bottom-left-title-bg-blue:after,
.mp-bottom-left-title-bg-orange:after,
.mp-middle-center-title-bg-original:after,
.mp-middle-center-title-bg-purple:after,
.mp-middle-center-title-bg-red:after,
.mp-middle-center-title-bg-green:after,
.mp-middle-center-title-bg-blue:after,
.mp-middle-center-title-bg-orange:after,
.main-page-right-title-bg-original:after,
.main-page-right-title-bg-purple:after,
.main-page-right-title-bg-red:after,
.main-page-right-title-bg-green:after,
.main-page-right-title-bg-blue:after,
.main-page-right-title-bg-orange:after,
.main-page-left-title-bg-original:after,
.main-page-left-title-bg-purple:after,
.main-page-left-title-bg-red:after,
.main-page-left-title-bg-green:after,
.main-page-left-title-bg-blue:after,
.main-page-left-title-bg-orange:after {
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
    border-width: 18px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
    border-bottom-width: 0;
    bottom: -18px;
    margin-bottom: 1px;
}
.mp-bottom-right-title-bg-original:after,
.mp-bottom-right-content-bg-original:after,
.mp-bottom-left-title-bg-original:after,
.mp-middle-center-title-bg-original:after,
.mp-left-middle-title-bg-original:after,
.main-page-right-title-bg-original:after,
.main-page-left-title-bg-original:after {    
    border-top-color: #FFF;
    border-left-color: #FFF;
}
.mp-bottom-right-title-bg-purple:after,
.mp-bottom-right-content-bg-purple:after,
.mp-bottom-left-title-bg-purple:after,
.mp-middle-center-title-bg-purple:after,
.mp-left-middle-title-bg-purple:after,
.main-page-right-title-bg-purple:after,
.main-page-left-title-bg-purple:after {    
    border-top-color: #542c85;
    border-left-color: #542c85;
}
.mp-bottom-right-title-bg-red:after,
.mp-bottom-right-content-bg-red:after,
.mp-bottom-left-title-bg-red:after,
.mp-middle-center-title-bg-red:after,
.mp-left-middle-title-bg-red:after,
.main-page-right-title-bg-red:after,
.main-page-left-title-bg-red:after {    
    border-top-color: #cb2d2d;
    border-left-color: #cb2d2d;
}
.mp-bottom-right-title-bg-green:after,
.mp-bottom-right-content-bg-green:after,
.mp-bottom-left-title-bg-green:after,
.mp-middle-center-title-bg-green:after,
.mp-left-middle-title-bg-green:after,
.main-page-right-title-bg-green:after,
.main-page-left-title-bg-green:after {    
    border-top-color: #6da748;
    border-left-color: #6da748;
}
.mp-bottom-right-title-bg-blue:after,
.mp-bottom-right-content-bg-blue:after,
.mp-bottom-left-title-bg-blue:after,
.mp-middle-center-title-bg-blue:after,
.mp-left-middle-title-bg-blue:after,
.main-page-right-title-bg-blue:after,
.main-page-left-title-bg-blue:after {    
    border-top-color: #2098c3;
    border-left-color: #2098c3;
}
.mp-bottom-right-title-bg-orange:after,
.mp-bottom-right-content-bg-orange:after,
.mp-bottom-left-title-bg-orange:after,
.mp-middle-center-title-bg-orange:after,
.mp-left-middle-title-bg-orange:after,
.main-page-right-title-bg-orange:after,
.main-page-left-title-bg-orange:after {
    border-top-color: #eb8c2e;
    border-left-color: #eb8c2e;
}

/* Content box for content with bevel corners*/
.mp-bottom-right-content-bg-original,
.mp-bottom-right-content-bg-purple,
.mp-bottom-right-content-bg-red,
.mp-bottom-right-content-bg-green,
.mp-bottom-right-content-bg-blue,
.mp-bottom-right-content-bg-orange,
.mp-bottom-left-content-bg-original,
.mp-bottom-left-content-bg-purple,
.mp-bottom-left-content-bg-red,
.mp-bottom-left-content-bg-green,
.mp-bottom-left-content-bg-blue,
.mp-bottom-left-content-bg-orange,
.mp-middle-center-content-bg-original,
.mp-middle-center-content-bg-purple,
.mp-middle-center-content-bg-red,
.mp-middle-center-content-bg-green,
.mp-middle-center-content-bg-blue,
.mp-middle-center-content-bg-orange,
.mp-middle-center-content-bg-original,
.mp-middle-center-content-bg-purple,
.mp-middle-center-content-bg-red,
.mp-middle-center-content-bg-green,
.mp-middle-center-content-bg-blue,
.mp-middle-center-content-bg-orange,
.mp-column-right-top-content-bg-original,
.mp-column-right-top-content-bg-purple,
.mp-column-right-top-content-bg-red,
.mp-column-right-top-content-bg-green,
.mp-column-right-top-content-bg-blue,
.mp-column-right-top-content-bg-orange,
.main-page-left-content-bg-original,
.main-page-left-content-bg-purple,
.main-page-left-content-bg-red,
.main-page-left-content-bg-green,
.main-page-left-content-bg-blue,
.main-page-left-content-bg-orange {
    position: relative;
    padding: 0 10px 18px 18px;
    margin-top: 36px;
    margin-bottom:28px;
}
/* Bevel top Corner */
.mp-bottom-right-content-bg-original:after,
.mp-bottom-right-content-bg-purple:after,
.mp-bottom-right-content-bg-red:after,
.mp-bottom-right-content-bg-green:after,
.mp-bottom-right-content-bg-blue:after,
.mp-bottom-right-content-bg-orange:after,
.mp-bottom-left-content-bg-original:after,
.mp-bottom-left-content-bg-purple:after,
.mp-bottom-left-content-bg-red:after,
.mp-bottom-left-content-bg-green:after,
.mp-bottom-left-content-bg-blue:after,
.mp-bottom-left-content-bg-orange:after,
.mp-middle-center-content-bg-original:after,
.mp-middle-center-content-bg-purple:after,
.mp-middle-center-content-bg-red:after,
.mp-middle-center-content-bg-green:after,
.mp-middle-center-content-bg-blue:after,
.mp-middle-center-content-bg-orange:after,
.mp-column-right-top-content-bg-original:after,
.mp-column-right-top-content-bg-purple:after,
.mp-column-right-top-content-bg-red:after,
.mp-column-right-top-content-bg-green:after,
.mp-column-right-top-content-bg-blue:after,
.mp-column-right-top-content-bg-orange:after,
.main-page-left-content-bg-original:after,
.main-page-left-content-bg-purple:after,
.main-page-left-content-bg-red:after,
.main-page-left-content-bg-green:after,
.main-page-left-content-bg-blue:after,
.main-page-left-content-bg-orange:after {
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
    border-width: 18px;
    content: "";
    display: block;
    right: 0;
    position: absolute;
    width: 100%;
    border-top-width: 0;
    top: -18px;
    margin-top: 1px;
}
.mp-bottom-right-content-bg-original:after,
.mp-bottom-left-content-bg-original:after,
.mp-middle-center-content-bg-original:after,
.mp-column-right-top-content-bg-original:after,
.main-page-left-content-bg-original:after {
    border-bottom-color: #FFF;
    border-left-color: #FFF;
}
.mp-bottom-right-content-bg-purple:after,
.mp-bottom-left-content-bg-purple:after,
.mp-middle-center-content-bg-purple:after,
.mp-column-right-top-content-bg-purple:after,
.main-page-left-content-bg-purple:after {
    border-bottom-color: #542c85;
    border-left-color: #542c85;
}
.mp-bottom-right-content-bg-red:after,
.mp-bottom-left-content-bg-red:after,
.mp-middle-center-content-bg-red:after,
.mp-column-right-top-content-bg-red:after,
.main-page-left-content-bg-red:after {
    border-bottom-color: #cb2d2d;
    border-left-color: #cb2d2d;
}
.mp-bottom-right-content-bg-green:after,
.mp-bottom-left-content-bg-green:after,
.mp-middle-center-content-bg-green:after,
.mp-column-right-top-content-bg-green:after,
.main-page-left-content-bg-green:after {
    border-bottom-color: #6da748;
    border-left-color: #6da748;
}
.mp-bottom-right-content-bg-blue:after,
.mp-bottom-left-content-bg-blue:after,
.mp-middle-center-content-bg-blue:after,
.mp-column-right-top-content-bg-blue:after,
.main-page-left-content-bg-blue:after {
    border-bottom-color: #2098c3;
    border-left-color: #2098c3;
}
.mp-bottom-right-content-bg-orange:after,
.mp-bottom-left-content-bg-orange:after,
.mp-middle-center-content-bg-orange:after,
.mp-column-right-top-content-bg-orange:after,
.main-page-left-content-bg-orange:after {
    border-bottom-color: #eb8c2e;
    border-left-color: #eb8c2e;
}

/* Secondary boxes with triangle sticking up to picture */
.mp-bottom-center-title-bg-original,
.mp-bottom-center-title-bg-purple,
.mp-bottom-center-title-bg-red,
.mp-bottom-center-title-bg-green,
.mp-bottom-center-title-bg-blue,
.mp-bottom-center-title-bg-orange,
.mp-middle-right-title-bg-original,
.mp-middle-right-title-bg-purple,
.mp-middle-right-title-bg-red,
.mp-middle-right-title-bg-green,
.mp-middle-right-title-bg-blue,
.mp-middle-right-title-bg-orange,
.mp-left-middle-title-bg-original,
.mp-left-middle-title-bg-purple,
.mp-left-middle-title-bg-red,
.mp-left-middle-title-bg-green,
.mp-left-middle-title-bg-blue,
.mp-left-middle-title-bg-orange,
.mp-body-title-bg-original,
.mp-body-title-bg-purple,
.mp-body-title-bg-red,
.mp-body-title-bg-green,
.mp-body-title-bg-blue,
.mp-body-title-bg-orange {
    padding: 0 55px 15px 15px;
    margin-bottom: 3px;
    position: relative;
    font-size: 34px;
    font-weight: bold;
    height:100%;
    line-height: 1.2em;
}
.mp-bottom-center-title-bg-original:before,
.mp-bottom-center-title-bg-purple:before,
.mp-bottom-center-title-bg-red:before,
.mp-bottom-center-title-bg-green:before,
.mp-bottom-center-title-bg-blue:before,
.mp-bottom-center-title-bg-orange:before,
.mp-middle-right-title-bg-original:before,
.mp-middle-right-title-bg-purple:before,
.mp-middle-right-title-bg-red:before,
.mp-middle-right-title-bg-green:before,
.mp-middle-right-title-bg-blue:before,
.mp-middle-right-title-bg-orange:before,
.mp-left-middle-title-bg-original:before,
.mp-left-middle-title-bg-purple:before,
.mp-left-middle-title-bg-red:before,
.mp-left-middle-title-bg-green:before,
.mp-left-middle-title-bg-blue:before,
.mp-left-middle-title-bg-orange:before,
.mp-body-title-bg-original:before,
.mp-body-title-bg-purple:before,
.mp-body-title-bg-red:before,
.mp-body-title-bg-green:before,
.mp-body-title-bg-blue:before,
.mp-body-title-bg-orange:before {
    content: '';
    display: block;
    position: relative;
    bottom: 34px;
    left:20px;
    margin-left:auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px;
    margin-bottom: -18px;


}
.mp-bottom-center-title-bg-original:before,
.mp-middle-right-title-bg-original:before,
.mp-left-middle-title-bg-original:before,
.mp-body-title-bg-original:before {
    border-color: transparent transparent #FFF transparent;
}
.mp-bottom-center-title-bg-purple:before,
.mp-middle-right-title-bg-purple:before,
.mp-left-middle-title-bg-purple:before,
.mp-body-title-bg-purple:before {
    border-color: transparent transparent #542c85 transparent;
}
.mp-bottom-center-title-bg-red:before,
.mp-middle-right-title-bg-red:before,
.mp-left-middle-title-bg-red:before,
.mp-body-title-bg-red:before {
    border-color: transparent transparent #cb2d2d transparent;
}
.mp-bottom-center-title-bg-green:before,
.mp-middle-right-title-bg-green:before,
.mp-left-middle-title-bg-green:before,
.mp-body-title-bg-green:before {
    border-color: transparent transparent #6da748 transparent;
}
.mp-bottom-center-title-bg-blue:before,
.mp-middle-right-title-bg-blue:before,
.mp-left-middle-title-bg-blue:before,
.mp-body-title-bg-blue:before {
    border-color: transparent transparent #2098c3 transparent;
}
.mp-bottom-center-title-bg-orange:before,
.mp-middle-right-title-bg-orange:before,
.mp-left-middle-title-bg-orange:before,
.mp-body-title-bg-orange:before {
    border-color: transparent transparent #eb8c2e transparent;
}

/* Content box for content with triangle on top */
.mp-bottom-center-content-bg-original,
.mp-bottom-center-content-bg-purple,
.mp-bottom-center-content-bg-red,
.mp-bottom-center-content-bg-green,
.mp-bottom-center-content-bg-blue,
.mp-bottom-center-content-bg-orange,
.mp-middle-right-content-bg-original,
.mp-middle-right-content-bg-purple,
.mp-middle-right-content-bg-red,
.mp-middle-right-content-bg-green,
.mp-middle-right-content-bg-blue,
.mp-middle-right-content-bg-orange,
.mp-left-middle-content-bg-original,
.mp-left-middle-content-bg-purple,
.mp-left-middle-content-bg-red,
.mp-left-middle-content-bg-green,
.mp-left-middle-content-bg-blue,
.mp-left-middle-content-bg-orange,
.main-page-center-content-bg-original,
.main-page-center-content-bg-purple,
.main-page-center-content-bg-red,
.main-page-center-content-bg-green,
.main-page-center-content-bg-blue,
.main-page-center-content-bg-orange {
    position: relative;
    padding: 18px;
    margin-bottom: 28px;
}

/* Panel layout issues, making total panel width 100% and moving sencond and thrid level views up to align with top margin */

.panel-3col-33-stacked .panel-col {
    width:34%;
}

.panel-displacement-fix {
    margin-top: -14px;
    margin-bottom:-14px;
}

/* Main Page mobile columns collapse */
@media (max-width: 767px) {
    .panel-3col-33-stacked .panel-col-first {
        clear:both;
        width:100%;
    }
}

@media (max-width: 767px) {
    .panel-3col-33-stacked .panel-col,
    .panel-3col-33-stacked .panel-col-last {
        width:50%;

    }
}

@media (max-width: 500px) {
    .panel-3col-33-stacked .panel-col-first,
    .panel-3col-33-stacked .panel-col,
    .panel-3col-33-stacked .panel-col-last {
        clear:both;
        width:100%;

    }
}

/*Basic Page */

.pane-node-body {
    padding:10px 15px;
}

.pane-node-body h2 {
    padding:0;
    margin: 10px 0;
}

.base {
    background:#FFF;
    color:#002b55;

}

.base h2 {
    margin: 0;
    border-bottom: 1px solid #002b55;
}

 /* Video Kit with Fancy Box */


a.fancy-video {
    display:inline;
    float:left;
    margin-top: -40%;
    margin-left: 35%;
    position:relative;
    background-image: url('/sites/default/files/default_images/playbutton.png');
    background-size: cover;
    background-position: center;
    height:70px;
    width:70px;
    text-indent:-9999px
 }

.video-desc .field-name-field-title {
    font-size: 34px;
    font-weight: bold;
    padding: 0 10px;
}
.video-desc .field-name-field-description {
    padding:10px;
}
/* Content Panes */

.field-collection-container {
    border:none;
    margin:0;
}

.field-collection-container .field-collection-view {
    padding:0;
    margin:0;
}


