/* CSS file for 34/33/33/66 stacked layout. */
.content-bevel-corners-purple {
  margin-top: 36px;
}
.panel-header,
.footer {
  width: 100%;
  padding: 0 1em 0 0;
}

.left {
  width: 34%;
}

.right {
  width: 66%;
}

.top-middle {
  width: 50%;
}

.top-right {
  width: 50%;
  float:left;
}

/* Margins taken from the Panels module plugins */
.lastUnit .inside {
  margin: 0 0 1em 1em;
}
.firstUnit .inside {
  margin: 0 1em 1em 0;
}
.unit .inside {
  margin: 0 1em 2.6em 1em;
}

.unitnav .inside {
  margin: 0 1em 2em 0;
}

.panel-panel.line.header-space{
  margin-bottom:0px;
}



@media screen and (max-width: 319px) {
.unit {
    float: none !important;
    width: auto !important;
  }
}

.line:after, .lastUnit:after {
  clear: both;
  display: block;
  visibility: hidden;
  overflow:hidden;
  height:0 !important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}

.unitnav,
.unit {
  float: left;
}

.lastUnit {
  display: table-cell;
  float: right;
  

}

.panel-separator {
  height:2em;
}

.twocol-34-66-two-in-cols-flipped .well,
.twocol-34-66-two-in-cols-flipped .panel {
  margin-bottom: 0;
}
section.col-sm-12 {
  padding-left: 0px;
  padding-right:0px;
}
@media screen and (max-width: 700px) {
.front .left {
    width: 100%;
    margin-left:0;
    margin-right: 0;
    margin: 0;
    left: 0;
    right: 0;
  }

.unit {
    float: none;
    width: 100%;
  }
  .unitnav .inside {
   /* margin: 0 15px 0 15px;*/
  }

}



@media screen and (max-width: 768px) {
  .panel-panel{
    width: 100%!important;
  }
  section.col-sm-12 {
    padding-left :15px!important;
    padding-right :15px!important;
  }

      .inside {
      margin-right: 0px!important;
      margin-left: 0px!important;
    }


    .panel-header, .footer {
      padding:0;
    }

  .news-slider .flexslider {
margin: 0 0 -36px!important
  }
  div#news-slide {
    margin-top: -125px;
  }

  .news-slider .flexslider {

}
}


@media screen and (max-width: 1200px) {
.top-middle {
      width:100%!important;
      margin-top: -85px;
    }
.top-right {
  width: 100%!important;
  float:left;
}

.news-slider .flex-direction-nav {

  margin-bottom: 15px;
}
.news-slider .flexslider.slides {
  margin-top: 40px!important;
}

  }



  .panel-panel.unitnav.left {
    margin-bottom:0px!important;
  }

@media only screen and (max-width: 768px) {

.news-slider .flex-direction-nav {
    width: 100%;
    display: block;
    clear: both !important;
    position: relative !important;
    bottom: 0!important;
    margin-bottom: 30px!important;
    margin-top: 34px !important;


  }
}
